<template>
  <section>
    <el-select v-model="form.pro" @change="changePro()" class="form-select" placeholder="请选择省份">
      <el-option
        v-for="(item,index) in proList"
        :key="index"
        :label="item.label"
        :value="item.value"
      ></el-option>
    </el-select>
    <el-select v-model="form.city" @change="changeCity()" class="form-select" placeholder="请选择市">
      <el-option
        v-for="(item,index) in cityList"
        :key="index"
        :label="item.label"
        :value="item.value"
      ></el-option>
    </el-select>
    <el-select v-model="form.country" class="form-select" placeholder="请选择区">
      <el-option
        v-for="(item,index) in countryList"
        :key="index"
        :label="item.label"
        :value="item.value"
      ></el-option>
    </el-select>
  </section>
</template>
<script>
import options from "@/assets/datas/country-data.js";

export default {
  data() {
    return {
      cityOption: options, //城市数据
      proList: options[0].children,
      cityList: [],
      countryList: [],
      form: {
        province: "",
        city: "",
        region: ""
      }
    };
  },
  methods: {
    //切换省份
    changePro() {
      // 清除市、区值
      this.form.city = "";
      this.form.country = "";
      //
      this.proList.some(item => {
        if (item.value == this.form.pro) {
          this.cityList = item.children;
        }
        return item.value == this.form.pro;
      });
    },
    // 切换城市
    changeCity() {
      // let that = this;
      this.form.country = "";
      this.cityList.some(item => {
        if (item.value == this.form.city) {
          this.countryList = item.children;
        }
        return item.value == this.form.city;
      });
    }
  }
};
/**
 * 切换省份，需要清空修改市、区的值，并重新筛选市、区数据
 * 当省、市、区数据不为空，则把数据回填并筛选对应数据
 *
 *
 */
</script>
