<template>
  <div class="pagination">
    <el-pagination
      v-if="pageTotal > 0"
      background
      :page-sizes="paginations.pageSizes"
      :page-size="paginations.pageSize"
      :layout="paginations.layout"
      :total="paginations.total"
      :current-page="paginations.pageIndex"
      :pager-count="paginations.pagerCount"
      @current-change="handleCurrentChange"
      @size-change="handleSizeChange"
    ></el-pagination>
  </div>
</template>


<script>
export default {
  name: "pagination",
  data() {
    return {
      paginations: {
        total: 0, //总条数
        pagerCount: 5, //页码按钮数
        pageIndex: 1, // 当前位于哪页
        pageSize: 5, // 1页显示多少条
        pageSizes: [5, 10, 15, 30, 50, 100, 300], //每页显示多少条
        layout: "total, sizes, prev, pager, next, jumper" // 翻页属性
      }
    };
  },
  props: {
    pageTotal: {
      type: Number,
      default: () => 0,
      required: true
    },
    page_Size: {
      type: Number,
      default: () => 5,
      required: false
    }
  },
  watch: {
    pageTotal(newValue, oldValue) {
      console.log("监听总条数", newValue);
      this.paginations.total = newValue;
    },
    page_Size(newValue, oldValue) {
      // console.log("监听", newValue);
      this.paginations.pageSize = newValue;
    }
  },
  created() {},
  mounted() {
    this.paginations.total = this.pageTotal;
    this.paginations.pageSize = this.page_Size;
    // console.log("总条数", this.pageTotal, this.page_Size);
  },
  methods: {
    // 上下分页 pageIndex
    handleCurrentChange(page) {
      this.$emit("handleCurrentChange", page);
    },
    // 每页多少条切换 pageSize
    handleSizeChange(page_size) {
      this.$emit("handleSizeChange", page_size);
    }
  }
};
</script>

<style lang="less" scoped>
.pagination {
  text-align: center;
  padding: 10px 18px;
}
</style>
