<template>
  <div class="home rflex">
    <!-- <left-menu></left-menu> -->
    <head-nav></head-nav>
    <div class="menu_right wflex el-scrollbar" ref="menu_right" style="left:0;">
      <div class="menu_content" ref="menu_content">
        <bread></bread>
        <router-view></router-view>
      </div>
      <footerNav></footerNav>
      <backTop :ele="$refs.menu_right"></backTop>
    </div>
  </div>
</template>
<script>
import { mapState, mapGetters } from "vuex";

import HeadNav from "../headNav";
import LeftMenu from "../leftMenu";
import FooterNav from "../footerNav";
import backTop from "cps/backTop";
import Bread from "../bread";

export default {
  name: "home",
  data() {
    return {};
  },
  computed: {
    ...mapGetters(["sidebar"])
  },
  components: {
    HeadNav,
    LeftMenu,
    FooterNav,
    backTop,
    Bread
  },
  created() {},
  mounted() {},
  watch: {}
};
</script>
<style scoped lang='less'>
.home {
  .menu_right {
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f6f7fc;
    .menu_content {
      position: relative;
      margin-top: 60px;
      width: 100%;
      background: #f0f2f5;
    }
  }
}
</style>
