<template>
  <div class="fillcontain">
    <div class="contain">
      <div class="form-title">
        <h3>{{projectName}}</h3>
      </div>
      <el-form ref="form" :model="form" label-width="100px">
        <el-form-item label="工程名称">
          <el-input v-model="form.xmname"></el-input>
        </el-form-item>
        <el-form-item label="工程地址">
          <el-input v-model="form.xmaddress"></el-input>
        </el-form-item>
        <el-form-item label="监测单位">
          <el-input v-model="form.jcdw"></el-input>
        </el-form-item>
        <el-form-item label="委托单位">
          <el-input v-model="form.delegateDw"></el-input>
        </el-form-item>
        <el-form-item label="监测起始时间">
          <el-date-picker
            v-model="form.jcpgStartDate"
            type="datetime"
            placeholder="选择起始日期"
            style="width: 100%;"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="监测终止时间">
          <el-date-picker
            v-model="form.jcpgEndDate"
            type="datetime"
            placeholder="选择终止时间"
            style="width: 100%;"
          ></el-date-picker>
        </el-form-item>
        <el-form-item label="项目负责人">
          <el-input v-model="form.ResponseMan"></el-input>
        </el-form-item>
        <el-form-item label="安全级别">
          <el-select v-model="form.safeLevel" placeholder="请选择安全级别" style="width: 100%;">
            <el-option label="一级" value="1"></el-option>
            <el-option label="二级" value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="所属区域">
          <el-input v-model="form.area"></el-input>
        </el-form-item>
        <el-form-item label="项目类型">
          <el-select v-model="form.type" placeholder="请选择安全级别" style="width: 100%;">
            <el-option label="桥梁" value="桥梁"></el-option>
            <el-option label="基坑" value="基坑"></el-option>
            <el-option label="路基" value="路基"></el-option>
            <el-option label="隧道" value="隧道"></el-option>
            <el-option label="边坡" value="边坡"></el-option>
            <el-option label="站场" value="站场"></el-option>
            <el-option label="房建" value="房建"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="流动测站时间">
          <el-input v-model="form.mobileStationInteval"></el-input>
        </el-form-item>
        <!-- <el-form-item label="监测人员">
          <el-select v-model="form.monitor" placeholder="请选择监测人员" multiple style="width: 100%;">
            <el-option label="张三" value="1"></el-option>
            <el-option label="李四" value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="监督人员">
          <el-select v-model="form.supervisor" placeholder="请选择监督人员" multiple style="width: 100%;">
            <el-option label="张三" value="1"></el-option>
            <el-option label="李四" value="2"></el-option>
          </el-select>
        </el-form-item>-->
        <el-form-item label="关联仪器">
          <el-select
            v-model="form.buildInstrutment"
            placeholder="请选择关联仪器"
            multiple
            style="width: 100%;"
          >
            <el-option label="全站仪1" value="1"></el-option>
            <el-option label="水准仪1" value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="关联采集端" style="display:block;width:100%;">
          <el-input
            class="input-new-tag"
            v-if="inputVisible"
            v-model="inputValue"
            ref="saveTagInput"
            size="small"
            @keyup.enter.native="handleInputConfirm"
            @blur="handleInputConfirm"
          ></el-input>
          <el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
          <el-tag
            size="medium"
            :key="tag"
            v-for="tag in form.acquisitionInstrument"
            closable
            :disable-transitions="false"
            @close="handleClose(tag)"
          >{{tag}}</el-tag>
        </el-form-item>
        <template v-for="(item, index) in constructionUnit">
          <el-divider :key="item.key">
            <i class="el-icon-mobile-phone"></i>
            建设单位{{index+1}}
          </el-divider>
          <el-form-item label="单位名" :key="item.key">
            <el-input v-model="item.name"></el-input>
          </el-form-item>
          <el-form-item label="负责人" :key="item.key+'1'">
            <el-input v-model="item.principal"></el-input>
          </el-form-item>
          <el-form-item label="联系电话" :key="item.key+'2'">
            <el-input v-model="item.phone"></el-input>
          </el-form-item>
          <el-form-item :key="item.key+'3'">
            <!-- <el-input v-model="item.phone"></el-input> -->
            <el-button type="danger" @click="deleteConstructionUnit(item)">删除</el-button>
          </el-form-item>
        </template>
        <el-form-item>
          <el-button type="info" @click="addConstructionUnit">新增建设单位</el-button>
          <!-- <el-button type="danger" @click="deleteConstructionUnit()">删除建设单位</el-button> -->
        </el-form-item>
      </el-form>

      <div style="text-align:center;">
        <el-button type="primary" @click="onSubmit">保存修改</el-button>
        <!-- <el-button>取消</el-button> -->
      </div>
    </div>
  </div>
</template>
<script>
import * as mUtils from "@/utils/mUtils";
import { mapGetters } from "vuex";
import { editProjectData } from "@/api/monitor";
import { getProjectData } from "@/api/project";
export default {
  name: "projectInformation",
  data() {
    return {
      form1: {
        projactName: "新白广城际铁路下穿京广高铁施工监测",
        address: "广州",
        monitoringUnit: "south",
        entrustingParty: "广铁",
        startTime:
          "native Date Fri Dec 13 2019 14:24:39 GMT+0800 (中国标准时间)",
        endTime: "native Date Fri Dec 13 2019 14:24:39 GMT+0800 (中国标准时间)",
        principal: "小明",
        securityLevel: "1",
        area: "区域",
        projectType: "1",
        measuringTime: "1",
        monitor: ["1", "2"],
        supervisor: ["1", "2"],
        instrument: ["1", "2"],
        acquisitionInstrument: ["标签一", "标签二", "标签三"]
        // constructionUnit: [
        //   {
        //     name: "一建",
        //     principal: "王五",
        //     phone: "15066778899"
        //   }
        // ]
      },
      form: {
        mobileStationInteval: 4,
        xmno: 200,
        xmname: "south监测",
        jd: "454534",
        wd: "345345",
        dbname: "southbase",
        cgdbname: null,
        type: "基坑",
        jcpmurl: "",
        createman: "southjcjcy",
        company: "south监测",
        xmaddress: "1",
        pro: "345345",
        city: "45345",
        country: "534543",
        jcdw: "1",
        delegateDw: "1",
        telphone: "",
        xmBz: "174574576547654",
        jcpgStartDate: "2020-1-15",
        jcpgEndDate: "2020-1-16",
        safeLevel: "16435654654654",
        ResponseMan: "southjcjcy",
        buildInstrutment: "1",
        constructionUnit: [
          {
            name: "一建",
            principal: "王五",
            phone: "15066778899"
          }
        ]
      },
      constructionUnit: [
        {
          name: "一建",
          principal: "王五",
          phone: "15066778899"
        }
      ],
      dynamicTags: ["标签一", "标签二", "标签三"],
      inputVisible: false,
      inputValue: ""
    };
  },
  computed: {
    ...mapGetters(["projectName"])
  },
  mounted() {
    console.log("当前项目信息");
    this.getProjectData();
  },
  methods: {
    // 获取当前项目信息
    getProjectData() {
      // 从vuex获取当前项目名
      let name = this.projectName;
      let data = mUtils.toFormData({ xmid: name });
      getProjectData(data)
        .then(res => {
          console.log("当前项目信息", res);
          if (res.code == "200") {
            // this.$message.success(res.msg);
            this.form = res.data;
          } else {
            this.$message.error(res.meg || "Error!");
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    editProjectData() {
      let data = {};

      editProjectData(data)
        .then(res => {
          console.log("编辑当前项目信息", res);
          if (res.code == "200") {
            // this.$message.success(res.msg);
            this.form = res.data;
          } else {
            this.$message.error(res.meg || "Error!");
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    onSubmit() {},
    handleClose(tag) {
      this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        this.dynamicTags.push(inputValue);
      }
      this.inputVisible = false;
      this.inputValue = "";
    },
    // 增加建设单位
    addConstructionUnit() {
      // console.log("当前建设公司", this.constructionUnit);
      this.constructionUnit.push({
        name: "",
        principal: "",
        phone: "",
        key: Date.now()
      });
    },
    deleteConstructionUnit(item) {
      if (this.constructionUnit.length > 1) {
        let newList = [];
        this.constructionUnit.forEach(value => {
          if (value != item) {
            newList.push(value);
          }
        });
        this.constructionUnit = newList;
      }
    }
  }
};
</script>
<style lang="less" scoped>
@deep: ~">>>";
.fillcontain {
  padding-bottom: 0;
}
.contain {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.el-form {
  @{deep} .el-form-item {
    display: inline-block;
    width: 50%;
  }
}
//
.form-title {
  text-align: center;
  margin-bottom: 10px;
  background: #e4e4e4;
  padding: 5px 0px;
}

// tab标签
.el-tag + .el-tag {
  margin-bottom: 5px;
  margin-left: 10px;
}
.button-new-tag {
  //   margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 30px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  //   margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  vertical-align: bottom;
}
</style>