<template>
  <el-row>
    <el-col :span="12">
      <v-echart :chartOption.sync="form.webConfig.chartOptions"></v-echart>
    </el-col>
    <el-col :span="12">
      <el-form ref="form" inline label-position="left" :model="form" label-width="80px">
        <el-divider>曲线数据配置</el-divider>
        <el-form-item label="曲线类型">
          <el-select
            v-model="form.dataConfig.seriestype"
            @change="querySensortypeList"
            placeholder="请选择曲线类型"
          >
            <el-option label="单点多时段" value="单点多时段"></el-option>
            <el-option label="多点单时段" value="多点单时段"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="周期类型">
          <el-select
            v-model="form.dataConfig.variabletype"
            @change="querySensortypeList"
            placeholder="请选择周期类型"
          >
            <el-option label="本次" value="本次"></el-option>
            <el-option label="累计" value="累计"></el-option>
            <el-option label="值" value="值"></el-option>
            <el-option label="变化量" value="变化量"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="监测类型">
          <el-select
            v-model="form.dataConfig.sensortype"
            @change="changeSensortype"
            multiple
            collapse-tags
            placeholder="请选择监测类型"
          >
            <!-- <el-option label="钢筋应力-设置" value="钢筋应力"></el-option>
            <el-option label="应变-未设置" value="应变"></el-option>-->
            <el-option
              v-for="(item, index) in SensortypeList"
              :key="index"
              :label="formatSensorType(item)"
              :value="item.sensorType"
            >
              <!-- {{item.sensorType+item.state}} -->
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="分组">
          <el-select v-model="form.dataConfig.group" multiple collapse-tags placeholder="请选择分组">
            <!-- <el-option label="xmno" value="xmno"></el-option>
            <el-option label="monitorunit" value="monitorunit"></el-option>-->
            <el-option
              v-for="(item, index) in dropDownList"
              :key="index"
              :label="item"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="X轴">
          <el-select v-model="form.dataConfig.XAxies" placeholder="请选择组类型">
            <!-- <el-option label="xmno" value="xmno"></el-option>
            <el-option label="monitorunit" value="monitorunit"></el-option>-->
            <el-option
              v-for="(item, index) in dropDownList"
              :key="index"
              :label="item"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Y轴-1">
          <el-select
            v-model="form.dataConfig.YAxiesPrimary"
            multiple
            collapse-tags
            placeholder="请选择Y轴-1数据源"
          >
            <!-- <el-option label="xmno" value="xmno"></el-option>
            <el-option label="monitorunit" value="monitorunit"></el-option>-->
            <el-option
              v-for="(item, index) in dropDownList"
              :key="index"
              :label="item"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Y轴-2">
          <el-select
            v-model="form.dataConfig.YAxiesSecondary"
            multiple
            collapse-tags
            placeholder="请选择Y轴-2数据源"
          >
            <!-- <el-option label="xmno" value="xmno"></el-option>
            <el-option label="monitorunit" value="monitorunit"></el-option>-->
            <el-option
              v-for="(item, index) in dropDownList"
              :key="index"
              :label="item"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-divider>前端曲线显示样式</el-divider>
        <el-divider content-position="left">标题部分</el-divider>
        <el-form-item label="曲线名">
          <el-input v-model="form.webConfig.chartOptions.title.text"></el-input>
        </el-form-item>
        <el-form-item label="对齐">
          <el-select v-model="form.webConfig.chartOptions.title.left" placeholder="请选择对齐方式">
            <el-option label="左" value="left"></el-option>
            <el-option label="中" value="center"></el-option>
            <el-option label="右" value="right"></el-option>
          </el-select>
        </el-form-item>
        <el-divider content-position="left">图例部分</el-divider>
        <el-form-item label="图例类型">
          <el-select v-model="form.webConfig.chartOptions.legend.type" placeholder="请选择图例类型">
            <el-option label="普通图例" value="plain"></el-option>
            <el-option label="可滚动翻页" value="scroll"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="水平位置">
          <el-select v-model="form.webConfig.chartOptions.legend.x" placeholder="请选择水平位置">
            <el-option label="左" value="left"></el-option>
            <el-option label="中" value="center"></el-option>
            <el-option label="右" value="right"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="垂直位置">
          <el-select v-model="form.webConfig.chartOptions.legend.y" placeholder="请选择垂直位置">
            <el-option label="上" value="top"></el-option>
            <el-option label="中" value="center"></el-option>
            <el-option label="下" value="bottom"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="布局朝向">
          <el-select v-model="form.webConfig.chartOptions.legend.orient" placeholder="请选择布局朝向">
            <el-option label="水平" value="horizontal"></el-option>
            <el-option label="垂直" value="vertical"></el-option>
          </el-select>
        </el-form-item>
        <el-divider content-position="left">绘图网格</el-divider>
        <el-form-item label="顶部距离">
          <el-input v-model="form.webConfig.chartOptions.grid.top"></el-input>
        </el-form-item>
        <el-form-item label="底部距离">
          <el-input v-model="form.webConfig.chartOptions.grid.bottom"></el-input>
        </el-form-item>
        <!-- <el-form-item label="右侧距离">
          <el-input v-model="form.webConfig.chartOptions.grid.right"></el-input>
        </el-form-item>
        <el-form-item label="左侧距离">
          <el-input v-model="form.webConfig.chartOptions.grid.left"></el-input>
        </el-form-item>-->
        <el-divider content-position="left">提示框</el-divider>

        <el-divider content-position="left">X轴</el-divider>
        <el-form-item label="X轴名">
          <el-input v-model="form.webConfig.chartOptions.xAxis[0].name"></el-input>
        </el-form-item>
        <el-form-item label="X轴类型">
          <el-select v-model="form.webConfig.chartOptions.xAxis[0].type" placeholder="请选择X轴类型">
            <el-option label="数值" value="value"></el-option>
            <el-option label="时间轴" value="time"></el-option>
            <el-option label="类目轴" value="category"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="标签角度">
          <!-- <el-input v-model="form.webConfig.chartOptions.xAxis.name"></el-input> -->
          <el-input-number
            v-model="form.webConfig.chartOptions.xAxis[0].axisLabel.rotate"
            controls-position="right"
            :min="-90"
            :max="90"
          ></el-input-number>
        </el-form-item>
        <el-divider content-position="left">Y轴</el-divider>
        <el-form-item label="Y-1轴名">
          <el-input v-model="form.webConfig.chartOptions.yAxis[0].name"></el-input>
        </el-form-item>
        <el-form-item label="Y-1轴类型">
          <el-select v-model="form.webConfig.chartOptions.yAxis[0].type" placeholder="请选择X轴类型">
            <el-option label="数值" value="value"></el-option>
            <el-option label="时间轴" value="time"></el-option>
            <el-option label="类目轴" value="category"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Y-2轴名">
          <el-input v-model="form.webConfig.chartOptions.yAxis[1].name"></el-input>
        </el-form-item>
        <el-form-item label="Y-2轴类型">
          <el-select v-model="form.webConfig.chartOptions.yAxis[1].type" placeholder="请选择Y-2轴类型">
            <el-option label="数值" value="value"></el-option>
            <el-option label="时间轴" value="time"></el-option>
            <el-option label="类目轴" value="category"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <el-button type="primary" @click="saveConfigData">立即保存</el-button>
    </el-col>
  </el-row>
</template>
<script>
import QS from 'qs';
import Echart from "./components/Echart";
import {
  getSensortypeList,
  getChartSetting,
  getResultDataStruct,
  saveConfig
} from "@/api/curveGenerator";
import { log } from 'util';
export default {
  name: "CurveGenerator",
  components: {
    "v-echart": Echart
  },
  data() {
    return {
      form: {
        dataConfig: {//后端配置
          sensortype: [], //监测类型
          seriestype: "单点多时段", //单点 多点
          variabletype: "本次", //本次  累计
          group: [],
          XAxies: "",
          YAxiesPrimary: [],
          YAxiesSecondary: []
        },
        webConfig: {//前端配置
          chartOptions: {
            title: {
              text: "雨量监测曲线",
              left: "center"
            },
            legend: {
              type: "plain",
              x: "center",
              y: "bottom",
              orient: "horizontal"
              // data: ["2015 降水量", "2016 降水量"]
            },
            grid: {
              top: 70,
              bottom: 70
            },
            tooltip: {
              trigger: "axis",

              axisPointer: {
                type: "cross"
              }
            },
            xAxis: [
              {
                name: "日期",
                type: "category",
                axisTick: {
                  alignWithLabel: true
                },
                axisLine: {
                  onZero: false,
                  lineStyle: {
                    color: "#5793f3"
                  }
                },
                axisLabel: {
                  rotate: 0
                },
                // axisPointer: {
                //   label: {
                //     formatter: function(params) {
                //       return (
                //         "降水量  " +
                //         params.value +
                //         (params.seriesData.length
                //           ? "：" + params.seriesData[0].data
                //           : "")
                //       );
                //     }
                //   }
                // },
                data: [
                  "2016-1",
                  "2016-2",
                  "2016-3",
                  "2016-4",
                  "2016-5",
                  "2016-6",
                  "2016-7",
                  "2016-8",
                  "2016-9",
                  "2016-10",
                  "2016-11",
                  "2016-12"
                ]
              }
            ],
            yAxis: [
              {
                type: "value",
                name: "",
                position: "left"
              },
              {
                type: "value",
                name: "",
                position: "right"
              }
            ],
            series: [
              {
                name: "温度",
                type: "line",
                smooth: true,
                data: [
                  3.9,
                  5.9,
                  11.1,
                  18.7,
                  48.3,
                  69.2,
                  231.6,
                  46.6,
                  55.4,
                  18.4,
                  10.3,
                  0.7
                ]
              },
              {
                name: "2019 降水量",
                type: "line",
                smooth: true,
                yAxisIndex: 1,
                data: [
                  2.9,
                  4.9,
                  15.1,
                  14.7,
                  44.3,
                  61.2,
                  255.6,
                  64.6,
                  55.4,
                  28.4,
                  30.3,
                  2.7
                ]
              }
            ]
          }
        }
      },
      dropDownList: [],
      SensortypeList: []
    };
  },
  mounted() {
    // 查询监测类型数据
    this.querySensortypeList();
    // 获取数据字段下拉数据
    this.queryStruct();
  },
  methods: {
    // // 保存配置
    // saveConfig() {
    //   console.log("保存数据：", this.form);
    // },
    // 获取数据字段下拉数据
    queryStruct() {
      getResultDataStruct().then(res => {
        console.log(res);
        this.dropDownList = res.data;
      });
    },
    // 查询监测类型下拉数据
    querySensortypeList() {
      // console.log("查询监测类型");
      let parameter = {
        seriestype: this.form.dataConfig.seriestype,
        variabletype: this.form.dataConfig.variabletype
      };
      getSensortypeList(parameter).then(res => {
        console.log("查询监测类型", res);
        this.SensortypeList = res.data;
      });
    },
    // 查询曲线配置数据
    queryChartSetting() {
      let parameter = {
        seriestype: this.form.dataConfig.seriestype,
        variabletype: this.form.dataConfig.variabletype,
        sensortype: this.form.dataConfig.sensortype[0] //如果勾选多个监测类型，默认查询第一个
      };
      getChartSetting(parameter).then(res => {
        console.log(res);
      });
    },
    // 保存曲线配置
    saveConfigData() {
      let data={
        sensortypestr:this.arrayToString(this.form.dataConfig.sensortype),
        seriestype:this.form.dataConfig.seriestype,
        variabletype:this.form.dataConfig.variabletype, //本次  累计
        group: this.arrayToString(this.form.dataConfig.group),
        XAxiesPrimary: this.form.dataConfig.XAxies,
        YAxiesPrimary: this.arrayToString(this.form.dataConfig.YAxiesPrimary),
        YAxiesSecondary: this.arrayToString(this.form.dataConfig.YAxiesSecondary),
        CssStyle:JSON.stringify(this.form.webConfig)
      }
      console.log("data",data);
      saveConfig(QS.stringify(data)).then(res => {
        console.log(res);
      });
    },
    // 勾选改变监测类型
    changeSensortype() {
      // 查询
      // this.queryChartSetting();
    },
    // 筛选符合的监测类型配置数据
    filterConfigList(key, rawArray) {
      if (rawArray.legend > 0) {
        let list = {};
        list = rawArray.filter(item => {
          if (item.sensortype == key) {
            list = item;
          }
        });
        return list;
      }
    },
    formatSensorType(item) {
      if (item.state) {
        return "已设置-" + item.sensorType;
      } else {
        return "未设置-" + item.sensorType;
      }
    },
    arrayToString(arrays){
      if (arrays) {
        return arrays.join(',').toString();
      }
    }
  }
};
</script>
<style lang="less" scoped>
</style>