<template>
  <section>
    <el-dialog title="批量设置预警" :visible.sync="dialogFormVisible" @close="dialogClose" center>
      <el-form :model="form" size="medium">
        <el-form-item label="测点名称" :label-width="formLabelWidth">
          <el-input v-model="form.point_name" disabled autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="一级预警" :label-width="formLabelWidth">
          <el-select v-model="form.firstalarmname" placeholder="请选择预警">
            <el-option
              v-for="(item, index) in warningLiat"
              :key="index"
              :label="item"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="二级预警" :label-width="formLabelWidth">
          <el-select v-model="form.secalarmname" placeholder="请选择预警">
            <el-option
              v-for="(item, index) in warningLiat"
              :key="index"
              :label="item"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="三级预警" :label-width="formLabelWidth">
          <el-select v-model="form.thirdalarmname" placeholder="请选择预警">
            <el-option
              v-for="(item, index) in warningLiat"
              :key="index"
              :label="item"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="测点备注" :label-width="formLabelWidth">
          <el-input
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4}"
            v-model="form.remark"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveData()">确 定</el-button>
      </div>
    </el-dialog>
  </section>
</template> 
<script>
import * as mUtils from "@/utils/mUtils";
import { mapGetters } from "vuex";
import { getProjectWarningList, batchSettingWarnings } from "@/api/project";

export default {
  name: "batchSettingDialog",
  data() {
    return {
      dialogFormVisible: false,
      formLabelWidth: "100px",
      warningLiat: [],
      form: {
        point_name: "",
        firstalarmname: "",
        secalarmname: "",
        thirdalarmname: "",
        remark: ""
      },
      rows: []
    };
  },
  props: {
    batchSettingDgVisible: {
      type: Boolean,
      default: false,
      required: true
    },
    pointStr: {
      type: String,
      default: () => "",
      required: true
    }
  },
  computed: {
    ...mapGetters(["name", "projectName", "sensorType"])
  },
  watch: {
    batchSettingDgVisible(newValue, oldValue) {
      this.dialogFormVisible = newValue;
      if (this.dialogFormVisible) {
        this.getProjectWarningList();
      }
    },
    pointStr(newValue, oldValue) {
      this.form.point_name = newValue;
    }
  },
  mounted() {
    this.getProjectWarningList();
  },
  methods: {
    // 关闭回调
    dialogClose() {
      this.$emit("batchSettingDgClose");
    },
    // 获取项目预警列表
    getProjectWarningList() {
      let data = {
        xmname: this.projectName,
        sensortype: this.sensorType
      };
      data = mUtils.toFormData(data);
      getProjectWarningList(data).then(res => {
        if (res.code == "200") {
          this.warningLiat = res.data;
          console.log("获取项目预警列表", res.data);
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    },
    // 保存
    saveData() {
      let data = {
        xmname: this.projectName,
        sensortype: this.sensorType,
        pointnamestr: this.form.point_name,
        firstalarmname: this.form.firstalarmname,
        secalarmname: this.form.secalarmname,
        thirdalarmname: this.form.thirdalarmname,
        remark: this.form.remark
      };
      data = mUtils.toFormData(data);
      batchSettingWarnings(this.name, data).then(res => {
        if (res.code == "200") {
          // console.log("addPoint", res.data);
          this.dialogFormVisible = false;
          // 刷新
          this.$emit("refreshTable");
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    }
  }
};
</script>
<style lang="less" scoped>
.el-select {
  width: 100%;
}
</style>