<template>
  <section>
    <el-dialog title="批量设置预警" :visible.sync="dialogFormVisible" @close="dialogClose" center>
      <el-form :model="form" inline>
        <el-form-item label="一级预警" :label-width="formLabelWidth">
          <el-select v-model="form.first" placeholder="请选择预警">
            <el-option label="一级" value="一级"></el-option>
            <el-option label="二级" value="二级"></el-option>
            <el-option label="三级" value="三级"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="二级预警" :label-width="formLabelWidth">
          <el-select v-model="form.second" placeholder="请选择预警">
            <el-option label="一级" value="一级"></el-option>
            <el-option label="二级" value="二级"></el-option>
            <el-option label="三级" value="三级"></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="三级预警" :label-width="formLabelWidth">
          <el-select v-model="form.three" placeholder="请选择预警">
            <el-option label="一级" value="一级"></el-option>
            <el-option label="二级" value="二级"></el-option>
            <el-option label="三级" value="三级"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveData()">确 定</el-button>
      </div>
    </el-dialog>
  </section>
</template>
<script>
export default {
  data() {
    return {
      dialogFormVisible: false,
      formLabelWidth: "100px",
      form: {
        first: "",
        second: "",
        three: ""
      },
      rows: []
    };
  },
  props: {
    dialogVisible: {
      type: Boolean,
      default: false,
      required: true
    },
    // addType: {
    //   type: String,
    //   default: () => "add",
    //   required: true
    // },
    rowData: {
      type: Array,
      default: () => [],
      required: true
    }
  },
  computed: {
    // addStatus: function() {
    //   let status = Boolean;
    //   this.addType == "add" ? (status = true) : (status = false);
    //   return status;
    // }
  },
  watch: {
    dialogVisible(newValue, oldValue) {
      this.dialogFormVisible = newValue;
    },
    rowData: {
      deep: true, //深度监听
      handler: function(newValue, oldValue) {
        let str = JSON.stringify(newValue);
        this.rows = JSON.parse(str);
      }
    }
  },
  methods: {
    // 关闭回调
    dialogClose() {
      this.$emit("dialogClose");
    },
    // 保存
    saveData() {
      this.editData();
    },
    //提交编辑
    editData() {
      console.log("保存编辑", this.form);
      this.dialogFormVisible = false;
    }
  }
};
</script>