<template>
  <section>
    <!-- <el-button type="text" @click="dialogVisible = true">点击打开 Dialog</el-button> -->

    <el-dialog
      title="upload"
      :visible.sync="dialogVisible"
      width="30%"
      center
      @close="handleClose"
      :destroy-on-close="true"
    >
      <div class="upload-container">
        <el-upload
          class="upload-demo"
          ref="upload"
          drag
          action="https://jsonplaceholder.typicode.com/posts/"
          :on-preview="handlePreview"
          :on-remove="handleRemove"
          :file-list="fileList"
          :auto-upload="false"
        >
          <!-- <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
        <el-button
          style="margin-left: 10px;"
          size="small"
          type="success"
          @click="submitUpload"
          >上传到服务器</el-button>-->
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">
            Drop your files here!
            <!-- <em>点击选取</em> -->
          </div>
          <div class="el-upload__text">
            <el-button
              style="margin-left: 10px;"
              size="small"
              type="success"
              @click="submitUpload"
            >upload</el-button>
          </div>
          <!-- <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div> -->
        </el-upload>
      </div>
      <!-- <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>-->
    </el-dialog>
  </section>
</template>
<script>
export default {
  data() {
    return {
      dialogVisible: false,
      fileList: []
    };
  },
  props: {
    pointFileUploadVisible: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    pointFileUploadVisible(newValue, oldValue) {
      this.dialogVisible = newValue;
    }
  },
  methods: {
    handleClose(done) {
      this.$emit("closePointFileUpload");
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    },
    handleExceed(files, fileList) {
      this.$message.warning(
        `当前限制选择 3 个文件，本次选择了 ${
          files.length
        } 个文件，共选择了 ${files.length + fileList.length} 个文件`
      );
    },
    beforeRemove(file, fileList) {
      return this.$confirm(`确定移除 ${file.name}？`);
    },
    submitUpload() {
      this.dialogVisible = false;
    }
  }
};
</script>
<style lang="less" scoped>
.upload-container {
  // text-align: center;
}
</style>