<template>
  <section>
    <el-dialog title="测点设置" :visible.sync="dialogFormVisible" @close="dialogClose" center>
      <el-form :model="form" size="medium">
        <el-form-item label="测点名称" :label-width="formLabelWidth">
          <el-input v-model="form.point_name" :disabled="pointNameEdit" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="一级预警" :label-width="formLabelWidth">
          <el-select v-model="form.firstalarmname" placeholder="请选择预警">
            <el-option
              v-for="(item, index) in warningLiat"
              :key="index"
              :label="item"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="二级预警" :label-width="formLabelWidth">
          <el-select v-model="form.secalarmname" placeholder="请选择预警">
            <el-option
              v-for="(item, index) in warningLiat"
              :key="index"
              :label="item"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="三级预警" :label-width="formLabelWidth">
          <el-select v-model="form.thirdalarmname" placeholder="请选择预警">
            <el-option
              v-for="(item, index) in warningLiat"
              :key="index"
              :label="item"
              :value="item"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="测点备注" :label-width="formLabelWidth">
          <el-input
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4}"
            v-model="form.remark"
            autocomplete="off"
          ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveData()">确 定</el-button>
      </div>
    </el-dialog>
  </section>
</template> 
<script>
import * as mUtils from "@/utils/mUtils";
import { mapGetters } from "vuex";
import {
  addSensorPoint,
  updataSensorPoint,
  getProjectWarningList
} from "@/api/project";

export default {
  name: "pointEditDialog",
  data() {
    return {
      dialogFormVisible: false,
      formLabelWidth: "100px",
      warningLiat: [],
      form: {
        point_name: "",
        firstalarmname: "",
        secalarmname: "",
        thirdalarmname: "",
        remark: ""
      },
      rows: []
    };
  },
  props: {
    addType: {
      type: Boolean,
      default: false,
      required: true
    },
    pointEditDgVisible: {
      type: Boolean,
      default: false,
      required: true
    },
    pointObject: {
      type: Object,
      default: () => {
        return {
          point_name: "",
          firstalarmname: "",
          secalarmname: "",
          thirdalarmname: "",
          remark: ""
        };
      },
      required: true
    }
  },
  computed: {
    ...mapGetters(["name", "projectName", "sensorType"]),
    pointNameEdit: function() {
      return !this.addType;
    }
    // addStatus: function() {
    //   let status = Boolean;
    //   this.addType == "add" ? (status = true) : (status = false);
    //   return status;
    // }
  },
  watch: {
    pointEditDgVisible(newValue, oldValue) {
      // console.log("监听", newValue);
      this.dialogFormVisible = newValue;
    },
    pointObject: {
      deep: true, //深度监听
      handler: function(newValue, oldValue) {
        let str = JSON.stringify(newValue);
        this.form = JSON.parse(str);
      }
    }
  },
  mounted() {
    this.getProjectWarningList();
  },
  methods: {
    // 关闭回调
    dialogClose() {
      this.$emit("pointEditDgClose");
    },
    // 获取项目预警列表
    getProjectWarningList() {
      let data = {
        xmname: this.projectName,
        sensortype: this.sensorType
      };
      data = mUtils.toFormData(data);
      getProjectWarningList(data).then(res => {
        if (res.code == "200") {
          this.warningLiat = res.data;
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    },
    // 保存
    saveData() {
      this.addType ? this.addPoint() : this.updataPoint();
    },
    // 添加
    addPoint() {
      let data = {
        xmname: this.projectName,
        sensortype: this.sensorType,
        pointname: this.form.point_name,
        firstalarmvalue: this.form.firstalarmname,
        secalarmvalue: this.form.secalarmname,
        thirdalarmvalue: this.form.thirdalarmname,
        remark: this.form.remark
      };
      data = mUtils.toFormData(data);
      addSensorPoint(this.name, data).then(res => {
        if (res.code == "200") {
          // console.log("addPoint", res.data);
          this.dialogFormVisible = false;
          // 刷新
          this.$emit("refreshTable");
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    },
    // 编辑
    updataPoint() {
      let data = {
        xmname: this.projectName,
        sensortype: this.sensorType,
        pointname: this.form.point_name,
        firstalarmname: this.form.firstalarmname,
        secalarmname: this.form.secalarmname,
        thirdalarmname: this.form.thirdalarmname,
        remark: this.form.remark
      };
      data = mUtils.toFormData(data);
      updataSensorPoint(this.name, data).then(res => {
        if (res.code == "200") {
          console.log("updataPoint", res.data);
          this.dialogFormVisible = false;
          // 刷新
          this.$emit("refreshTable");
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    }
  }
};
</script>
<style lang="less" scoped>
.el-select {
  width: 100%;
}
</style>