<template>
  <div class="fillcontain">
    <search-item></search-item>
    <div class="table_container">
      <el-table
        v-loading="loading"
        :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        height="450"
        style="width: 100%"
        align="center"
      >
        <el-table-column prop="index" label="序号" align="center" width="80" fixed>
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="equipmentID" label="设备编号" align="center" width="80" fixed></el-table-column>
        <el-table-column prop="equipmentName" label="设备名" align="center" width="120" fixed></el-table-column>
        <el-table-column prop="equipmentType" label="设备类型" align="center" width="120"></el-table-column>
        <el-table-column prop="detectionStatus" label="检定状态" align="center" width="80"></el-table-column>
        <el-table-column prop="monitorName" label="监测员" align="center" width="100"></el-table-column>
        <el-table-column prop="projectName" label="当前项目" align="center" width="180"></el-table-column>
        <el-table-column prop="address" label="当前地址" align="center" width="180"></el-table-column>
        <el-table-column
          prop="lastInspectionTime"
          label="最终鉴定日期"
          align="center"
          :formatter="timeFormatter"
          width="120"
        ></el-table-column>
        <el-table-column prop="lastInspectionMan" label="检定人" align="center" width="80"></el-table-column>
        <el-table-column
          prop="producetionTime"
          label="生产时间"
          align="center"
          :formatter="timeFormatter"
          width="120"
        ></el-table-column>
        <el-table-column label="操作" align="center" width="120" fixed="right">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="editRecord(scope.$index,scope.row)"
            >{{$t('publicOperation.edit')}}</el-button>
            <el-button
              type="text"
              size="small"
              style="color:red;"
              @click="goDetails(scope.$index,scope.row)"
            >{{$t('publicOperation.details')}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>
  </div>
</template>
<script>
import searchItem from "./components/searchItem";
import Pagination from "@/components/pagination";
import { formatDate } from "@/utils/mUtils";
export default {
  components: {
    searchItem,
    Pagination
  },
  data() {
    return {
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 5
    };
  },
  computed: {
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  mounted() {
    this.tableData = this.createData();
  },
  methods: {
    // 创建数据
    createData() {
      let data = [];
      for (let i = 0; i < 30; i++) {
        data.push({
          equipmentID: "1008" + i,
          equipmentName: "Ts-21",
          equipmentType: "全站仪",
          detectionStatus: "未检定",
          monitorName: "张山",
          projectName: "南水北调",
          address: "杭州市西湖",
          lastInspectionTime:
            "native Date Thu Dec 12 2019 18:46:50 GMT+0800 (中国标准时间)",
          lastInspectionMan: "李倩",
          producetionTime:
            "native Date Thu Dec 12 2019 18:46:50 GMT+0800 (中国标准时间)"
        });
      }
      return data;
    },
    // 编辑行
    editRecord() {},
    // 前往使用记录
    goDetails() {
      // 跳转到使用记录组件
      this.$emit("changeComponent", "equipmentUsage");
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    timeFormatter(row, column, cellValue, index) {
      if (cellValue) {
        return formatDate(new Date(cellValue), 1);
      }
    }
  }
};
</script>
<style lang="less" scoped>

.table_container {
  padding: 10px;
  // margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
}
</style>