<template>
  <div class="fillcontain">
    <search-item @returnWarningOverview="returnWarningOverview" @sendMore="sendMore"></search-item>
    <div class="table_container">
      <el-table
        ref="multipleTable"
        v-loading="loading"
        :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        tooltip-effect="dark"
        style="width: 100%"
        @select="handleSelectionChange"
        @select-all="handleSelectionChange"
        @selection-change="handleCheckedChange"
      >
        <el-table-column type="selection" width="60" align="center"></el-table-column>
        <el-table-column prop="index" label="序号" align="center" width="120">
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column label="文件名" align="left">
          <template slot-scope="scope">
            <el-link
              type="primary"
              target="_blank"
              :underline="false"
              class="download"
              :icon="getFielIcon(scope.row.icon)"
              :href="scope.row.loadAddress"
            >{{scope.row.fileName}}</el-link>
          </template>
        </el-table-column>
        <el-table-column prop="fileSize" label="文件大小" align="center" width="150"></el-table-column>
        <el-table-column
          prop="time"
          label="修改时间"
          align="center"
          :formatter="timeFormatter"
          width="200"
        ></el-table-column>
        <!-- <el-table-column prop="warningDetails" label="预警内容" align="center"></el-table-column> -->
        <el-table-column label="操作" align="center" width="180">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="downloadFile(scope.$index,scope.row)"
            >{{$t('publicOperation.download')}}</el-button>
            <!-- <el-button
              type="text"
              size="small"
              @click="releaseWarning(scope.$index,scope.row)"
            >{{$t('publicOperation.warning')}}</el-button>-->
            <el-button
              type="text"
              size="small"
              style="color:red;"
              @click="deleteFile(scope.$index,scope.row)"
            >{{$t('publicOperation.delete')}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>
    <!-- <EditWarningDialog
      :dialogVisible="dialogVisible"
      :editRows="editRows"
      @closeDialog="closeDialog"
    ></EditWarningDialog>-->
  </div>
</template>
<script>
import SearchItem from "./components/searchItem";
import Pagination from "@/components/pagination";
// import EditWarningDialog from "./warningDetailsCom/editWarningDialog";
import { formatDate } from "@/utils/mUtils";
export default {
  name: "warningDetailsTable",
  components: {
    SearchItem,
    Pagination
    // EditWarningDialog
  },
  data() {
    return {
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 5,
      dialogVisible: false,
      lastCheckData: [], // 上次保存的值
      selectData: [], // 选中的数据索引
      checkList: [], // 临时选中的值

      editRows: [],
      multipleSelection: []
    };
  },
  computed: {
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  mounted() {
    this.tableData = this.createData();
  },
  methods: {
    // 返回预警概况列表
    returnWarningOverview() {
      this.$emit("changeComponent", "warningOverviewTable");
    },
    // 创建数据
    createData() {
      let data = [];
      for (let i = 0; i < 30; i++) {
        data.push({
          fileName: "测试文件夹" + i,
          loadAddress:
            "https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg",
          fileType: "文件夹",
          fileSize: "18025",
          time: "native Date Thu Dec 12 2019 00:00:00 GMT+0800 (中国标准时间)"
        });
      }
      return data;
    },
    //获取选中行数据
    handleCheckedChange(rows) {
      this.checkList = []; //置空
      if (rows) {
        rows.forEach(row => {
          if (row) {
            this.checkList.push(row);
          }
        });
      }
      // console.log("选中数据", this.checkList);
    },
    // 获取保存选中数据的索引
    handleSelectionChange(selection, row) {
      this.selectData[this.currentPage - 1] = []; //按页码分别填入各页选中的数据数组
      this.tableData.forEach((item, index) => {
        // 遍历已选的数据重新填充数组
        for (let i = 0; i < selection.length; i++) {
          //通过唯一值判断相同
          if (item.pointName === selection[i].pointName) {
            this.selectData[this.currentPage - 1].push(index);
          }
        }
      });
      // console.log("选中的数据索引", this.selectData);
    },
    // 下载文件
    downloadFile() {
      this.$message({
        message: "下载文件",
        type: "info"
      });
    },
    // 删除文件
    deleteFile(index, row) {
      this.$message({
        message: "删除文件",
        type: "error"
      });
    },
    // 选中数据处理
    sendMore() {
      this.saveCheckedRows();
      // 将选中数据扁平化flat()
      this.editRows = this.lastCheckData.flat();
      // console.log("批量发送", this.editRows);

      this.dialogVisible = true;
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
      //再切换数据条数时，把数据索引等全部清空
      this.lastCheckData = []; // 上次保存的值
      this.selectData = []; // 选中的数据索引
      this.checkList = []; // 临时选中的值
    },
    // 切换页码
    handleCurrentChange(val) {
      // 保存当前页选中的值
      this.saveCheckedRows();
      // 切换页码
      this.currentPage = val;
      //切换页码把对应页面勾选数据回填勾选
      this.restoreRow();
    },
    // 保存当前页选中的值
    saveCheckedRows() {
      this.lastCheckData[this.currentPage - 1] = this.checkList; // 保存当前页选中的值
    },
    // 判断是否选中
    toggleSelection(rows) {
      // 判断是否选中
      // console.log("判断是否选中", rows);
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    // 对应页面勾选数据回填勾选
    restoreRow() {
      //切换页码把对应页面勾选数据回填勾选
      let arr = [];
      if (this.selectData[this.currentPage - 1]) {
        this.selectData[this.currentPage - 1].forEach((item, index) => {
          arr.push(this.tableData[item]);
        });
      }
      // ES6
      let setTime = new Promise((resolve, reject) => {
        resolve(arr);
      });
      Promise.all([setTime]).then(results => {
        this.toggleSelection(arr);
      });
    },
    // 时间格式化
    timeFormatter(row, column, cellValue, index) {
      if (cellValue) {
        return formatDate(new Date(cellValue), 1);
      }
    },
    // 根据文件类型切换图标
    getFielIcon(fileType) {
      switch (fileType) {
        case "文件夹":
          return "el-icon-folder";
          break;

        default:
          return "el-icon-folder";
          break;
      }
    },

    // 关闭弹窗
    closeDialog() {
      this.dialogVisible = false;
    }
  }
};
</script>
<style lang="less" scoped>
.table_container {
  padding: 10px;
  // margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
}
</style>