<template>
  <div class="fillcontain">
    <router-view></router-view>
  </div>
</template>

<script>
import echarts from "echarts";
import lineChart from "./components/lineChart"; // 用户投资类型 折线图
// import salesTable from "./components/salesTable"; // 销售数据表格
import barChart from "cps/echarts/barChart"; // 用户投资类型 柱状图
import pieChart from "cps/echarts/pieChart"; // 用户投资类型 饼状图
import radarChart from "cps/echarts/radarChart"; // 用户投资类型 雷达图

export default {
  data() {
    return {
      searchComponent: "searchItem", //加载曲线查询组件名
      tableComponent: "salesTable", //加载表格组件名
      toggleData: "",
      pageTotal: 60
    };
  },
  components: {
    lineChart,
    barChart,
    pieChart,
    radarChart
    // salesTable
  },
  mounted() {},
  computed: {
    // 动态引入曲线查询组件组件
    searchComponentImstance() {
      let { searchComponent } = this;
      //当动态组件值不为空，再执行引入
      if (searchComponent) {
        let pathName = searchComponent;
        //通过import动态导入组件 配合webpack实现组件分离
        return () => import(`./components/searchComponents/${pathName}`);
      }
    },
    // 动态引入表格组件
    tableComponentImstance() {
      let { tableComponent } = this;
      //当动态组件值不为空，再执行引入
      if (tableComponent) {
        let pathName = tableComponent;
        //通过import动态导入组件 配合webpack实现组件分离
        return () => import(`./components/tableComponents/${pathName}`);
      }
    }
  },
  methods: {
    changeSearchComponent() {},
    changeTableComponent() {},
    setTabHeight() {
      this.$nextTick(() => {
        this.$refs.tabContainer.style.height =
          document.body.clientHeight - 160 + "px";
      });
    },
    toggleTabs(item) {
      this.toggleData = item;
    }
  }
};
</script>

<style lang="less" scoped>
.scroll {
  height: 550px;
  overflow: hidden;
  overflow-y: auto;
}
.orderArea {
  width: 100%;
  height: 550px;
  background: #fff !important;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 40px;
  overflow: hidden;
}

.scroll::-webkit-scrollbar,
.scroll::-webkit-scrollbar,
.scroll::-webkit-scrollbar {
  width: 4px;
  height: 8px !important;
}
.scroll::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
  background-color: #ff6c60;
  border-radius: 4px;
}
.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ddd;
}
</style>


