<template>
  <div class="fillcontain">
    <!-- 测点列表 -->
    <div v-show="monitorTypeTabsVisible" class="monitorType-container">
      <!-- <div class="monitorType_card">
        <div class="monitorType_card_icon-box">
          <icon-svg class="monitorType_card_icon_item" icon-class="icon-liefeng" />
        </div>
        <div class="monitorType_card_border">
          <p class="monitorType_card_border_title">地表裂缝</p>
          <div class="monitorType_card_border_details">
            <span>测点数:</span>
            <span class="monitorType_card_border-emphasize">12</span>
          </div>
        </div>
      </div>-->
      <template>
        <div
          v-for="(item, index) in projectMonitorList"
          :key="index"
          :class="{'monitorType_card-active':item.pointcont>0,'monitorType_card':true}"
        >
          <span
            v-show="editType"
            class="monitorType_card_btn-delete"
            @click="deleteMonitorType(item.CN)"
          >
            <i class="el-icon-circle-close"></i>
          </span>
          <div class="monitorType_card_box" @click="handleDeviceClick(item.CN)">
            <div class="monitorType_card_icon-box">
              <icon-svg
                class="monitorType_card_icon_item"
                :icon-class="item.pointcont>0?'icon-jiance2':'icon-jiance3'"
              />
            </div>
            <div class="monitorType_card_border">
              <p class="monitorType_card_border_title">{{item.CN}}</p>
              <div class="monitorType_card_border_details">
                <span>测点数:</span>
                <span
                  :class="{'monitorType_card_border-emphasize':item.pointcont>0}"
                >{{item.pointcont}}</span>
              </div>
            </div>
          </div>
        </div>
      </template>
      <!-- 添加 -->
      <div v-show="editType" class="monitorType_card monitorType_card-active monitorType_card-add">
        <div class="monitorType_card_box" @click="showMonitorTypeDg()">
          <div class="monitorType_card_icon-box">
            <i class="el-icon-circle-plus-outline monitorType_card_icon_item"></i>
          </div>
          <!-- <div class="monitorType_card_border">
            <p class="monitorType_card_border_title-add">{{$t('publicOperation.add')}}</p>
          </div>-->
        </div>
      </div>

      <!-- 开启编辑 -->
      <div class="monitorType_card monitorType_card-active monitorType_card-add">
        <div class="monitorType_card_box" @click="editMonitorCard()">
          <div class="monitorType_card_icon-box">
            <i class="el-icon-edit-outline monitorType_card_icon_item"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- 测点设置tabs组件 -->
    <pointTabsList v-if="!monitorTypeTabsVisible" @showCards="showCards"></pointTabsList>

    <!-- 添加监测类型 -->
    <el-dialog
      :title="$t('publicOperation.add')"
      :visible.sync="addMonitorTypeDgVisible"
      destroy-on-close
    >
      <el-form ref="form" :model="form" label-width="80px">
        <el-form-item :label="$t('projectManage.WarningRecord.table.sensorType')">
          <el-select style="width:100%;height:auto;" v-model="form.selectMonitorType" multiple>
            <el-option
              v-for="(item,index) in allMonitorTypeList"
              :key="index"
              :label="item.CN"
              :value="item.CN"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addProjectMonitorType()">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import pointTabsList from "./pointTabsList";
import {
  getAllMonitorList,
  getProjectMonitorList,
  addProjectMonitorType,
  deleteProjectMonitorType
} from "@/api/project";
// import * as projectApi from "@/api/project";
import * as mUtils from "@/utils/mUtils";
import { mapGetters } from "vuex";
export default {
  name: "measuringPointManage",
  components: {
    pointTabsList
  },
  data() {
    return {
      loading: false,
      editType: false,
      monitorTypeTabsVisible: true,
      addMonitorTypeDgVisible: false,
      form: {
        selectMonitorType: []
      },
      allMonitorTypeList: [],
      projectMonitorList: []
    };
  },
  computed: {
    ...mapGetters(["name", "projectName"]),
    // editBtnShow: function() {
    //   let showType = Boolean;
    //   this.projectMonitorList.length > 0
    //     ? (showType = true)
    //     : (showType = false);
    //   return showType;
    // },
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  watch: {
    // projectMonitorList: {
    //   deep: true, //数组需要深度监听
    //   handler: function(newValue, oldValue) {
    //     if (newValue.length>0) {
    //     } else {
    //     }
    //   }
    // }
  },
  mounted() {
    // if (this.projectMonitorList.length < 1) {
    //   this.editType = true;
    // }
    if (!this.projectName && mUtils.getSessionStore("projectName")) {
      this.$store.dispatch(
        "setProjectName",
        mUtils.getSessionStore("projectName")
      );
      // console.log("setProjectName", this.projectName);
    }
    this.getProjectMonitorList();
    this.getAllMonitorList();
  },
  methods: {
    handleDeviceClick(type) {
      // console.log(type);
      this.monitorTypeTabsVisible = false;
      this.$store.dispatch("setSensorType", type);
      // this.$router.push({ path: "/institution/institutionManage" });
    },
    showCards() {
      this.getProjectMonitorList();
      this.monitorTypeTabsVisible = true;
      console.log("触发了");
    },
    // 获取所有监测类型数据
    getAllMonitorList() {
      let data = {
        userid: this.name
      };
      data = mUtils.toFormData(data);
      getAllMonitorList(data).then(res => {
        if (res.code == "200") {
          // this.allMonitorTypeList = res.data
          //   .filter(item => item.CN != "")
          //   .map(item => {
          //     return {
          //       CN: item.CN,
          //       EN: item.EN.replace(new RegExp("_", "g"), "")
          //     };
          //   });
          this.allMonitorTypeList = res.data.filter(item => item.CN != "");
          // console.table(this.allMonitorTypeList);
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    },
    // 获取当前项目已添加监测类型
    getProjectMonitorList() {
      let data = {
        xmname: this.projectName
      };
      data = mUtils.toFormData(data);
      getProjectMonitorList(data).then(res => {
        if (res.code == "200") {
          // this.$message.success(res.msg);
          let data = res.data.filter(item => item.EN != "_other");
          this.projectMonitorList = data;
          this.form.selectMonitorType = data.map(item => item.CN);
          this.projectMonitorList.length > 0
            ? (this.editType = false)
            : (this.editType = true);

          // 调起刷新
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    },
    // 显示添加监测类型dialog
    showMonitorTypeDg() {
      this.addMonitorTypeDgVisible = true;
    },
    // 添加选中的监测类型
    addProjectMonitorType() {
      // 去除已选的检测类型
      let monitorTypeData = {
        xmname: this.projectName,
        sensortype: this.form.selectMonitorType.filter(
          item => !this.projectMonitorList.map(v => v.CN).includes(item)
        )
      };
      monitorTypeData = mUtils.toFormData(monitorTypeData);
      // console.log("保存选中的监测类型", monitorTypeData);
      addProjectMonitorType(monitorTypeData).then(res => {
        if (res.code == "200") {
          this.$message.success(res.msg);
          this.addMonitorTypeDgVisible = false;
          this.getProjectMonitorList();
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    },
    // 编辑监测类型卡片
    editMonitorCard() {
      this.editType = !this.editType;
    },
    // 删除监测类型卡片
    deleteMonitorType(monitorType) {
      let monitorTypeData = {
        xmname: this.projectName,
        sensortype: monitorType
      };
      console.log("删除监测类型卡片", monitorTypeData);
      monitorTypeData = mUtils.toFormData(monitorTypeData);
      deleteProjectMonitorType(monitorTypeData).then(res => {
        if (res.code == "200") {
          this.$message.success(res.msg);
          // 调起刷新
          this.getProjectMonitorList();
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    }
  }
};
</script>
<style lang="less" scoped>
.fillcontain {
  padding-bottom: 0;
}
.contain {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.table_container {
  padding: 10px;
  background: #fff;
  border-radius: 2px;
}
// 监测类型列表
.monitorType-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row; //主轴方向
  flex-wrap: wrap; //是否换行
  justify-content: flex-start; //主轴上的对齐方式
  align-items: flex-start; //交叉轴上如何对齐
  justify-content: flex-start; //多根轴线的对齐方式

  min-height: 500px;
  background: #fff;
  margin-bottom: 10px;
  padding: 5px;
}
.monitorType_card {
  // padding: 10px 30px 10px 15px;
  margin: 10px;
  border-radius: 5px;
  background: #e4e7ed;
  box-shadow: 0 4px 6px 0 rgba(31, 31, 31, 0.05),
    0 0 2px 0 rgba(31, 31, 31, 0.2);

  .monitorType_card_box {
    display: flex;
    flex-direction: row; //主轴方向
    flex-wrap: wrap; //是否换行
    justify-content: center; //主轴上的对齐方式
    align-items: center; //交叉轴上如何对齐
    justify-content: center; //多根轴线的对齐方式

    margin: 10px 15px 10px 15px;

    .monitorType_card_title {
      text-align: center;
      color: #606266;
      font-size: 18px;
      // font-weight: 600;
    }
    .monitorType_card_icon-box {
      display: inline-block;
      .monitorType_card_icon_item {
        font-size: 80px;
      }
    }
    .monitorType_card_border {
      display: inline-block;
      .monitorType_card_border-emphasize {
        color: #409eff;
      }
      .monitorType_card_border_title {
        color: #535965;
        font-size: 18px;
        padding: 5px 10px 5px 5px;
      }
      .monitorType_card_border_title-add {
        font-size: 24px;
        padding: 5px 10px 5px 5px;
      }
      .monitorType_card_border_details {
        font-size: 14px;
        color: #535965c2;
        padding: 5px 10px 5px 5px;
      }
    }
  }
  .monitorType_card_btn-delete {
    float: right;
    margin: 0 2px;
    color: red;
    font-size: 18px;
  }
  .monitorType_card_btn-delete:hover {
    cursor: pointer;
  }
}
.monitorType_card-active {
  background: #fff;
}
.monitorType_card-add {
  color: #dcdfe6;
}
.monitorType_card-add:hover {
  color: #66b1ff;
}
// .monitorType_card-delete {
//   color: #dcdfe6;
// }
// .monitorType_card-delete:hover {
//   color: #66b1ff;
//   cursor: pointer;
// }
.monitorType_card-active:hover {
  cursor: pointer;
  background: #bedeff9e;
  box-shadow: 3px 3px 6px 0 rgba(31, 31, 31, 0.2),
    0 0 2px 0 rgba(31, 31, 31, 0.2);
  transform: scale(1.05);
}
</style>