<template>
  <div class="fillcontain">
    <div class="tabContainer" ref="tabContainer">
      <el-tabs type="border-card" :before-leave="beforeLeave">
        <el-tab-pane>
          <span slot="label">
            <icon-svg icon-class="icondashboard" />测点列表
          </span>
          <measuringPointTable></measuringPointTable>
        </el-tab-pane>
        <el-tab-pane>
          <span slot="label">
            <icon-svg icon-class="iconecharts" />预警设置
          </span>
          <earlyWarningTable></earlyWarningTable>
        </el-tab-pane>

        <el-tab-pane key="return" name="return">
          <span class="tab-pane_return" slot="label">
            <!-- <icon-svg icon-class="iconinfo" /> -->
            <i class="el-icon-back"></i>
            {{$t('publicOperation.return')}}
          </span>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>
<script>
import measuringPointTable from "./measuringPointSetting/table/measuringPointTable";
import earlyWarningTable from "./measuringPointSetting/earlyWarning/earlyWarningTable";
export default {
  name: "pointTabsList",
  components: {
    measuringPointTable,
    earlyWarningTable
  },
  data() {
    return {
      loading: false,
      tableData: []
    };
  },
  props: {
    // tableList: {
    //   type: Array
    // }
    // currentPage: {
    //   type: Number,
    //   default: 1,
    //   required: true
    // },
    // pageSize: {
    //   type: Number,
    //   default: 5,
    //   required: true
    // }
  },
  computed: {
    // text: function() {
    //   console.log(this.tableList);
    //   return this.tableList;
    // }
    // pageTotals: function() {
    //   return this.tableList.length;
    // },
    // pageNo: function() {
    //   console.log(this.currentPage);
    //   return this.currentPage;
    // },
    // sizeNo: function() {
    //   return this.pageSize;
    // }
  },
  mounted() {
    // console.log("text", this.text);
  },
  methods: {
    /* 标签切换时触发 */
    beforeLeave(currentName, oldName) {
      //如果name是return，则切换显示cards
      console.log(currentName, oldName);
      if (currentName == "return") {
        // console.log("点击添加项目");
        this.$emit("showCards");
        return false;
      } else {
        this.currentIndex = currentName;
      }
    }
  }
};
</script>
<style lang="less" scoped>
.fillcontain {
  padding-bottom: 0;
}
.tabContainer {
  // .tab-pane_return {
  //   // font-size: 12px;
  //   padding: 2px 4px;
  //   border-radius: 3px;
  //   color: #409eff;
  //   background: #ecf5ff;
  //   border: 1px solid #dcdfe6;
  // }
  .tab-pane_return:hover {
    font-size: 14px;
    font-weight: 500;
    padding: 2px 4px;
    color: #f5f7fa;
    background: #409eff;
    border-radius: 3px;
  }
}
</style>