<template>
  <div class="fillcontain">
    <div class="contain">
      <div class="table_container">
        <!-- 测点表 -->
        <el-table
          ref="earlyWarningTable"
          v-loading="loading"
          :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
          style="width: 100%"
          max-height="600"
          align="center"
          @selection-change="handleSelectionChange"
          @select-all="handleAllSelection"
          @row-dblclick="handleRowClick"
        >
          <el-table-column type="selection" width="60" align="center"></el-table-column>
          <el-table-column
            prop="index"
            :label="$t('projectManage.projectList.table.index')"
            align="center"
            width="100"
          >
            <template slot-scope="scope">
              <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
            </template>
          </el-table-column>
          <el-table-column prop="point_name" label="测点名称" align="center"></el-table-column>
          <el-table-column prop="firstalarmname" label="一级预警" align="center"></el-table-column>
          <el-table-column prop="secalarmname" label="二级预警" align="center"></el-table-column>
          <el-table-column prop="thirdalarmname" label="三级预警" align="center"></el-table-column>
          <el-table-column prop="remark" label="备注" align="center" :show-overflow-tooltip="true"></el-table-column>
          <!-- <el-table-column prop="count" label="报警" align="center"></el-table-column> -->
          <el-table-column prop="operation" align="center" label="操作">
            <template slot-scope="scope">
              <el-button
                type="text"
                style="font-size:16px;"
                icon="el-icon-edit-outline"
                size="mini"
                @click="editRow(scope.row)"
              ></el-button>
              <el-button
                type="text"
                style="color:red;font-size:16px;"
                icon="el-icon-delete"
                size="mini"
                @click="deleteRow(scope.row)"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <!-- 底部栏 -->
      <el-row :gutter="10">
        <el-col :md="24" :lg="12" :xl="12">
          <div class="button-container">
            <el-button type="primary" icon="el-icon-refresh" @click="refreshTable()" plain></el-button>
            <el-button
              type="primary"
              icon="el-icon-circle-plus-outline"
              @click="addPoint()"
              plain
            >测点添加</el-button>
            <el-button type="primary" icon="el-icon-upload2" @click="pointFileUpload()" plain>点号导入</el-button>
            <el-button type="primary" icon="el-icon-connection" @click="batchSetting()" plain>预警关联</el-button>
            <el-button type="danger" icon="el-icon-delete" @click="batchDelete()" plain>批量删除</el-button>
            <!-- <el-button type="danger" icon="el-icon-delete" @click="batchDelete()" plain>批量设置</el-button> -->
          </div>
        </el-col>
        <el-col :md="24" :lg="12" :xl="12">
          <pagination
            v-if="pageTotals>5"
            :pageTotal="pageTotals"
            :page_Size="pageSize"
            @handleSizeChange="handleSizeChange"
            @handleCurrentChange="handleCurrentChange"
          ></pagination>
        </el-col>
      </el-row>
      <!-- 文件上传 -->
      <pointFileUploadDialog
        :pointFileUploadVisible="pointFileUploadVisible"
        @closePointFileUpload="closePointFileUpload"
      ></pointFileUploadDialog>
      <!-- 测点添加编辑 -->
      <pointEditDialog
        :addType="addType"
        :pointEditDgVisible="pointEditDgVisible"
        :pointObject="rowData"
        @pointEditDgClose="pointEditDgClose()"
        @refreshTable="refreshTable()"
      ></pointEditDialog>

      <batchSettingDialog
        :batchSettingDgVisible="batchSettingDgVisible"
        :pointStr="pointStr"
        @batchSettingDgClose="batchSettingDgClose()"
        @refreshTable="refreshTable()"
      ></batchSettingDialog>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import * as mUtils from "@/utils/mUtils";
import pagination from "@/components/pagination";
import pointFileUploadDialog from "../dialog/pointFileUploadDialog";
import pointEditDialog from "../dialog/pointEditDialog";
import batchSettingDialog from "../dialog/batchSettingDialog";
import { deleteSensorPoint, getSensorPointList } from "@/api/project";
export default {
  name: "measuringPointManage",
  components: {
    pagination,
    pointFileUploadDialog,
    pointEditDialog,
    batchSettingDialog
  },
  data() {
    return {
      loading: false, //表格加载状态
      currentPage: 1,
      pageSize: 5,
      dialogVisible: false, //弹窗显示状态
      pointEditDgVisible: false, //测点编辑
      pointFileUploadVisible: false, //测点导入
      batchSettingDgVisible: false, //批量关联预警
      addType: true, //弹窗编辑状态
      rowData: {}, //编辑的数据
      tableData: [],
      batchEditData: [],
      pointStr: "" //批量设置预警点名字符串
    };
  },
  computed: {
    ...mapGetters(["name", "projectName", "sensorType"]),
    //分页控件
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  mounted() {
    this.getPointList();
  },
  methods: {
    getPointList() {
      this.loading = true;
      let data = {
        xmname: this.projectName,
        sensortype: this.sensorType,
        pageIndex: 1,
        pageSize: 1000
      };
      data = mUtils.toFormData(data);
      getSensorPointList(this.name, data)
        .then(res => {
          if (res.code == "200") {
            console.log("getSensorPointList", res.data);
            this.tableData = res.data;
            this.loading = false;
          } else {
            this.$message.error(res.meg || "Error!");
          }
        })
        .catch(err => {
          this.$message.error(err);
          this.loading = false;
        });
    },
    // 添加测点
    addPoint() {
      this.addType = true;
      this.rowData = {
        point_name: "",
        firstalarmname: "",
        secalarmname: "",
        thirdalarmname: "",
        remark: ""
      };
      this.pointEditDgVisible = true;
      console.log("添加", this.rowData);
    },
    //编辑行测点
    editRow(row) {
      console.log("编辑", row);
      this.addType = false;
      this.rowData = row;
      this.pointEditDgVisible = true;
    },
    // 点删除函数
    deletePoint(pointsStr) {
      if (pointsStr) {
        this.$confirm("Are you sure you want to delete it?", {
          confirmButtonText: "Yes",
          cancelButtonText: "No",
          type: "warning"
        })
          .then(_ => {
            let data = {
              xmname: this.projectName,
              pointname: pointsStr,
              sensortype: this.sensorType
            };
            data = mUtils.toFormData(data);
            deleteSensorPoint(this.name, data).then(res => {
              if (res.code == "200") {
                console.log("updataPoint", res.data);
                // this.dialogFormVisible = false;
                this.getPointList();
              } else {
                this.$message.error(res.meg || "Error!");
              }
            });
          })
          .catch(_ => {});
      }
    },
    // 删除单行测点
    deleteRow(row) {
      console.log("删除", row);
      this.deletePoint(row.point_name);
    },
    // 批量删除测点
    batchDelete() {
      let rows = this.$refs.earlyWarningTable.selection;
      if (rows.length > 0) {
        let str = rows
          .map(item => {
            return item.point_name;
          })
          .toString();
        console.log("批量删除测点", str);
        this.deletePoint(str);
      } else {
        this.$message.error("Not selected!");
      }
    },
    // 批量关联预警
    batchSetting() {
      let rows = this.$refs.earlyWarningTable.selection;
      if (rows.length > 0) {
        let str = rows
          .map(item => {
            return item.point_name;
          })
          .toString();
        console.log("批量设置预警", str);
        this.pointStr = str;
        this.batchSettingDgVisible = true;
      } else {
        this.$message.error("Not selected!");
      }
    },
    pointFileUpload() {
      this.pointFileUploadVisible = true;
    },
    // 测点文件上传回调
    closePointFileUpload() {
      console.log("回调关闭");
      this.pointFileUploadVisible = false;
    },
    // 测点编辑关闭回调
    pointEditDgClose() {
      this.pointEditDgVisible = false;
    },
    // 批量设置关闭回调
    batchSettingDgClose() {
      this.batchSettingDgVisible = false;
    },
    // 刷新表格
    refreshTable() {
      this.getPointList();
    },
    // 选择项改变时
    handleSelectionChange(val) {
      // console.log("选择项改变时", val);
    },
    // 全选当前页
    handleAllSelection() {
      console.log(
        this.$refs.earlyWarningTable,
        "选中的行数据",
        this.$refs.earlyWarningTable.selection
      );
    },
    // 表格行点击
    handleRowClick(row, column, event) {
      // console.log(row, column, event);
      this.$refs.earlyWarningTable.toggleRowSelection(row);
    },
    // 关闭弹窗
    dialogClose() {
      this.dialogVisible = false;
    },
    // 切换数据条数
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
      // this.getPointList();
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
      // this.getPointList();
    }
  }
};
</script>
<style lang="less" scoped>
.fillcontain {
  padding-bottom: 5px;
}
.contain {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;

  .table_container {
    padding: 10px;
    background: #fff;
    border-radius: 2px;
  }

  .button-container {
    width: 100%;
    padding: 12px 23px;
  }
}
</style>