<template>
  <section>
    <searchItem2></searchItem2>
    <!-- 内容栏 -->
    <div class="tabContainer scroll">
      <chart></chart>
    </div>
  </section>
</template>
<script>
import searchItem2 from "./searchComponents/searchItem2";
import chart from "./curveComponent/tabIndex";
export default {
  name: "",
  components: {
    searchItem2,
    chart
  },
  data() {
    return {};
  }
};
</script>
<style lang="less" scoped>
.scroll {
  height: 550px;
  overflow: hidden;
  overflow-y: auto;
}
.orderArea {
  width: 100%;
  height: 550px;
  background: #fff !important;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 40px;
  overflow: hidden;
}
</style>