<template>
  <section>
    <el-tabs type="border-card" value="1">
      <el-tab-pane
        v-for="(item, index) in editableTabs"
        :key="index"
        :label="getTabPane(item.title)"
        :name="item.name"
      >
        <component :is="item.content"></component>
      </el-tab-pane>
    </el-tabs>
  </section>
</template>
<script>
import { mapGetters } from "vuex";
import { filterTabs } from "@/utils/role";
import ProjectList from "./components/ProjectList";
import Monitor from "./components/Monitor";
import Supervision from "./components/Supervision";
// 机构信息管理采用institution内
import UnitInformation from "./components/UnitInformation";
// import UnitInformation from "./components/UnitInformation";
import WarningRecord from "./components/WarningRecord";
import Equipment from "./components/Equipment";

export default {
  name: "projectManage",
  components: {
    ProjectList,
    Monitor,
    Supervision,
    UnitInformation,
    WarningRecord,
    Equipment
  },
  data() {
    return {
      editableTabs: []
      // editableTabs: [
      //   {
      //     // title: this.$i18n.t("projectManage.tabPane.unitInformationList"),
      //     title: "unitInformationList",
      //     name: "1",
      //     content: "UnitInformation"
      //   },
      //   {
      //     title: "projectList",
      //     name: "2",
      //     content: "ProjectList"
      //   },
      //   {
      //     title: "monitorList",
      //     name: "3",
      //     content: "Monitor"
      //   },
      //   {
      //     title: "supervisionList",
      //     name: "4",
      //     content: "Supervision"
      //   },
      //   {
      //     title: "WarningRecord",
      //     name: "5",
      //     content: "WarningRecord"
      //   },
      //   {
      //     title: "Equipment",
      //     name: "6",
      //     content: "Equipment"
      //   }
      // ]
    };
  },
  computed: {
    ...mapGetters(["roles"]),
    elTabsHeight() {
      return document.body.clientHeight - 180;
    }
  },
  mounted() {
    let data = filterTabs(this.roles[0]);
    console.log("过滤Tab", data);
    this.editableTabs = data; 
  },
  methods: {
    getTabPane(title) {
      let titleStr = "projectManage.tabPane." + title;
      return this.$i18n.t(titleStr);
    }
  }
};
</script>