<template>
  <section class="project-container" ref="projectContainer">
    <div class="project-tab" id="project-tab">
      <!-- <el-button-group>
        <el-button type="primary" icon="el-icon-edit" plain>监测中</el-button>
        <el-button type="info" icon="el-icon-share" plain>全部</el-button>
        <el-button type="warning" icon="el-icon-delete" plain>已完成</el-button>
        <el-button type="primary" icon="el-icon-setting" plain></el-button>
      </el-button-group>-->
      <p
        v-for="(item, index) in liList"
        :key="index"
        class="project-tab_div"
        :class="{active:index==current}"
        @click="filterItems(index)"
      >{{getTabPane(item.title)}}</p>

      <p class="project-tab_div">筛选</p>
    </div>
    <div class="project-list el-scrollbar" :style="{height:(height-30)+'px'}">
      <el-card class="project-list_item" v-for="(item,index) in testData" :key="index">
        <el-row>
          <el-col :span="20">
            <div>
              <p class="project-list_item_title" @click="toDetails(item)">{{item.name}}</p>
              <el-link
                icon="el-icon-s-promotion"
                :title="item.address+'('+item.latLng.lng+','+item.latLng.lat+')'"
                @click="findMap(item.latLng)"
              >{{item.address}}</el-link>
            </div>
          </el-col>
          <el-col :span="4">
            <div
              class="project-list_item_tips"
              :class="warningLevel(item.warning.type)"
            >{{item.warning.value}}</div>
          </el-col>
        </el-row>
      </el-card>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      resizeTag: true, //resize函数防抖
      current: 0,
      liList: [{ title: "undone" }, { title: "finish" }, { title: "all" }],
      testData: [
        {
          name: "south监测",
          address: "广州市金羊2街8号201雅斯国际音乐杨箕店",
          latLng: {
            lat: 23.128994281453547,
            lng: 113.30406188964845
          },
          warning: {
            type: "first",
            value: 25
          }
        },
        {
          name: "south监测2",
          address: "广东省广州市白云区",
          latLng: {
            lat: 30.029253434254045,
            lng: 120.84113294422605
          },
          warning: {
            type: "three",
            value: 42
          }
        },
        {
          name: "south监测2",
          address: "大理白族自治州凤翥山西北849.0米",
          latLng: {
            lat: 25.58208527870072,
            lng: 100.2886962890625
          },
          warning: {
            type: "three",
            value: 42
          }
        }
      ],
      contentStyleObj: {
        width: "",
        height: ""
      }
    };
  },
  computed: {
    width: function() {
      return this.contentStyleObj.width;
    },
    height: function() {
      return this.contentStyleObj.height;
    },
    warningLevel() {
      return function(type) {
        switch (type) {
          case "first":
            return "project-list_item_tips-firstWarning";
            break;
          case "second":
            return "project-list_item_tips-secondWarning";
            break;
          case "three":
            return "project-list_item_tips-threeWarning";
            break;
          default:
            return "";
            break;
        }
      };
    }
  },
  created() {},
  mounted() {
    window.addEventListener("resize", this.resizeFun);
    this.getDomStyle();
  },
  methods: {
    resizeFun() {
      if (this.resizeTag) {
        this.getDomStyle();
        this.resizeTag = false;
        // 防抖，500毫秒
        setTimeout(() => {
          this.resizeTag = true;
        }, 100);
      }
    },
    getDomStyle() {
      this.$nextTick(() => {
        this.contentStyleObj.width =
          this.$refs.projectContainer.clientWidth - 10;
        this.contentStyleObj.height = document.body.clientHeight - 150;
        console.log("projectList_style:", this.contentStyleObj);
      });
    },
    filterItems(index) {
      this.current = index;
      switch (index) {
        case 0:
          console.log("筛选监测中项目");
          break;
        case 1:
          console.log("筛选完成项目");
          break;
        case 2:
          console.log("全部项目");
          break;
        default:
          break;
      }
      console.log();
    },
    toDetails(item) {
      console.log(item);
      // 把当前点击进入的项目名存入vuex
      this.$store.dispatch("setProjectName", item.name);
      // 把当前点击进入的项目名存入sessionStorage
      sessionStorage.setItem("projectName", item.name);
      // 定向到项目详情
      this.$router.push({ path: "/infoManage/projectInformation" });
    },
    findMap(latLng) {
      console.log("点击：", latLng);
      this.$store.dispatch("setProjectLatLng", latLng);
    },
    getTabPane(title) {
      let titleStr = "publicOperation." + title;
      return this.$i18n.t(titleStr);
    }
  },
  beforeDestroy() {
    // console.log("销毁");
    window.removeEventListener("resize", this.resizeFun);
  }
};
</script>
<style lang="less" scoped>
@deep: ~">>>";

.project-container {
  height: 100%;
}

.project-list {
  // height: 620px;
  overflow: auto;
  @{deep} .el-card__body {
    padding: 5px;
  }

  .project-list_item {
    margin: 2px;
  }
  .project-list_item:hover {
    background-color: #ebeef5;
  }
  .project-list_item_title {
    word-wrap: break-word;
    cursor: pointer;
  }
  .project-list_item_title:hover {
    color: #0f7cef;
  }
  .project-list_item_tips {
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
    color: #606266;
    background-color: #e4e7ed;
  }
  .project-list_item_tips:hover {
    color: white;
    background-color: #909399;
    cursor: pointer;
  }

  // 一级预警
  .project-list_item_tips-firstWarning {
    color: #606266;
    background-color: #e4e7ed;
  }
  .project-list_item_tips-firstWarning:hover {
    color: white;
    background-color: #909399;
  }

  // 二级报警
  .project-list_item_tips-secondWarning {
    color: #ffffff;
    background-color: #e6d640;
  }
  .project-list_item_tips-secondWarning:hover {
    color: #ffffff;
    background-color: #c3b104;
  }

  // 三级严重警告
  .project-list_item_tips-threeWarning {
    color: #f5f7fa;
    background-color: #f78888;
  }
  .project-list_item_tips-threeWarning:hover {
    color: #ffffff;
    background-color: #ff2312;
  }
}
</style>

<style lang="less" scope>
.project-tab {
  display: flex !important;
  display: -webkit-flex !important;
  flex-direction: row !important; //主轴方向
  flex-wrap: nowrap !important;
  justify-content: flex-start !important;
  align-items: center !important;
  justify-content: space-between;
  width: 100%;
  height: 30px;

  .project-tab_div {
    // flex:auto;//根据内容分配长度
    flex: 1; //子元素都有相同的长度，且忽略它们内部的内容
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 0 2px;
    border-radius: 5px;
    background-color: white;
    white-space: nowrap;
    cursor: pointer;
  }
  .project-tab_div:hover {
    background-color: #66b1ff59;
    color: #409eff;
  }
  .project-tab_div--active {
    background-color: #66b1ff59;
    color: #409eff;
  }
  .active {
    background-color: #66b1ff59;
    color: #409eff;
  }
}
</style>