<template>
  <el-dialog
    title="Add"
    :visible.sync="dialogFormVisible"
    class="dialog"
    width="80%"
    @close="closeDg()"
    center
  >
    <el-form :model="form" ref="ruleForm" width="75%" center>
      <el-form-item>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.name')"
            :label-width="formLabelWidth"
          >
            <el-input v-model="form.xmname" autocomplete="off" placeholder="请输入项目名"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.address')"
            :label-width="formLabelWidth"
          >
            <el-input
              v-model="form.xmdress"
              autocomplete="off"
              style="width:80%;"
              placeholder="请输入项目地址"
            ></el-input>
            <el-button
              type="primary"
              icon="el-icon-map-location"
              size="mini"
              style="max-width:20%;float:right;"
              @click="getAddress"
              circle
            ></el-button>
            <!-- <el-button type="primary" icon="el-icon-search">搜索</el-button> -->
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.requesterUnit')"
            :label-width="formLabelWidth"
          >
            <el-input v-model="form.wtdw" autocomplete="off" placeholder="请输入委托单位"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.monitoringUnit')"
            :label-width="formLabelWidth"
          >
            <el-input v-model="form.jcdw" autocomplete="off" placeholder="请输入监测单位"></el-input>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.startTime')"
            :label-width="formLabelWidth"
          >
            <el-date-picker v-model="form.jcStartDate" type="datetime" placeholder="选择日期"></el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.endTime')"
            :label-width="formLabelWidth"
          >
            <el-date-picker v-model="form.jcEndDate" type="datetime" placeholder="选择日期"></el-date-picker>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.securityLevel')"
            :label-width="formLabelWidth"
          >
            <el-select v-model="form.safeLevel" placeholder="请选择安全等级">
              <el-option label="一级" value="一级"></el-option>
              <el-option label="二级" value="二级"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.principal')"
            :label-width="formLabelWidth"
          >
            <el-input v-model="form.userID" autocomplete="off" disabled></el-input>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.address')"
            :label-width="formLabelWidth"
          >
            <el-cascader
              v-model="form.province"
              :options="options"
              :separator="' '"
              :props="{ expandTrigger: 'hover' }"
              class="city-cascader"
              clearable
              placeholder="请选择所属区域"
            ></el-cascader>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.projectType')"
            :label-width="formLabelWidth"
          >
            <el-select v-model="form.xmlx" placeholder="请选择项目类型">
              <el-option label="桥梁" value="桥梁"></el-option>
              <el-option label="边坡" value="边坡"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.monitor')"
            :label-width="formLabelWidth"
          >
            <el-select v-model="form.monitorTmp" multiple placeholder="请选择监测人员">
              <!-- <el-option label="张工" value="1"></el-option> -->
              <template>
                <el-option
                  v-for="(item,index) in monitorList"
                  :label="item"
                  :value="item"
                  :key="index"
                ></el-option>
              </template>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.supervisor')"
            :label-width="formLabelWidth"
          >
            <el-select v-model="form.supervisorTmp" multiple placeholder="请选择监督人员">
              <!-- <el-option label="jn01[南方测绘]" value="jn01[南方测绘]"></el-option>
              <el-option label="jd1[监督]" value="jd1[监督]"></el-option>-->
              <template>
                <el-option
                  v-for="(item,index) in superviseList"
                  :label="item"
                  :value="item"
                  :key="index"
                ></el-option>
              </template>
            </el-select>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.mobileStationInteval')"
              :label-width="formLabelWidth"
            >
              <!-- <el-date-picker v-model="form.jcStartDate" type="mobileStationInteval" placeholder></el-date-picker> -->
              <el-input-number v-model="form.mobileStationInteval" :min="0"></el-input-number>
            </el-form-item>
          </el-col>
          <!-- <el-col :span="11">
          <el-form-item
            :label="$t('projectManage.projectList.table.endTime')"
            :label-width="formLabelWidth"
          >
            <el-date-picker v-model="form.jcEndDate" type="datetime" placeholder="选择日期"></el-date-picker>
          </el-form-item>
          </el-col>-->
        </el-form-item>
        <!-- <el-col :span="8">
          <el-form-item
            :label="$t('projectManage.projectList.table.requesterUnit')"
            :label-width="formLabelWidth"
          >
            <el-input v-model="form.wtdw" autocomplete="off" placeholder="请输入建设单位"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item
            :label="$t('projectManage.projectList.table.monitoringUnit')"
            :label-width="formLabelWidth"
          >
            <el-input v-model="form.jcdw" autocomplete="off" placeholder="负责人"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item
            :label="$t('projectManage.projectList.table.monitoringUnit')"
            :label-width="formLabelWidth"
          >
            <el-input v-model="form.jcdw" autocomplete="off" placeholder="联系电话"></el-input>
          </el-form-item>
        </el-col>-->
      </el-form-item>
    </el-form>
    <!-- <mapSelectionDialog :append="true" :visible="mapSelectionDgVisibe"></mapSelectionDialog> -->
    <el-dialog
      title="地图选点"
      :visible.sync="innerVisible"
      append-to-body
      width="80%"
      center
      @close="dialogClose()"
    >
      <simpleMap @dialogClose="dialogClose()"></simpleMap>
    </el-dialog>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="saveData()">确 定</el-button>
    </div>
  </el-dialog>
</template>
<script>
import options from "@/assets/datas/country-data.js";
import { addProject, getProjectUserData } from "@/api/monitor";
import * as mUtils from "@/utils/mUtils";
import { mapGetters } from "vuex";
import mapSelectionDialog from "@/components/map/mapSelectionDialog";
import simpleMap from "@/components/map/simpleMap";
export default {
  name: "projectDialog",
  components: {
    mapSelectionDialog,
    simpleMap
  },
  data() {
    return {
      options: options,
      dialogFormVisible: false,
      // mapSelectionDgVisibe: false,
      innerVisible: false,
      formLabelWidth: "120px",
      form: {
        xmname: "项目名",
        lng: "",
        lat: "",
        userID: "",
        xmdress: "项目地址坐标",
        province: "省",
        city: "市",
        area: "区",
        jcdw: "监测单位",
        wtdw: "委托单位",
        jcStartDate: "开始时间",
        jcEndDate: "结束时间",
        safeLevel: "安全等级",
        xmlx: "项目类型",
        xmbz: "",
        instrustmentstr: "仪器",
        mobileStationInteval: 0,
        userNo: "用户编号",
        unitName: "单位名",
        supervisorTmp: [],
        monitorTmp: []
        // constructionUnit: [
        //   {
        //     name: "一建",
        //     principal: "王五",
        //     phone: "15066778899"
        //   }
        // ]
      },
      superviseList: [],
      monitorList: []
    };
  },
  props: {
    projectDgVisible: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  watch: {
    projectDgVisible(newValue, oldValue) {
      this.dialogFormVisible = newValue;
      if (this.dialogFormVisible) {
        this.form.userID = this.name;
        this.form.userNo = this.userData.currentInfo.no;
        this.form.unitName = this.userData.currentInfo.unit;
      }
    },
    mapSelectionObject: {
      deep: true, //深度监听
      handler: function(newValue, oldValue) {
        // console.log("地图监听：", newValue);
        this.form.xmdress = newValue.formatted_address;
        this.form.lng = newValue.location.lon;
        this.form.lat = newValue.location.lat;
        this.form.province = newValue.addressComponent.province;
        this.form.city = newValue.addressComponent.city;
        this.form.area = newValue.addressComponent.county;
      }
    }
  },
  computed: {
    ...mapGetters(["name", "userData", "mapSelectionObject"])
  },
  mounted() {
    this.getProjectUserData();
  },
  methods: {
    closeDg() {
      this.dialogFormVisible = false;
      this.$store.dispatch("setMapSelectionObject", {});
      this.$emit("closeDialog");
    },
    saveData() {
      let projectData = mUtils.toFormData(this.form);
      console.log("saveData", this.form, projectData);
      addProject(this.name, projectData).then(res => {
        console.log("监测员添加新项目", res);
        if (res.code == "200") {
          this.$message.success(res.msg);
          this.dialogFormVisible = false;
          // 调起刷新项目列表
          this.$emit("refreshProjectList");
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    },
    getProjectUserData() {
      let data = {
        userID: this.name
      };
      data = mUtils.toFormData(data);
      getProjectUserData(data).then(res => {
        console.log("获取项目人员数据", res);
        if (res.code == "200") {
          // this.$message.success(res.msg);
          this.monitorList = res.data.monitorList;
          this.superviseList = res.data.superviseList;
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    },
    // 地图选点
    getAddress() {
      console.log("地图选点激活");
      this.innerVisible = true;
    },
    dialogClose() {
      this.innerVisible = false;
    }

    // addConstructionUnit() {
    //   this.form.constructionUnit.push({
    //     name: "",
    //     principal: "",
    //     phone: "",
    //     key: Date.now()
    //   });
    // },
    // deleteConstructionUnit() {
    //   //   console.log("删除");
    //   this.form.constructionUnit.length > 1
    //     ? this.form.constructionUnit.pop()
    //     : (this.form.constructionUnit = [
    //         {
    //           name: "",
    //           principal: "",
    //           phone: ""
    //         }
    //       ]);
    // }
  }
};
</script>
<style lang="less" scoped>
.dialog {
  .el-select {
    width: 100%;
  }
  .city-cascader {
    width: 100%;
  }
  .el-date-editor {
    width: 100%;
  }
}
</style>