<template>
  <div>
    <el-table
      :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
      border
      stripe
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column
        prop="index"
        min-width="80"
        :label="$t('projectManage.projectList.table.index')"
        align="center"
      >
        <template slot-scope="scope">
          <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
        </template>
      </el-table-column>
      <el-table-column prop="xmno" :label="$t('projectManage.projectList.table.id')" align="center"></el-table-column>
      <el-table-column
        prop="xmname"
        min-width="100"
        :label="$t('projectManage.projectList.table.name')"
        align="center"
      ></el-table-column>
      <el-table-column
        prop="xmaddress"
        min-width="100"
        :label="$t('projectManage.projectList.table.address')"
        align="center"
      ></el-table-column>
      <el-table-column
        prop="dbname"
        :label="$t('projectManage.projectList.table.dbName')"
        align="center"
      ></el-table-column>
      <el-table-column
        prop="jcdw"
        min-width="100"
        :label="$t('projectManage.projectList.table.monitoringUnit')"
        align="center"
      ></el-table-column>
      <el-table-column
        prop="delegateDw"
        min-width="100"
        :label="$t('projectManage.projectList.table.requesterUnit')"
        align="center"
      ></el-table-column>
      <!-- <el-table-column
        prop="jcpgStartDate"
        :label="$t('projectManage.projectList.table.period')"
        align="center"
      ></el-table-column>-->
      <el-table-column
        :label="$t('projectManage.projectList.table.period')"
        min-width="100"
        align="center"
      >
        <template slot-scope="scope">
          <span>{{scope.row.jcpgStartDate}}~{{scope.row.jcpgEndDate}}</span>
        </template>
      </el-table-column>
      <el-table-column
        prop="state"
        :label="$t('projectManage.projectList.table.status')"
        :formatter="stateFormatter"
        align="center"
      ></el-table-column>
      <el-table-column
        :label="$t('projectManage.projectList.table.operation')"
        width="100"
        align="center"
      >
        <template slot-scope="scope">
          <el-button
            type="text"
            size="small"
            @click="editRow(scope.$index,scope.row)"
          >{{$t('publicOperation.edit')}}</el-button>
          <!-- <el-button
            type="text"
            style="color:red;"
            size="small"
            @click="deleteProject(scope.$index,scope.row)"
          >{{$t('publicOperation.delete')}}</el-button>-->
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-if="pageTotals>5"
      :pageTotal="pageTotals"
      @handleSizeChange="handleSizeChange"
      @handleCurrentChange="handleCurrentChange"
    ></pagination>
  </div>
</template>
<script>
import Pagination from "@/components/pagination";
import { mapGetters } from "vuex";
import { getProjactListFormAdmin } from "@/api/administrator";
import { getProjectListFormMonitor } from "@/api/monitor";
import * as mUtils from "@/utils/mUtils";

export default {
  name: "projectTabsTable",
  props: {
    toggleData: {
      type: String,
      default: "allProject",
      required: false
    },
    projectData: {
      type: Array,
      default: () => {
        return [];
      },
      required: true
    }
  },
  components: {
    Pagination
  },
  data() {
    return {
      tableData: [
        // {
        //   xmno: "67",
        //   xmname: "中国交建深圳市城市轨道交通二号线三期主体工程2131标项目",
        //   jd: "114.071846",
        //   wd: "22.554565",
        //   dbname: "zjehjdbc",
        //   cgdbname: "cgzjehjdbc",
        //   type: "基坑",
        //   jcpmurl: "",
        //   createman: "zjehjgly",
        //   company: "中交二航局南方工程有限公司",
        //   xmaddress: "深圳市福田区红荔路6013号",
        //   pro: "广东省",
        //   city: "深圳市",
        //   country: "=地区=",
        //   jcdw: "南方测绘广州分公司",
        //   delegateDw: "南方测绘广州分公司监测部",
        //   telphone: "",
        //   xmBz:
        //     "上海迪士尼乐园，是中国内地首座迪士尼主题乐园，位于上海市浦东新区川沙新镇，于2014年6月16日正式开工，其中的监测包括水位,沉降监测，属于国家重点监测工程委托南方测绘广州分公司监测部负责监测施工",
        //   jcpgStartDate: "2017-12-27",
        //   jcpgEndDate: "2022-06-28",
        //   safeLevel: "一级",
        //   ResponseMan: "中交二航局管理员",
        //   buildInstrutment: ",,",
        //   mobileStationInteval: "10",
        //   state: "监测中"
        // }
      ],
      currentPage: 1, //当前页码
      pageSize: 5 //表格每页条数
    };
  },
  computed: {
    ...mapGetters(["name", "roles", "userData"]),
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  watch: {
    projectData: {
      deep: true, //数组需要深度监听
      handler: function(newValue, oldValue) {
        // console.log("watch中：", newValue, "this", this);
        this.tableData = newValue;
      }
    }
  },
  mounted() {},
  methods: {
    // 编辑行
    editRow(index, row) {
      // this.$emit("openEditDialog", row);
    },
    // 删除行
    deleteProject(index, row) {
      this.$confirm("此操作将删除该项数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "删除成功!",
            duration: 600
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
            duration: 600
          });
        });
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    // 项目状态数据格式化，表格行数据格式化
    stateFormatter(row, column) {
      let status = row.state;
      if (status == "监测中") {
        return this.$i18n.t("projectManage.projectList.table.undone");
      } else {
        return this.$i18n.t("projectManage.projectList.table.finish");
      }
    }
  }
};
</script>
<style lang="less" scoped>
.pagination {
  text-align: center;
  margin-top: 10px;
}
</style>