<template>
  <div>
    <el-dialog title="添加机构" :visible.sync="dialogFormVisible" @close="closeDialog" center>
      <el-form :model="form">
        <el-form-item label="单位名" :label-width="formLabelWidth">
          <el-input v-model="form.unitName" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="联系人" :label-width="formLabelWidth">
          <el-input v-model="form.linkman" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="所属区域" :label-width="formLabelWidth">
          <el-row>
            <el-col :span="8">
              <el-select
                v-model="form.pro"
                @change="changePro()"
                class="form-select"
                placeholder="请选择省份"
              >
                <el-option
                  v-for="(item,index) in proList"
                  :key="index"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-col>
            <el-col :span="8">
              <el-select
                v-model="form.city"
                @change="changeCity()"
                class="form-select"
                placeholder="请选择市"
              >
                <el-option
                  v-for="(item,index) in cityList"
                  :key="index"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-col>
            <el-col :span="8">
              <el-select v-model="form.country" class="form-select" placeholder="请选择区">
                <el-option
                  v-for="(item,index) in countryList"
                  :key="index"
                  :label="item.label"
                  :value="item.value"
                ></el-option>
              </el-select>
            </el-col>
          </el-row>
          <!-- <el-input v-model="form.country" autocomplete="off"></el-input> -->
          <!-- <el-cascader
            v-model="form.country"
            :options="cityOption" 
            :separator="' '"
            :props="{ expandTrigger: 'hover' }"
            class="city-cascader"
            clearable
          ></el-cascader>-->
        </el-form-item>
        <el-form-item label="联系地址" :label-width="formLabelWidth">
          <el-input v-model="form.addr" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="联系电话" :label-width="formLabelWidth">
          <el-input v-model="form.tel" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="联系邮箱" :label-width="formLabelWidth">
          <el-input v-model="form.email" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="单位性质" :label-width="formLabelWidth">
          <el-select v-model="form.natrue" class="form-select" placeholder="请选择单位性质">
            <el-option label="监测单位" value="监测单位"></el-option>
            <el-option label="其他" value="其它"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="数据库名" :label-width="formLabelWidth">
          <el-input v-model="form.dbname" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="成果库名" :label-width="formLabelWidth">
          <el-input v-model="form.dbname" autocomplete="off" disabled></el-input>
        </el-form-item>
        <el-form-item label="资质" :label-width="formLabelWidth">
          <!-- <el-input v-model="form.aptitude" autocomplete="off" clearable></el-input> -->
          <el-upload
            class="upload-demo"
            action="none"
            :auto-upload="false"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :on-change="handleChange"
            :file-list="fileList"
            list-type="picture"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <!-- <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div> -->
          </el-upload>
        </el-form-item>
        <el-form-item label="营业执照" :label-width="formLabelWidth">
          <el-input v-model="form.police" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="税务登记证" :label-width="formLabelWidth">
          <el-input v-model="form.taxproof" autocomplete="off" clearable></el-input>
        </el-form-item>
        <el-form-item label="当前状态" :label-width="formLabelWidth">
          <el-input v-model="form.state" autocomplete="off" disabled></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveFromData()">确 定</el-button>
      </div>
    </el-dialog>
    <imgDialog :imageUrl="previewUrl" :imgDgVisible="imgDgVisible"></imgDialog>
  </div>
</template>
<script>
import options from "@/assets/datas/country-data.js";
import { toFormData } from "@/utils/mUtils";
import { createInstitution } from "@/api/institution";
import { fileURLToPath } from "url";
import imgDialog from "@/components/dialog/imgDialog";
export default {
  name: "institutionDialog",
  components: {
    imgDialog
  },
  data() {
    return {
      dialogFormVisible: false,
      formLabelWidth: "120px",
      cityOption: options, //城市数据
      fileList: [],
      previewUrl: "", //预览图片Url
      imgDgVisible: false, //预览图片弹窗
      proList: options[0].children,
      cityList: [],
      countryList: [],
      form: {
        unitName: "",
        pro: "",
        city: "",
        country: "",
        addr: "",
        tel: "",
        email: "",
        natrue: "",
        linkman: "",
        aptitude: "",
        police: "",
        taxproof: "",
        state: "",
        dbname: "",
        cgdbname: ""
      }
    };
  },
  props: {
    institutionDgVisible: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  watch: {
    institutionDgVisible(newValue, oldValue) {
      // console.log("弹窗接收值-type", newValue);
      this.dialogFormVisible = newValue;
    }
    // perdonnelDgTitle(newValue, oldValue) {
    //   // console.log("弹窗接收值-type", newValue);
    //   this.dialogTitle = newValue;
    // }
  },
  methods: {
    //关闭回调
    closeDialog() {
      console.log("窗口关闭！");
      this.$emit("closeDialog");
    },
    // 保存数据
    saveFromData() {
      let data = this.form;
      console.log("保存数据", formData);
      data = toFormData(data);
      createInstitution(data).then(res => {
        console.log("保存情况", res);
        // 保存成功后回调
        this.dialogFormVisible = false;
        // this.closeDialog();
      });
    },
    // 点击文件列表中已上传的文件回调
    handlePreview(file) {
      console.log("输出当前点击的文件", file);
    },
    // 文件列表移除文件时的钩子
    handleRemove(file, fileList) {
      console.log("文件移除", file);
    },
    //文件状态改变时的钩子
    handleChange(file, fileList) {
      console.log("文件", file, "全部文件", fileList);
    },
    changePro() {
      this.form.city = "";
      this.form.country = "";
      this.proList.some(item => {
        if (item.value == this.form.pro) {
          this.cityList = item.children;
        }
        return item.value == this.form.pro;
      });
    },
    changeCity() {
      // let that = this;
      this.form.country = "";
      this.cityList.some(item => {
        if (item.value == this.form.city) {
          this.countryList = item.children;
        }
        return item.value == this.form.city;
      });
    }
  }
};
</script>
<style lang="less" scoped>
.city-cascader,
.form-select {
  width: 100%;
}
</style>