<template>
  <div class="search_container searchArea">
    <el-form
      :inline="true"
      :model="search_data"
      :rules="rules"
      ref="search_data"
      class="demo-form-inline search-form"
    >
      <el-form-item class="btnRight">
        <el-button type="primary" size="mini" icon="el-icon-circle-plus-outline" @click="onAdd()">添加</el-button>
        <!-- <el-button
          type="success"
          size="mini"
          icon="el-icon-d-arrow-left"
          @click="returnInstitutionList()"
        >返回机构列表</el-button>-->
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "searchItem",
  data() {
    return {
      search_data: {
        name: "",
        projectName: "",
        sensorType: "",
        pointName: "",
        time: "",
        keyword: "",
        warningType: false,
        value: true
      },
      rules: {
        name: [{ required: true, message: "请输入用户名", trigger: "blur" }]
      }
    };
  },
  computed: {
    // ...mapGetters(["searchBtnDisabled"])
  },
  created() {},
  methods: {
    onScreeoutMoney(searchForm) {
      this.$refs[searchForm].validate(valid => {
        if (valid) {
          this.$store.commit("SET_SEARCH", this.search_data);
          this.$emit("searchList");
        }
      });
    },
    onAdd() {
      this.$emit("showInstitutionDgVisible");
    },
    returnInstitutionList() {
      this.$emit("returnInstitutionList");
    }
  }
};
</script>

<style lang="less" scoped>
@deep: ~">>>";
.search_container {
  margin-bottom: 10px;
}
.btnRight {
  float: right;
  margin-right: 0px !important;
  margin-bottom: 10px !important;
}
.searchArea {
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 10px 10px 0;
}
.time-picker {
  @{deep}.el-date-editor.el-input__inner {
    width: 220px;
  }
}

.search-form:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
</style>
