<template>
  <section>
    <el-upload
      ref="upload"
      :action="uploadAction"
      :on-preview="handlePreview"
      :on-remove="handleRemove"
      :on-success="handleSuccess"
      :on-error="handleError"
      :on-change="handleChange"
      :file-list="uploadFiles"
      :http-request="customRequest"
      :auto-upload="true"
      list-type="picture"
    >
      <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
      <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传</el-button>
    </el-upload>
    <!--图片预览弹出框 -->
    <el-dialog
      :visible.sync="dialogVisible"
      :close-on-press-escape="true"
      :close-on-click-modal="true"
      :fullscreen="false"
      :show-close="true"
      center
    >
      <el-image style="width: 100%; height: 100%" :src="dialogImageUrl"></el-image>
      <!-- <div slot="footer" class="dialog-footer">
        <el-button @click="cancel()">取 消</el-button>
        <el-button type="primary" @click="determine()">确 定</el-button>
      </div>-->
    </el-dialog>
  </section>
</template>
<script>
import { mapGetters } from "vuex";
import { fileUpload, deleteFile } from "@/api/fileUpload";
import * as mUtils from "@/utils/mUtils";

export default {
  data() {
    return {
      dialogVisible: false,
      dialogImageUrl: "",
      url: "",
      fileData: {
        folderPath: "",
        data: {}
      },
      uploadFiles: [
        {
          name: "food.jpeg",
          url:
            "https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100"
        }
      ]
    };
  },
  props: {
    path: {
      type: String,
      default: "",
      required: true
    },
    uploadPathObject: {
      type: Object,
      default: () => {
        return {};
      },
      required: true
    }
  },
  computed: {
    ...mapGetters(["unitName"]),
    uploadAction: function() {
      // return "https://jsonplaceholder.typicode.com/posts/";
      return "none";
    },
    uploadPath: function() {
      let path = this.path + this.unitName;
      return path;
    }
  },
  mounted() {
    console.log("上传路径", this.path);
    console.log("上传路径对象", this.uploadPathObject);
  },
  methods: {
    handlePreview(file) {
      console.log("点击文件列表中已上传的文件时的钩子", file);
      //   console.log(
      //     "点击文件列表中已上传的文件时的钩子",
      //     file,
      //     URL.createObjectURL(file.raw)
      //   );
      try {
        this.dialogVisible = true;
        //   点击文件时调用dialog预览，把当前点击文件生成url
        this.dialogImageUrl = URL.createObjectURL(file.raw);
      } catch (error) {
        console.log(error);
        this.dialogVisible = true;
        this.dialogImageUrl = file.url;
      }
    },
    //
    handleRemove(file, fileList) {
      console.log(
        "文件列表移除文件时的钩子",
        file,
        "fileList",
        fileList,
        "文件列表",
        this.uploadFiles
      );
      //移除文件时，把上传缓存文件内对应的文件移除
      this.uploadFiles = this.uploadFiles.filter(item => item != file);
      // 调起文件删除
      // this.deleteFile();
    },
    //
    handleSuccess(file, fileList) {
      console.log(file.name + "文件上传成功的钩子", file);
    },
    //
    handleError(err, file, fileList) {
      console.log(file.name + "文件上传失败的钩子", err, file);
      //上传失败移除文件，使用户重新选择上传
      this.uploadFiles.pop();
    },
    //
    handleChange(file, fileList) {
      console.log(
        "文件状态改变钩子",
        file,
        URL.createObjectURL(file.raw),
        "fileList:",
        fileList
      );
      //   this.dialogImageUrl = URL.createObjectURL(file.raw);
      //   this.dialogVisible = true;
      //取文件缓存列表和上传控件文件列表的并集且去重
      //   this.uploadFiles = [...new Set([...this.uploadFiles, ...fileList])];
      this.uploadFiles = fileList;
      console.log("文件列表", this.uploadFiles);
      this.fileData = file.raw;
    },
    submitUpload() {
      console.log("手动上传");
      this.$refs.upload.submit();
    },
    customRequest() {
      console.log("自定义上传方法");
      // 校验格式和大小
      if (
        mUtils.checkImageType(this.fileData.type) &&
        mUtils.checkImageSize(this.fileData.size, 1)
      ) {
        // this.$message.success("ok");
        let data = {
          folderPath: this.uploadPath,
          file: this.fileData
        };
        data = mUtils.toFormData(data);
        console.log("上传的路径和数据", data);
        // fileUpload(data).then(res => {
        //   if (res.code == "200") {
        //     let data = res.data;
        //     console.log("上传返回数据", data);
        //   } else {
        //     this.$message.error("异常:" + res.msg);
        //   }
        // });
      } else {
        console.log("文件校验出错", this.fileData.type, this.fileData.size);
        // 检验不合格把文件移除
        this.uploadFiles.pop();
      }
    },
    deleteFile() {
      // 删除文件
      let data = {
        folderPath: "../项目设置/方案编辑/imagepath【文件相对路径】"
      };
      data = mUtils.toFormData(data);
      console.log("删除的文件的相对路径", data);
      deleteFile(data).then(res => {
        if (res.code == "200") {
          let data = res.data;
          console.log("上传返回数据", data);
        } else {
          this.$message.error("异常:" + res.msg);
        }
      });
    },
    cancel() {
      console.log("取消使用");
      this.dialogVisible = false;
      console.log("---", this.uploadFiles);
      //预览时点击曲线清空文件列表
      this.$refs.upload.clearFiles();
      console.log("===", this.uploadFiles);
    },
    determine() {
      console.log("确定使用");
      this.dialogVisible = false;
      this.dialogImageUrl = "";
    }
  }
};
</script>
<style lang="less" scoped>
</style>