<template>
  <div class="fillcontain">
    <search-item></search-item>
    <div class="table_container">
      <el-table
        v-loading="loading"
        :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        style="width: 100%"
        align="center"
      >
        <el-table-column prop="index" label="序号" align="center" width="80">
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="recipient" label="接收人" align="center" width="180"></el-table-column>
        <el-table-column prop="smsDetails" label="信息内容" align="center"></el-table-column>
        <el-table-column
          prop="time"
          label="日期"
          align="center"
          :formatter="timeFormatter"
          width="180"
        ></el-table-column>
        <el-table-column prop="result" label="结果" align="center" width="180"></el-table-column>
        <!-- <el-table-column label="操作" align="center" width="180">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="goDetails(scope.$index,scope.row)"
            >{{$t('publicOperation.details')}}</el-button>
            <el-button
              type="text"
              size="small"
              style="color:red;"
              @click="cancelWarning(scope.$index,scope.row)"
            >{{$t('publicOperation.cancel')}}</el-button>
          </template>
        </el-table-column>-->
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>
  </div>
</template>
<script>
import searchItem from "./components/searchItem";
import Pagination from "@/components/pagination";
import { formatDate } from "@/utils/mUtils";
export default {
  components: {
    searchItem,
    Pagination
  },
  data() {
    return {
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 5
    };
  },
  computed: {
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  mounted() {
    this.tableData = this.createData();
  },
  methods: {
    // 创建数据
    createData() {
      let data = [];
      for (let i = 0; i < 30; i++) {
        data.push({
          recipient: "张山",
          smsDetails:
            "DNS" + i + ",第30期 2019/6/10 2:23:51,本次东方向-1.297,三级预警",
          time: "native Date Thu Dec 12 2019 00:00:00 GMT+0800 (中国标准时间)",
          result: "完成"
        });
      }
      return data;
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    timeFormatter(row, column, cellValue, index) {
      if (cellValue) {
        return formatDate(new Date(cellValue), 1);
      }
    }
  }
};
</script>
<style lang="less" scoped>

.table_container {
  padding: 10px;
  // margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
}
</style>