<template>
  <section>
    <!-- 筛选栏 -->
    <search-item @onAdd="addEquipment"></search-item>
    <div>
      <el-table
        :data="tabledata.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        border
        stripe
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column
          prop="index"
          :label="$t('projectManage.projectList.table.index')"
          align="center"
        >
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="senorno"
          :label="$t('projectManage.Equipment.table.senorno')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="verificationType"
          :label="$t('projectManage.Equipment.table.verificationType')"
          :formatter="verificationTypeFormatter"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="monitorName"
          :label="$t('projectManage.Equipment.table.monitorName')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="ProjectName"
          :label="$t('projectManage.Equipment.table.ProjectName')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="address"
          :label="$t('projectManage.Equipment.table.address')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="senorName"
          :label="$t('projectManage.Equipment.table.senorName')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="lastInspectionTime"
          :label="$t('projectManage.Equipment.table.lastInspectionTime')"
          :formatter="timeFormatter"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="lastInspectionMan"
          :label="$t('projectManage.Equipment.table.lastInspectionMan')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="producetionTime"
          :label="$t('projectManage.Equipment.table.producetionTime')"
          :formatter="timeFormatter"
          align="center"
        ></el-table-column>
        <el-table-column :label="$t('publicOperation.operation')" min-width="80" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="editEquipment(scope.$index,scope.row)"
            >{{$t('publicOperation.edit')}}</el-button>
            <el-button
              type="text"
              size="small"
              @click="equipmentDetails(scope.$index,scope.row)"
            >{{$t('publicOperation.details')}}</el-button>
            <el-button
              type="text"
              size="small"
              style="color:red;"
              @click="deleteEquipment(scope.$index,scope.row)"
            >{{$t('publicOperation.delete')}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>
    <el-dialog title="收货地址" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="活动名称" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="活动区域" :label-width="formLabelWidth">
          <el-select v-model="form.region" placeholder="请选择活动区域">
            <el-option label="区域一" value="shanghai"></el-option>
            <el-option label="区域二" value="beijing"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveData">确 定</el-button>
      </div>
    </el-dialog>
  </section>
</template>
<script>
import Pagination from "@/components/pagination";
import searchItem from "./equipmentComponents/searchItem";
import { formatDate } from "@/utils/mUtils";
export default {
  name: "Equipment",
  components: {
    Pagination,
    searchItem
  },
  data() {
    return {
      tabledata: [],
      currentPage: 1,
      pageSize: 5,
      dialogFormVisible: false,
      formLabelWidth: "120px",
      form: {
        name: "",
        region: "",
        date1: "",
        date2: "",
        delivery: false,
        type: [],
        resource: "",
        desc: ""
      }
    };
  },
  computed: {
    pageTotals: function() {
      return this.tabledata.length;
    }
  },
  mounted() {
    this.tabledata = this.createData();
  },
  methods: {
    createData() {
      let item = [];
      for (let i = 1; i <= 25; i++) {
        item.push({
          senorno: i,
          verificationType: true,
          monitorName: "检定员",
          ProjectName: "佛山办事处监测",
          address: "佛山南海区",
          senorName: "全站仪",
          senorType: "全站仪",
          lastInspectionTime:
            "native Date Thu Dec 12 2019 00:00:00 GMT+0800 (中国标准时间)",
          lastInspectionMan: "检定人",
          producetionTime:
            "native Date Thu Dec 12 2019 00:00:00 GMT+0800 (中国标准时间)"
        });
      }
      return item;
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    saveData() {
      this.$message({
        message: "保存",
        type: "success"
      });
      this.dialogFormVisible = false;
    },
    addEquipment() {
      this.$message({
        message: "添加",
        type: "success"
      });
      this.dialogFormVisible = true;
    },
    editEquipment() {
      this.$message({
        message: "编辑",
        type: "success"
      });
    },
    equipmentDetails() {
      this.$message({
        message: "详情",
        type: "success"
      });
    },
    deleteEquipment() {
      this.$message({
        message: "删除",
        type: "success"
      });
    },
    // 项目状态数据格式化，表格行数据格式化
    verificationTypeFormatter(row, column) {
      let status = row.status;
      if (status) {
        return this.$i18n.t("projectManage.Equipment.table.normal");
      } else {
        return this.$i18n.t("projectManage.Equipment.table.overdue");
      }
    },
    // 时间格式化
    timeFormatter(row, column, cellValue, index) {
      //   console.log("cellValue", cellValue);
      if (cellValue) {
        // console.log(formatDate(new Date(cellValue), 3));
        return formatDate(new Date(cellValue), 3);
      }
    }
  }
};
</script>
<style lang="less" scoped>
.normal {
  color: red;
}
.overdue {
  color: #409eff;
}
</style>