<template>
  <section>
    <div class="add-btn">
      <el-button
        type="primary"
        icon="el-icon-circle-plus-outline"
        @click="openAddDg()"
        round
      >{{$t('publicOperation.add')}}</el-button>
    </div>
    <div class="table-continer">
      <!-- <h3>{{$t('projectManage.monitorList.title')}}</h3> -->
      <el-table
        :data="tabledata.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        border
        stripe
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column
          prop="index"
          :label="$t('projectManage.projectList.table.index')"
          align="center"
        >
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="userName"
          :label="$t('projectManage.monitorList.table.name')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="ID"
          :label="$t('projectManage.monitorList.table.account')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="pass"
          :label="$t('projectManage.monitorList.table.pass')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="position"
          :label="$t('projectManage.monitorList.table.position')"
          align="center"
        ></el-table-column>
        <!-- <el-table-column prop="address" label="地址" width="300"></el-table-column>
        <el-table-column prop="zip" label="邮编" width="120"></el-table-column>-->
        <el-table-column :label="$t('publicOperation.operation')" min-width="80" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="openEditDg(scope.$index,scope.row)"
            >{{$t('publicOperation.edit')}}</el-button>
            <el-button
              type="text"
              size="small"
              style="color:red;"
              @click="deleteMonitor(scope.$index,scope.row)"
            >{{$t('publicOperation.delete')}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>

    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" center>
      <el-form :model="form" ref="ruleForm" width="75%" center>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.monitorList.table.name')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form._call" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.monitorList.table.position')"
              :label-width="formLabelWidth"
            >
              <el-select v-model="form.position" placeholder="请选择职位">
                <el-option label="安全员" value="安全员"></el-option>
                <el-option label="安全负者人" value="安全负者人"></el-option>
                <el-option label="现场监测员" value="现场监测员"></el-option>
                <el-option label="技术负责人" value="技术负责人"></el-option>
                <el-option label="持证上岗人员" value="持证上岗人员"></el-option>
                <!-- <el-option label="监测员" value="监测员"></el-option> -->
              </el-select>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.monitorList.table.account')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.userName" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.monitorList.table.pass')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.pass" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.monitorList.table.tel')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.tel" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.monitorList.table.email')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.email" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.monitorList.table.titleCertificate')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.zczsmc" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.monitorList.table.titleCertificateID')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.zczsbh" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.monitorList.table.inductionCertificate')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.sgzsmc" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.monitorList.table.inductionCertificateID')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.sgzsbh" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item
          :label="$t('projectManage.monitorList.table.qualification')"
          :label-width="formLabelWidth"
        >
          <el-upload
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :file-list="fileList"
            list-type="picture"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">{{$t('publicOperation.cancel')}}</el-button>
        <el-button type="primary" @click="saveData()">{{$t('publicOperation.determine')}}</el-button>
      </div>
    </el-dialog>
  </section>
</template>

<script>
import Pagination from "@/components/pagination";
import { mapGetters } from "vuex";
import { toFormData } from "@/utils/mUtils";
import { getMonitorList, addMonitor, editMonitor } from "@/api/administrator";
export default {
  name: "Monitor",
  components: {
    Pagination
  },
  data() {
    return {
      dialogTableVisible: false,
      dialogFormVisible: false,
      dialogType: "",
      fileList: [],
      formLabelWidth: "120px",
      dialogTitle: "新增监测员",
      currentPage: 1, //当前页码
      pageSize: 5, //表格每页条数
      tabledata: [],
      form: {
        memberno: "人员编号",
        ID: "账户名",
        pass: "密码",
        userName: "姓名",
        position: "职位",
        role: "人员类型",
        ID: "机构ID",
        unitno: "归属机构",
        tel: "联系电话",
        email: "邮箱",
        zczsmc: "职称证书名称",
        zczsbh: "职称证书编号",
        zczs: "职称证书图片",
        datamodify: "数据修改",
        sgzsmc: "上岗证书名称",
        sgzsbh: "上岗证书编号",
        sgzs: "上岗证书图片",
        _call: "称呼"
      }
    };
  },
  computed: {
    ...mapGetters(["name", "userData"]),
    pageTotals: function() {
      return this.tabledata.length;
    }
  },
  mounted() {
    // this.tabledata = this.createData();
    this.getMonitorList();
  },
  methods: {
    getMonitorList() {
      let userID = toFormData({
        userID: this.userData.currentInfo.id
      });
      // console.log("查询监测员列表");
      getMonitorList(userID).then(res => {
        // console.log("查询监测员列表", res);
        if (res.code == "200") {
          this.tabledata = res.data;
        } else {
          this.$message.error("getMonitorList err!");
        }
      });
    },
    openEditDg(index, row) {
      this.dialogTitle = this.$i18n.t("publicOperation.edit");
      this.dialogType = "eidt";
      this.form = Object.create(row);
      // console.log("编辑的数据", row);
      this.dialogFormVisible = true;
    },
    openAddDg() {
      this.clearDialogData();
      // console.log(this.form);
      this.dialogTitle = this.$i18n.t("publicOperation.add");
      this.dialogType = "add";
      this.dialogFormVisible = true;
    },
    deleteMonitor(index, row) {
      // console.log(index);
      // console.log(row);
      this.form = Object.create(row);
      this.dialogFormVisible = true;
    },
    saveData() {
      let userData = this.form;
      // console.log("保存的数据", userData);
      if (this.dialogType == "add") {
        this.addMonitor(userData);
      } else {
        this.editMonitor(userData);
      }
    },
    addMonitor(data) {
      // console.log("添加监测员", data);
      let monitorData = {
        userid: this.name,
        _call: data._call,
        userName: data.userName,
        pass: data.pass,
        email: data.email,
        tel: data.tel,
        position: data.position,
        sgzs: data.sgzs,
        sgzsbh: data.sgzsbh,
        sgzsmc: data.sgzsmc,
        unitno: data.unitno,
        zczs: data.zczs,
        zczsbh: data.zczsbh,
        zczsmc: data.zczsmc
      };
      console.log("监测员数据", monitorData);
      monitorData = toFormData(monitorData);
      addMonitor(monitorData).then(res => {
        console.log("添加监测员", res);
        if (res.code == "200") {
          // this.tabledata = res.data;
          this.dialogFormVisible = false;
          this.$message.success(res.msg);
          this.getMonitorList();
        } else {
          this.$message.error(res.msg || "error!");
        }
      });
    },
    editMonitor(data) {
      let formData = toFormData(data);
      // console.log("编辑监测员");
      editMonitor(formData).then(res => {
        console.log("编辑监测员", res);
        if (res.code == "200") {
          // this.tabledata = res.data;
          this.dialogFormVisible = false;
          this.$message.success(res.msg);
          this.getMonitorList();
        } else {
          this.$message.error(res.msg || "error!");
        }
      });
    },
    clearDialogData() {
      this.form = {
        memberno: "",
        ID: "",
        pass: "",
        userName: "",
        position: "",
        role: "",
        ID: "",
        unitno: "",
        tel: "",
        email: "",
        zczsmc: "",
        zczsbh: "",
        zczs: "",
        datamodify: "",
        sgzsmc: "",
        sgzsbh: "",
        sgzs: "",
        _call: ""
      };
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    }
  }
};
</script>
<style lang="less" scoped>
.add-btn {
  text-align: right;
  margin: 5px;
}
.table-continer {
  width: 100%;
  text-align: center;
}
.el-select {
  width: 100%;
}
</style>