<template>
  <section>
    <!-- <div class="add-btn">
      <el-button
        type="primary"
        icon="el-icon-circle-plus-outline"
        @click="addProject()"
        round
      >{{$t('projectManage.projectList.addProject')}}</el-button>
    </div>-->
    <div class="table-continer">
      <el-tabs :before-leave="beforeLeave">
        <el-tab-pane>
          <span slot="label" @click="toggleTabs('allProject')">
            <!-- <icon-svg icon-class="icondashboard" /> -->
            <i class="el-icon-document"></i>
            {{$t('projectManage.projectList.allProject')}}
          </span>
          <project-tabs-table
            :toggerData="toggerData"
            :projectData="allProjectData"
            @openEditDialog="openEditDialog"
          ></project-tabs-table>
        </el-tab-pane>
        <el-tab-pane v-if="undoneProjectVisible">
          <span slot="label" @click="toggleTabs('undoneProject')">
            <!-- <icon-svg icon-class="iconecharts" /> -->
            <i class="el-icon-document-remove"></i>
            {{$t('projectManage.projectList.undoneProject')}}
          </span>
          <project-tabs-table
            :toggerData="toggerData"
            :projectData="undoneProjectData"
            @openEditDialog="openEditDialog"
          ></project-tabs-table>
        </el-tab-pane>
        <el-tab-pane v-if="finishProjectVisible">
          <span slot="label" @click="toggleTabs('finishProject')">
            <!-- <icon-svg icon-class="iconinfo" /> -->
            <i class="el-icon-document-checked"></i>
            {{$t('projectManage.projectList.finishProject')}}
          </span>
          <project-tabs-table
            :toggerData="toggerData"
            :projectData="finishProjectData"
            @openEditDialog="openEditDialog"
          ></project-tabs-table>
        </el-tab-pane>
        <el-tab-pane v-if="addProjectBtnVisible" key="add" name="add">
          <span slot="label">
            <!-- <icon-svg icon-class="iconinfo" /> -->
            <i class="el-icon-circle-plus-outline"></i>
            {{$t('projectManage.projectList.addProject')}}
          </span>
          <!-- <project-tabs-table :toggerData="toggerData" @openEditDialog="openEditDialog"></project-tabs-table> -->
        </el-tab-pane>
      </el-tabs>
    </div>
    <!-- <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" center>
      <el-form :model="form" ref="ruleForm" width="75%" center>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.name')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.name" autocomplete="off" placeholder="请输入项目名"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.address')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.address" autocomplete="off" placeholder="请输入项目地址"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.requesterUnit')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.requesterUnit" autocomplete="off" placeholder="请输入委托单位"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.monitoringUnit')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.monitoringUnit" autocomplete="off" placeholder="请输入监测单位"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.startTime')"
              :label-width="formLabelWidth"
            >
              <el-date-picker v-model="form.startTime" type="date" placeholder="选择日期"></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.endTime')"
              :label-width="formLabelWidth"
            >
              <el-date-picker v-model="form.endTime" type="date" placeholder="选择日期"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.securityLevel')"
              :label-width="formLabelWidth"
            >
              <el-select v-model="form.securityLevel" placeholder="请选择安全等级">
                <el-option label="一级" value="1"></el-option>
                <el-option label="二级" value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.principal')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.principal" autocomplete="off" placeholder="请输入负责人"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.address')"
              :label-width="formLabelWidth"
            >
              <el-cascader
                v-model="form.region"
                :options="options"
                :separator="' '"
                :props="{ expandTrigger: 'hover' }"
                class="city-cascader"
                clearable
                placeholder="请选择所属区域"
              ></el-cascader>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.projectType')"
              :label-width="formLabelWidth"
            >
              <el-select v-model="form.projectType" placeholder="请选择项目类型">
                <el-option label="桥梁" value="1"></el-option>
                <el-option label="边坡" value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.monitor')"
              :label-width="formLabelWidth"
            >
              <el-select v-model="form.Monitor" placeholder="请选择监测人员">
                <el-option label="张工" value="1"></el-option>
                <el-option label="李工" value="12"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.projectList.table.supervisor')"
              :label-width="formLabelWidth"
            >
              <el-select v-model="form.supervisor" placeholder="请选择监督人员">
                <el-option label="梁工" value="1"></el-option>
                <el-option label="刘工" value="25"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
      </div>
    </el-dialog>-->
    <projectDialog
      :projectDgVisible="projectDgVisible"
      @closeDialog="closeDialog"
      @refreshProjectList="getProjactList()"
    ></projectDialog>
  </section>
</template>

<script>
import projectTabsTable from "./projectListComponents/projectTabsTable";
import projectDialog from "./projectListComponents/projectDialog";
import options from "@/assets/datas/country-data.js";
import { mapGetters } from "vuex";
import { getProjectListFormAdmin } from "@/api/administrator";
import { getProjectListFormMonitor } from "@/api/monitor";
import { getProjectListFormSupervisor } from "@/api/supervisor";
import * as mUtils from "@/utils/mUtils";

export default {
  name: "ProjectList",
  components: {
    projectTabsTable,
    projectDialog
  },
  data() {
    return {
      options: options,
      // dialogTableVisible: false,
      dialogFormVisible: false,
      projectDgVisible: false,
      fileList: [],
      formLabelWidth: "120px",
      dialogTitle: "新增项目",
      tableData: [],
      toggerData: "",
      form: {
        id: 115,
        name: "佛山办事处监测",
        address: "佛山南海区",
        requesterUnit: "南方测绘广州分公司监测部",
        monitoringUnit: "南方测绘",
        startTime: "2018-/10/10 00:00",
        endTime: "2020/10/10 00:00",
        securityLevel: true,
        principal: "杨工",
        region: "省市区",
        projectType: "",
        Monitor: "",
        supervisor: "",
        constructionUnit: {
          name: "",
          executive: "",
          phone: ""
        }
      }
    };
  },
  computed: {
    ...mapGetters(["name", "roles", "userData"]),
    addProjectBtnVisible: function() {
      // 根据角色控制项目添加tab的显示
      if (this.roles[0] == "monitor") {
        return true;
      } else {
        return false;
      }
    },
    undoneProjectVisible: function() {
      if (this.roles[0] == "supervisor") {
        return false;
      } else {
        return true;
      }
    },
    finishProjectVisible: function() {
      if (this.roles[0] == "supervisor") {
        return false;
      } else {
        return true;
      }
    },
    // 筛选不同状态项目数据
    allProjectData: function() {
      // 使用解构浅拷贝数组
      return [...this.tableData];
    },
    undoneProjectData: function() {
      return this.tableData.filter(item => item.state == "监测中");
    },
    finishProjectData: function() {
      return this.tableData.filter(item => item.state == "已完成");
    }
  },
  mounted() {
    // this.tabledata = this.createData();
    this.getProjactList();
  },
  methods: {
    toggleTabs(typeString) {
      console.log("当前选中类型", typeString);
    },
    getProjactList() {
      let userType = this.roles[0];
      switch (userType) {
        case "admin":
          this.getProjectListFormAdmin();
          break;
        case "monitor":
          this.getProjectListFormMonitor();
          break;
        case "supervisor":
          this.getProjectListFormSupervisor();
          break;

        default:
          this.$message.error("Error!");
          break;
      }
    },
    getProjectListFormAdmin() {
      // let userId = this.name;
      let data = mUtils.toFormData({
        userid: this.userData.currentInfo.id
      });
      getProjectListFormAdmin(data).then(res => {
        console.log("查询管理员项目列表", res);
        if (res.code == "200") {
          // 无数据时，查询管理员项目列表接口返回值为空字符串，需要校验并处理为空数组
          // Array.isArray(res.data)
          //   ? (this.tableData = res.data)
          //   : (this.tableData = []);
          this.tableData = res.data;
        } else {
          this.$message.error("Error!");
        }
      });
    },
    getProjectListFormMonitor() {
      // let userId = this.name;
      let data = mUtils.toFormData({
        userid: this.userData.currentInfo.no
      });
      getProjectListFormMonitor(data).then(res => {
        console.log("查询监测员项目列表", res);
        if (res.code == "200") {
          this.tableData = res.data;
        } else {
          this.$message.error("Error!");
        }
      });
    },
    getProjectListFormSupervisor() {
      // let userId = this.name;
      let data = mUtils.toFormData({
        userID: this.userData.currentInfo.no
      });
      getProjectListFormSupervisor(data).then(res => {
        console.log("查询监督员项目列表", res);
        if (res.code == "200") {
          this.tableData = res.data;
        } else {
          this.$message.error("Error!");
        }
      });
    },
    createData() {
      let item = [];
      while (item.length < 25) {
        item.push({
          id: 115,
          name: "佛山办事处监测",
          address: "佛山南海区",
          dbName: "testDB",
          monitoringUnit: "南方测绘",
          requesterUnit: "南方测绘广州分公司监测部",
          period: "2018-/10/10 00:00  -2020/10/10 00:00",
          status: true
        });
      }
      return item;
    },
    editMonitor(index, row) {
      this.dialogTitle = "编辑项目";
      // this.form = row;
      this.dialogFormVisible = true;
    },
    deleteMonitor(index, row) {
      // console.log(index);
      // console.log(row);
      // this.form = row;
      this.$confirm("此操作将删除该项, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "删除成功!",
            duration: 600
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
            duration: 600
          });
        });
    },
    openEditDialog(rowData) {
      // console.log("打开编辑弹窗", rowData);
      this.dialogTitle = "编辑项目";
      this.dialogFormVisible = true;
      this.form = rowData;
    },
    closeDialog() {
      // console.log("关闭弹窗");
      this.projectDgVisible = false;
    },
    addProject() {
      this.projectDgVisible = false;
      // this.clearDialog();
      // console.log("addProject");
      // this.dialogTitle = "新增项目";
      this.projectDgVisible = true;
    },
    clearDialog() {
      this.form = {
        id: "",
        name: "",
        account: "",
        pass: "",
        tel: "",
        position: "",
        email: "",
        unitno: ""
      };
    },
    handleRemove(file, fileList) {
      // console.log(file, fileList);
    },
    handlePreview(file) {
      // console.log(file);
    },
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    /* 标签切换时触发 */
    beforeLeave(currentName, oldName) {
      //如果name是add，则拦截tab跳转，激活添加项目函数
      if (currentName == "add") {
        // console.log("点击添加项目");
        this.addProject();
        return false;
      } else {
        this.currentIndex = currentName;
      }
    },
    statusFormatter(row, column) {
      let status = row.status;
      if (status) {
        return "监测中";
      } else {
        return "已完成";
      }
    }
  }
};
</script>
<style lang="less" scoped>
.add-btn {
  float: right;
  text-align: right;
  /* margin: 5px; */
  background: transparent;
  z-index: 100;
}
.table-continer {
  width: 100%;
  text-align: center;
}
.el-select {
  width: 100%;
}
.city-cascader {
  width: 100%;
}
.el-date-editor {
  width: 100%;
}
.pagination {
  text-align: center;
  padding: 10px 18px;
}
</style>