<template>
  <section>
    <div class="add-btn">
      <el-button
        type="primary"
        icon="el-icon-circle-plus-outline"
        @click="openAddDg()"
        round
      >{{$t('publicOperation.add')}}</el-button>
    </div>
    <div class="table-continer">
      <!-- <h3>{{$t('projectManage.supervisionList.title')}}</h3> -->
      <el-table
        :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        border
        stripe
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column
          prop="index"
          :label="$t('projectManage.projectList.table.index')"
          align="center"
        >
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="name"
          :label="$t('projectManage.supervisionList.table.name')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="user"
          :label="$t('projectManage.supervisionList.table.account')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="pass"
          :label="$t('projectManage.supervisionList.table.pass')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="tel"
          :label="$t('projectManage.supervisionList.table.tel')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="email"
          :label="$t('projectManage.supervisionList.table.email')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="position"
          :label="$t('projectManage.supervisionList.table.position')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="unitcall"
          :label="$t('projectManage.supervisionList.table.unitno')"
          align="center"
        ></el-table-column>
        <el-table-column :label="$t('publicOperation.operation')" min-width="80" align="center">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="openEditDg(scope.$index,scope.row)"
            >{{$t('publicOperation.edit')}}</el-button>
            <!-- <el-button
              type="text"
              size="small"
              style="color:red;"
              @click="deleteMonitor(scope.$index,scope.row)"
            >{{$t('publicOperation.delete')}}</el-button>-->
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>

    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" center>
      <el-form :model="form" ref="ruleForm" width="75%" center>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.supervisionList.table.name')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.supervisionList.table.unitno')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.unitcall" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.supervisionList.table.account')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.user" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.supervisionList.table.pass')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.pass" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.supervisionList.table.tel')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.tel" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item
              :label="$t('projectManage.supervisionList.table.email')"
              :label-width="formLabelWidth"
            >
              <el-input v-model="form.email" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">{{$t('publicOperation.cancel')}}</el-button>
        <el-button type="primary" @click="saveData()">{{$t("publicOperation.determine")}}</el-button>
      </div>
    </el-dialog>
  </section>
</template>

<script>
import Pagination from "@/components/pagination";
import { mapGetters } from "vuex";
import * as mUtils from "@/utils/mUtils";
import {
  getSupervisorList,
  addSupervisor,
  editSupervisor
} from "@/api/monitor";

export default {
  name: "Supervision",
  components: {
    Pagination
  },
  data() {
    return {
      dialogFormVisible: false,
      addSupervisorType: true, //弹窗的类型
      formLabelWidth: "120px",
      dialogTitle: this.$i18n.t("publicOperation.add"),
      currentPage: 1, //当前页码
      pageSize: 5, //表格每页条数
      tableData: [],
      form: {
        user: "",
        email: "",
        pass: "",
        position: "",
        tel: "",
        name: "",
        role: "",
        unitcall: ""
      }
    };
  },
  computed: {
    ...mapGetters(["name", "userData"]),
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  mounted() {
    this.getSupervisorList();
  },
  methods: {
    // 获取监督员列表
    getSupervisorList() {
      let data = mUtils.toFormData({ userid: this.userData.currentInfo.id });
      getSupervisorList(data)
        .then(res => {
          // console.log("监督员列表", res);
          if (res.code == "200") {
            // this.$message.success(res.msg);
            this.tableData = res.data;
          } else {
            this.$message.error(res.meg || "Error!");
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    // 删除监督员
    deleteMonitor(index, row) {
      console.log(index);
      console.log(row);
      this.form = row;
      this.$confirm("此操作将删除该用户, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "删除成功!",
            duration: 600
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
            duration: 600
          });
        });
    },
    // 打开新增弹窗
    openAddDg() {
      this.clearDialog();
      // console.log(this.form);
      this.dialogTitle = this.$i18n.t("publicOperation.add");
      //  新增模式
      this.addSupervisorType = true;
      this.dialogFormVisible = true;
    },
    // 打开编辑弹窗
    openEditDg(index, row) {
      this.dialogTitle = this.$i18n.t("publicOperation.edit");
      this.form = row;
      console.log("row", this.form);
      this.addSupervisorType = false;
      this.dialogFormVisible = true;
    },
    saveData() {
      this.addSupervisorType ? this.addSupervisor() : this.editSupervisor();
    },
    // 提交编辑后监督员数据
    editSupervisor() {
      // let userId = this.name;
      let userId = "zjehjjcy";
      let data = {
        userid: userId,
        userno: this.form.userNO,
        user: this.form.user,
        email: this.form.email,
        pass: this.form.pass,
        position: this.form.position,
        tel: this.form.tel,
        name: this.form.name,
        unit_call: this.form.unitcall
      };
      // console.log("edit整理后data", data);
      data = mUtils.toFormData(data);
      editSupervisor(userId, data)
        .then(res => {
          console.log("编辑监督员", res);
          if (res.code == "200") {
            this.$message.success(res.msg);
            this.getSupervisorList();
            this.dialogFormVisible = false;
          } else {
            this.$message.error(res.meg || "Error!");
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    // 提交新增监督员数据
    addSupervisor() {
      // let userId = this.name;
      let userId = "zjehjjcy";
      let data = {
        userid: userId,
        user: this.form.user,
        email: this.form.email,
        pass: this.form.pass,
        position: this.form.position,
        tel: this.form.tel,
        name: this.form.name,
        unit_call: this.form.unitcall
      };
      data = mUtils.toFormData(data);
      console.log("add整理后data", data);
      addSupervisor(userId, data)
        .then(res => {
          console.log("添加监督员", res);
          if (res.code == "200") {
            this.$message.success(res.msg);
            this.getSupervisorList();
            this.dialogFormVisible = false;
          } else {
            this.$message.error(res.meg || "Error!");
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    // 清理form表单
    clearDialog() {
      this.form = {
        user: "",
        email: "",
        pass: "",
        position: "",
        tel: "",
        name: "",
        unitcall: ""
      };
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    }
  }
};
</script>
<style lang="less" scoped>
.add-btn {
  text-align: right;
  margin: 5px;
}
.table-continer {
  width: 100%;
  text-align: center;
}
.el-select {
  width: 100%;
}
</style>