<template>
  <section>
    <div class="title">
      <!-- <h3 style="text-align:center;">{{$t('projectManage.unitInformationList.title')}}</h3> -->
    </div>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      label-width="100px"
      class="demo-ruleForm"
    >
      <el-form-item>
        <el-col :span="7">
          <el-form-item :label="$t('projectManage.unitInformationList.from.unitno')" prop="unitno">
            <el-input v-model="ruleForm.UnitName"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item
            :label="$t('projectManage.unitInformationList.from.address')"
            prop="address"
          >
            <el-input v-model="ruleForm.Addr"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item :label="$t('projectManage.unitInformationList.from.region')" prop="region">
            <el-select v-model="ruleForm.Natrue" class="item">
              <el-option label="监测单位" value="监测单位"></el-option>
              <el-option label="委托单位" value="委托单位"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="7">
          <el-form-item
            :label="$t('projectManage.unitInformationList.from.contacts')"
            prop="contacts"
          >
            <el-input v-model="ruleForm.Linkman"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item :label="$t('projectManage.unitInformationList.from.phone')" prop="phone">
            <el-input v-model="ruleForm.Tel"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item :label="$t('projectManage.unitInformationList.from.email')" prop="email">
            <el-input v-model="ruleForm.Email"></el-input>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="7">
          <el-form-item
            :label="$t('projectManage.unitInformationList.from.selectedOptions')"
            prop="selectedOptions"
          >
            <el-row>
              <el-col :span="8">
                <el-select
                  v-model="ruleForm.Pro"
                  @change="changePro()"
                  class="form-select"
                  placeholder="请选择省份"
                >
                  <el-option
                    v-for="(item,index) in proList"
                    :key="index"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-col>
              <el-col :span="8">
                <el-select
                  v-model="ruleForm.City"
                  @change="changeCity()"
                  class="form-select"
                  placeholder="请选择市"
                >
                  <el-option
                    v-for="(item,index) in cityList"
                    :key="index"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-col>
              <el-col :span="8">
                <el-select v-model="ruleForm.Country" class="form-select" placeholder="请选择区">
                  <el-option
                    v-for="(item,index) in countryList"
                    :key="index"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-col>
            </el-row>
            <!-- <el-cascader
              v-model="ruleForm.selectedOptions"
              :options="options"
              :separator="' '"
              :props="{ expandTrigger: 'hover' }"
              class="city-cascader"
              clearable
            ></el-cascader>-->
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="8">
          <el-upload
            class="upload-demo"
            ref="upload"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :file-list="fileList"
            :auto-upload="false"
            list-type="picture"
          >
            <el-button
              slot="trigger"
              size="small"
              type="primary"
            >{{$t('projectManage.unitInformationList.from.upload1')}}</el-button>
            <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">
              <i class="el-icon-upload"></i>
            </el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </el-col>
        <el-col :span="8">
          <el-upload
            class="upload-demo"
            ref="upload"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :on-change="businessLicenseHandle"
            :file-list="ruleForm.fileList2"
            :auto-upload="false"
            list-type="picture"
          >
            <el-button
              slot="trigger"
              size="small"
              type="primary"
            >{{$t('projectManage.unitInformationList.from.upload2')}}</el-button>
            <el-button
              style="margin-left: 10px;"
              size="small"
              type="success"
              @click="submitUpload"
            >上传到服务器</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </el-col>
        <el-col :span="8">
          <el-upload
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :file-list="fileList"
            list-type="picture"
          >
            <el-button
              size="small"
              type="primary"
            >{{$t('projectManage.unitInformationList.from.upload3')}}</el-button>
          </el-upload>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          @click="saveUnitinfoData('ruleForm')"
        >{{$t('publicOperation.save')}}</el-button>
        <!-- <el-button @click="resetForm('ruleForm')">重置</el-button> -->
      </el-form-item>
    </el-form>
    <!--图片预览弹出框 -->
    <el-dialog :visible.sync="dialogVisible" center>
      <el-image style="width: 100%; height: 100p%" :src="dialogImageUrl"></el-image>
    </el-dialog>
    <fileUpload :path="folderPath" :uploadPathObject="uploadPathObject"></fileUpload>
  </section>
</template>
<script>
import options from "@/assets/datas/country-data.js";
import { mapGetters } from "vuex";
import * as mUtils from "@/utils/mUtils";
import { queryInstitution, editInstitution } from "@/api/institution";
import fileUpload from "@/components/fileUpload";
export default {
  name: "UnitInformation",
  components: {
    fileUpload
  },
  data() {
    return {
      // selectedOptions: [], //存放默认值
      options: options, //存放城市数据
      proList: options[0].children,
      cityList: [],
      countryList: [],
      dialogImageUrl: "",
      dialogVisible: false,
      fileList: [],
      ruleForm: {
        CgdbName: null,
        DbName: "zjehjdbc",
        State: "未通过审核",
        Taxproof: "纳税",
        Police: "",
        Aptitude: "资质",
        Linkman: "fsadff",
        Natrue: "监测单位",
        Email: "22475468@qq.com",
        Tel: "85615518",
        Addr: "广州市深圳",
        Country: "=地区=",
        City: "深圳市",
        Pro: "广东省",
        UnitName: "中交二航局南方工程有限公司"
      },
      rules: {
        //   name: [
        //     { required: true, message: "请输入活动名称", trigger: "blur" },
        //     { min: 3, max: 5, message: "长度在 3 到 5 个字符", trigger: "blur" }
        //   ],
        //   city: [{ min: 1, message: "请选择区域", trigger: "blur" }],
        //   region: [
        //     { required: true, message: "请选择活动区域", trigger: "change" }
        //   ],
        //   date1: [
        //     {
        //       type: "date",
        //       required: true,
        //       message: "请选择日期",
        //       trigger: "change"
        //     }
        //   ],
        //   date2: [
        //     {
        //       type: "date",
        //       required: true,
        //       message: "请选择时间",
        //       trigger: "change"
        //     }
        //   ],
        //   type: [
        //     {
        //       type: "array",
        //       required: true,
        //       message: "请至少选择一个活动性质",
        //       trigger: "change"
        //     }
        //   ],
        //   resource: [
        //     { required: true, message: "请选择活动资源", trigger: "change" }
        //   ],
        //   desc: [{ required: true, message: "请填写活动形式", trigger: "blur" }]
      },
      folderPath: "../资质/",
      uploadPathObject: {
        path: "../资质/",
        unitName: "机构名"
      }
    };
  },
  computed: {
    ...mapGetters(["unitName"])
  },
  mounted() {
    this.getUnitinfoData();
  },
  methods: {
    // 查询当前机构信息
    getUnitinfoData() {
      let data = mUtils.toFormData({ unitname: this.unitName });
      queryInstitution(data).then(res => {
        // console.log("当前机构信息", res);
        if (res.code == "200") {
          this.ruleForm = res.data;
        } else {
          this.$message.error("getMonitorList err!");
        }
      });
    },
    saveUnitinfoData() {
      let data = JSON.parse(JSON.stringify(this.ruleForm));
      data = mUtils.transformationObjectKey(data);
      data = mUtils.toFormData(data);
      editInstitution(data).then(res => {
        if (res.code == "200") {
          this.$message.success(res.msg);
          this.getUnitinfoData();
        } else {
          this.$message.error("Error:" + res.msg);
        }
      });
    },

    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert("submit!");
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    // 营业执照
    businessLicenseHandle(file) {
      // businessLicense
      console.log("当前选中file", file);
      const _that = this;
      const isLt10M = file.size / 1024 / 1024 < 10;
      if (!isLt10M) {
        this.$message.error("上传图片大小不能超过 10M!");
        return false;
      } else {
        this.dialogImageUrl = URL.createObjectURL(file.raw);
        this.dialogVisible = true;
        mUtils.compress(file.raw, function(val) {
          console.log("压缩回调", val);
          console.log("寻找属性", _that.ruleForm.fileList2);
          // _that.ruleForm[attributeName];
          // _that.theForm.picUrl = val;
          // _that.imgFile = val;
          // _that.showDelete = true;
          // 调用图片URL表单校验
          // _that.$refs["addBuildingForm"].validateField("picUrl");
        });
      }
    },
    handleDownload(file) {
      console.log(file);
    },
    submitUpload() {
      // this.$refs.upload.submit();
      console.log(this.fileList);
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    },
    // 修改省份
    changePro() {
      this.ruleForm.City = "";
      this.ruleForm.Country = "";
      this.proList.some(item => {
        if (item.value == this.ruleForm.Pro) {
          this.cityList = item.children;
        }
        return item.value == this.ruleForm.Pro;
      });
    },
    // 修改市级
    changeCity() {
      this.ruleForm.Country = "";
      this.cityList.some(item => {
        if (item.value == this.ruleForm.City) {
          this.countryList = item.children;
        }
        return item.value == this.ruleForm.City;
      });
    }
  }
};
</script>
<style lang="less" scoped>
.title {
  margin: 10px 5px;
}
.city-cascader {
  width: 100%;
}
.upload-demo {
  width: 360px;
  display: inline-block;
}
.item {
  width: 100%;
}
</style>