<template>
  <section>
    <!-- 筛选栏 -->
    <search-item></search-item>
    <!-- 表格 -->
    <div>
      <el-table
        :data="tabledata.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        border
        stripe
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column
          prop="index"
          :label="$t('projectManage.projectList.table.index')"
          align="center"
        >
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column
          prop="name"
          :label="$t('projectManage.WarningRecord.table.name')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="projectName"
          :label="$t('projectManage.WarningRecord.table.projectName')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="sensorType"
          :label="$t('projectManage.WarningRecord.table.sensorType')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="pointName"
          :label="$t('projectManage.WarningRecord.table.pointName')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="warningDetails"
          :label="$t('projectManage.WarningRecord.table.warningDetails')"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="time"
          :label="$t('projectManage.WarningRecord.table.time')"
          :formatter="timeFormatter"
          align="center"
        ></el-table-column>
        <el-table-column
          prop="details"
          :label="$t('projectManage.WarningRecord.table.details')"
          align="center"
        ></el-table-column>
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>
  </section>
</template>
<script>
import searchItem from "./warmingRecordComponents/searchItem";
import Pagination from "@/components/pagination";
import { formatDate } from "@/utils/mUtils";
export default {
  name: "WarningRecord",
  components: {
    searchItem,
    Pagination
  },
  data() {
    return {
      tabledata: [],
      currentPage: 1,
      pageSize: 5
    };
  },
  computed: {
    pageTotals: function() {
      return this.tabledata.length;
    }
  },
  mounted() {
    this.tabledata = this.createData();
  },
  methods: {
    createData() {
      let item = [];
      while (item.length < 25) {
        item.push({
          name: "张三",
          projectName: "佛山办事处监测",
          sensorType: "佛山南海区",
          pointName: "testDB01",
          warningDetails: "南方测绘预警",
          time: "native Date Thu Dec 12 2019 00:00:00 GMT+0800 (中国标准时间)",
          details: ""
        });
      }
      return item;
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    timeFormatter(row, column, cellValue, index) {
      if (cellValue) {
        return formatDate(new Date(cellValue), 1);
      }
    }
  }
};
</script>
<style lang="less" scoped>
.pagination {
  text-align: center;
  margin-top: 10px;
}
</style>