<template>
  <div class="fillcontain">
    <div class="contain">
      <div class="table_container">
        <el-table :data="tableData" border style="width: 100%">
          <el-table-column prop="picture" align="center" label="图片">
            <template slot-scope="scope">
              <el-popover placement="right" trigger="hover">
                <img :src="scope.row.picture" style="width:400px" />
                <!-- <div style="width:500px;">66</div> -->
                <img
                  slot="reference"
                  :src="scope.row.picture"
                  :alt="scope.row.picture"
                  style="height:60px;"
                />
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column label="类型" prop="type" align="center"></el-table-column>
          <el-table-column label="点名" prop="pointStr" align="center"></el-table-column>
          <el-table-column label="其他" align="center">
            <template slot-scope="scope">
              <el-popover trigger="hover" placement="top">
                <p>姓名: {{ scope.row.name }}</p>
                <p>住址: {{ scope.row.address }}</p>
                <div slot="reference" class="name-wrapper">
                  <el-tag>{{ scope.row.name }}</el-tag>
                </div>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center">
            <template slot-scope="scope">
              <el-button type="text" icon="edit" size="mini" @click="onEdit(scope.row)">设置</el-button>
              <!-- <el-button type="text" icon="delete" size="mini">平面图设置</el-button> -->
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>
<script>
import { get } from "http";
// import url from "@/assets/img/avatar-3.png";
export default {
  data() {
    return {
      tableData: [
        {
          picture:
            "https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄",
          pointStr: "N01,N02,N03,N04",
          type: "text"
        },
        {
          picture:
            "https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg",
          name: "王小二",
          address: "上海市普陀区金沙江路 1517 弄",
          pointStr: "N01,N02,N03,N04",
          type: "text"
        }
      ]
    };
  },
  methods: {}
};
</script>
<style lang="less" scoped>
.fillcontain {
  padding-bottom: 0;
}
.contain {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.table_container {
  padding: 10px;
  background: #fff;
  border-radius: 2px;
}
</style>