<template>
  <div class="fillcontain">
    <el-row :gutter="10" class="container">
      <el-col class="container-left" :xs="24" :sm="16" :md="18" :lg="20" :xl="20">
        <div>
          <el-image style="width: 100%; height: 500px" :src="picture" @click="touchstart"></el-image>
        </div>
      </el-col>
      <el-col class="container-right" :xs="24" :sm="8" :md="6" :lg="4" :xl="4"></el-col>
    </el-row>
  </div>
</template>
<script>
import { get } from "http";
import { log } from "util";
// import url from "@/assets/img/avatar-3.png";
export default {
  data() {
    return {
      picture:
        "https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg",
      tableData: [
        {
          picture:
            "https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg",
          name: "王小虎",
          address: "上海市普陀区金沙江路 1518 弄",
          pointStr: "N01,N02,N03,N04",
          type: "text"
        },
        {
          picture:
            "https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg",
          name: "王小二",
          address: "上海市普陀区金沙江路 1517 弄",
          pointStr: "N01,N02,N03,N04",
          type: "text"
        }
      ]
    };
  },
  methods: {
    touchstart(e) {
      console.log("鼠标点击", e);
    }
  }
};
</script>
<style lang="less" scoped>
.fillcontain {
  padding-bottom: 0;
}
.container {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
// .table_container {
//   padding: 10px;
//   background: #fff;
//   border-radius: 2px;
// }

.container-left {
  // width: 80%;
  min-height: 500px;
  // max-height: calc(100% - 120px);
  background: cornsilk;

  .picture {
    height: 500px;
  }
}
.container-right {
  // width: 20%;
  min-height: 500px;
  background: darkgray;
}
</style>