<template>
  <div class="fillcontain">
    <search-item @returnWarningOverview="returnWarningOverview" @sendMore="sendMore"></search-item>
    <div class="table_container">
      <el-table
        ref="multipleTable"
        v-loading="loading"
        :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        tooltip-effect="dark"
        style="width: 100%"
        @select="handleSelectionChange"
        @select-all="handleSelectionChange"
        @selection-change="handleCheckedChange"
      >
        <el-table-column type="selection" width="55" align="center"></el-table-column>
        <el-table-column prop="index" label="序号" align="center" width="80">
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="sensortype" label="监测类型" align="center" width="80"></el-table-column>
        <el-table-column prop="pointName" label="点名" align="center" width="80"></el-table-column>
        <el-table-column
          prop="time"
          label="自检时间"
          align="center"
          :formatter="timeFormatter"
          width="180"
        ></el-table-column>
        <el-table-column prop="warningDetails" label="预警内容" align="center"></el-table-column>
        <el-table-column label="操作" align="center" width="180">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="determineWarning(scope.$index,scope.row)"
            >{{$t('publicOperation.determine')}}</el-button>
            <el-button
              type="text"
              size="small"
              @click="releaseWarning(scope.$index,scope.row)"
            >{{$t('publicOperation.warning')}}</el-button>
            <el-button
              type="text"
              size="small"
              style="color:red;"
              @click="cancelWarning(scope.$index,scope.row)"
            >{{$t('publicOperation.cancel')}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>
    <EditWarningDialog
      :dialogVisible="dialogVisible"
      :editRows="editRows"
      @closeDialog="closeDialog"
    ></EditWarningDialog>
  </div>
</template>
<script>
import SearchItem from "./warningDetailsCom/searchItem";
import Pagination from "@/components/pagination";
import EditWarningDialog from "./warningDetailsCom/editWarningDialog";
import { formatDate } from "@/utils/mUtils";
export default {
  name: "warningDetailsTable",
  components: {
    SearchItem,
    Pagination,
    EditWarningDialog
  },
  data() {
    return {
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 5,
      dialogVisible: false,
      lastCheckData: [], // 上次保存的值
      selectData: [], // 选中的数据索引
      checkList: [], // 临时选中的值

      editRows: [],
      multipleSelection: []
    };
  },
  computed: {
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  mounted() {
    this.tableData = this.createData();
  },
  methods: {
    // 返回预警概况列表
    returnWarningOverview() {
      this.$emit("changeComponent", "warningOverviewTable");
    },
    // 创建数据
    createData() {
      let data = [];
      for (let i = 0; i < 30; i++) {
        data.push({
          sensortype: "水平位移",
          pointName: "DNS" + i,
          time: "native Date Thu Dec 12 2019 00:00:00 GMT+0800 (中国标准时间)",
          warningDetails:
            "DNS" + i + ",第30期 2019/6/10 2:23:51,本次东方向-1.297,三级预警"
        });
      }
      return data;
    },
    //获取选中行数据
    handleCheckedChange(rows) {
      this.checkList = []; //置空
      if (rows) {
        rows.forEach(row => {
          if (row) {
            this.checkList.push(row);
          }
        });
      }
      // console.log("选中数据", this.checkList);
    },
    // 获取保存选中数据的索引
    handleSelectionChange(selection, row) {
      this.selectData[this.currentPage - 1] = []; //按页码分别填入各页选中的数据数组
      this.tableData.forEach((item, index) => {
        // 遍历已选的数据重新填充数组
        for (let i = 0; i < selection.length; i++) {
          //通过唯一值判断相同
          if (item.pointName === selection[i].pointName) {
            this.selectData[this.currentPage - 1].push(index);
          }
        }
      });
      // console.log("选中的数据索引", this.selectData);
    },
    // 确认预警
    determineWarning() {
      this.$message({
        message: "确认预警",
        type: "error"
      });
    },
    // 发送预警
    releaseWarning(index, row) {
      this.editRows = [];
      // console.log(index, row);
      this.editRows.push(row);
      this.dialogVisible = true;
      // console.log(this.dialogVisible);
      this.$message({
        message: "预警",
        type: "error"
      });
    },
    sendMore() {
      this.saveCheckedRows();
      // 将选中数据扁平化flat()
      this.editRows = this.lastCheckData.flat();
      // console.log("批量发送", this.editRows);

      this.dialogVisible = true;
    },
    // 取消预警
    cancelWarning() {
      this.$message({
        message: "取消",
        type: "error"
      });
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
      //再切换数据条数时，把数据索引等全部清空
      this.lastCheckData = []; // 上次保存的值
      this.selectData = []; // 选中的数据索引
      this.checkList = []; // 临时选中的值
    },
    // 切换页码
    handleCurrentChange(val) {
      // 保存当前页选中的值
      this.saveCheckedRows();
      // 切换页码
      this.currentPage = val;
      //切换页码把对应页面勾选数据回填勾选
      this.restoreRow();
    },
    // 保存当前页选中的值
    saveCheckedRows() {
      this.lastCheckData[this.currentPage - 1] = this.checkList; // 保存当前页选中的值
    },
    // 判断是否选中
    toggleSelection(rows) {
      // 判断是否选中
      // console.log("判断是否选中", rows);
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    // 对应页面勾选数据回填勾选
    restoreRow() {
      //切换页码把对应页面勾选数据回填勾选
      let arr = [];
      if (this.selectData[this.currentPage - 1]) {
        this.selectData[this.currentPage - 1].forEach((item, index) => {
          arr.push(this.tableData[item]);
        });
      }
      // ES6
      let setTime = new Promise((resolve, reject) => {
        resolve(arr);
      });
      Promise.all([setTime]).then(results => {
        this.toggleSelection(arr);
      });
    },
    // 时间格式化
    timeFormatter(row, column, cellValue, index) {
      if (cellValue) {
        return formatDate(new Date(cellValue), 1);
      }
    },
    // 关闭弹窗
    closeDialog() {
      this.dialogVisible = false;
    }
  }
};
</script>
<style lang="less" scoped>
@deep: ~">>>";

.table_container {
  padding: 10px;
  // margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
  @{deep}.el-link {
    display: block !important;
    // text-decoration: none;
    // color: black;
  }
}
</style>