<template>
  <div class="fillcontain">
    <search-item @showContactDgVisible="showContactDgVisible"></search-item>
    <div class="table_container">
      <el-table
        v-loading="loading"
        :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        style="width: 100%"
        align="center"
      >
        <el-table-column prop="index" label="序号" align="center" width="80">
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="warningDetails" label="预警信息" align="center"></el-table-column>
        <el-table-column prop="unreadQuantity" label="未读数量" align="center" width="80"></el-table-column>
        <el-table-column prop="sun" label="总数" align="center" width="80"></el-table-column>
        <el-table-column
          prop="time"
          label="日期"
          align="center"
          :formatter="timeFormatter"
          width="180"
        ></el-table-column>
        <el-table-column label="操作" align="center" width="180">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="goDetails(scope.$index,scope.row)"
            >{{$t('publicOperation.details')}}</el-button>
            <el-button
              type="text"
              size="small"
              style="color:red;"
              @click="cancelWarning(scope.$index,scope.row)"
            >{{$t('publicOperation.cancel')}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>
    <contact-dialog :contactDgVisible="contactDgVisible" @closeDialog="closeDialog"></contact-dialog>
  </div>
</template>
<script>
import searchItem from "./warningOverviewCom/searchItem";
import contactDialog from "./warningOverviewCom/contactDialog";
import Pagination from "@/components/pagination";
import { formatDate } from "@/utils/mUtils";
export default {
  name: "warningOverviewTable",
  components: {
    searchItem,
    Pagination,
    contactDialog
  },
  data() {
    return {
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 5,
      contactDgVisible: false
    };
  },
  computed: {
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  mounted() {
    this.tableData = this.createData();
  },
  methods: {
    createData() {
      let item = [];
      while (item.length < 25) {
        item.push({
          warningDetails:
            "GDJG1-21,第30期 2019/6/10 2:23:51,本次东方向-1.297,三级预警",
          unreadQuantity: "2",
          sun: "10",
          time: "native Date Thu Dec 12 2019 00:00:00 GMT+0800 (中国标准时间)"
          // name: "张三",
          // projectName: "GDJG1-21,第30期 2019/6/10 2:23:51,本次东方向-1.297,三级预警",
          // details: ""
        });
      }
      return item;
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    goDetails() {
      this.$emit("changeComponent", "warningDetailsTable");
    },
    cancelWarning() {},
    // 显示常用联系人弹窗
    showContactDgVisible() {
      this.contactDgVisible = true;
    },
    // 回调关闭弹窗
    closeDialog() {
      this.contactDgVisible = false;
    },
    timeFormatter(row, column, cellValue, index) {
      if (cellValue) {
        return formatDate(new Date(cellValue), 1);
      }
    }
  }
};
</script>
<style lang="less" scoped>


.table_container {
  padding: 10px;
  // margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
}
</style>