<template>
  <el-dialog
    title="预警内容编辑"
    :visible.sync="centerDialogVisible"
    width="50%"
    @closed="closeDialog"
    center
  >
    <!-- <span>{{data}}</span> -->
    <el-input type="textarea" :rows="8" v-model="data"></el-input>
    <span>总字数:{{wordCount}}</span>
    <span>分{{Pages}}条短信发送</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="centerDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="submit()">确 定</el-button>
    </span>
  </el-dialog>
</template>
<script>
import xss from "xss";
import * as mutils from "@/utils/mUtils";
export default {
  name: "editWarningDialog",
  props: {
    dialogVisible: {
      type: Boolean,
      default: false,
      required: true
    },
    editRows: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      centerDialogVisible: false,
      data: ""
    };
  },
  computed: {
    editString() {
      let str = "";
      this.editRows.forEach(item => {
        if (item.warningDetails) {
          str += item.warningDetails;
        }
      });
      this.data = str;
      return str;
    },
    // 编辑内容总字数
    wordCount() {
      return this.data.length;
    },
    // 分切后短信数量
    Pages() {
      return Math.ceil(this.data.length / 50);
    }
  },
  watch: {
    dialogVisible(newValue, oldValue) {
      // console.log("弹窗接收值-type", newValue);
      this.centerDialogVisible = newValue;
    },
    editRows: {
      handler(newValue, oldValue) {
        let str = "";
        newValue.forEach(item => {
          if (item.warningDetails) {
            str += item.warningDetails;
          }
        });
        this.data = str;
      },
      // 代表在wacth里声明了firstName这个方法之后立即先去执行handler方法
      immediate: true
    }
  },
  methods: {
    submit() {
      this.data = mutils.interceptXSS(this.data);
      console.log(this.data);
    },
    closeDialog() {
      this.$emit("closeDialog");
    }
  }
};
</script>