<template>
  <div class="search_container searchArea">
    <el-form
      :inline="true"
      :model="search_data"
      :rules="rules"
      ref="search_data"
      class="demo-form-inline search-form"
    >
      <!-- <el-form-item label>
        <el-input
          v-model="search_data.name"
          placeholder="用户名"
          @keyup.enter.native="onScreeoutMoney('search_data')"
        ></el-input>
      </el-form-item>-->
      <!-- <el-form-item label>
        <el-select v-model="search_data.name" placeholder="用户名">
          <el-option label="张三" value="张三"></el-option>
          <el-option label="李四" value="李四"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label>
        <el-select v-model="search_data.projectName" placeholder="项目名">
          <el-option label="张三" value="张三"></el-option>
          <el-option label="李四" value="李四"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label>
        <el-input v-model="search_data.sensorType" placeholder="监测类型"></el-input>
      </el-form-item>
      <el-form-item label>
        <el-input v-model="search_data.pointName" placeholder="点名"></el-input>
      </el-form-item>
      <el-form-item class="time-picker">
        <el-date-picker
          v-model="search_data.time"
          type="datetimerange"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label>
        <el-input v-model="search_data.keyword" placeholder="关键字"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" size="mini" icon="el-icon-search" @click="onScreeoutMoney()"></el-button>
      </el-form-item>-->

      <el-form-item class="btnRight">
        <!-- <el-button
          type="primary"
          size="mini"
          icon="view"
          @click="onBatchDelMoney()"
          :disabled="searchBtnDisabled"
        >批量删除</el-button>-->
        <el-button type="success" size="mini" icon="view">导出Elcel</el-button>
        <el-button type="primary" size="mini" icon="view" @click="onAdd()">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "searchItem",
  data() {
    return {
      search_data: {
        name: "",
        projectName: "",
        sensorType: "",
        pointName: "",
        time: "",
        keyword: ""
      },
      rules: {
        name: [{ required: true, message: "请输入用户名", trigger: "blur" }]
      }
    };
  },
  computed: {
    // ...mapGetters(["searchBtnDisabled"])
  },
  created() {},
  methods: {
    onScreeoutMoney(searchForm) {
      this.$refs[searchForm].validate(valid => {
        if (valid) {
          this.$store.commit("SET_SEARCH", this.search_data);
          this.$emit("searchList");
        }
      });
    },
    onAdd() {
      this.$emit("onAdd", "add");
    },
    onBatchDelMoney() {
      this.$emit("onBatchDelMoney");
    }
  }
};
</script>

<style lang="less" scoped>
@deep: ~">>>";
.search_container {
  margin-bottom: 5px;
}
.btnRight {
  float: right;
  margin-right: 0px !important;
  margin-bottom: 5px;
}
.searchArea {
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 5px 10px 0;
}
.time-picker {
  @{deep}.el-date-editor.el-input__inner {
    width: 220px;
  }
}

.search-form {
  @{deep}.el-form-item {
    margin-bottom: 10px !important;
  }
}

.search-form:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
</style>
