<template>
  <el-dialog
    title="常用联系人"
    :visible.sync="centerDialogVisible"
    width="60%"
    center
    @close="closeDialog"
  >
    <div>
      <el-row :gutter="10" class="row_list">
        <el-col :span="12">
          <!-- <span>需要注意的是内容是默认不居中的</span> -->
          <el-form :inline="true" :model="form" class="demo-form-inline">
            <el-form-item>
              <el-input v-model="form.user" placeholder="联系人姓名" clearable></el-input>
            </el-form-item>
            <el-form-item>
              <el-input
                v-model="form.phone"
                placeholder="联系人电话"
                @keyup.enter.native="onSubmit"
                clearable
              ></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="onSubmit">+</el-button>
            </el-form-item>
          </el-form>
          <div v-if="userList.length>0">
            <el-checkbox
              :indeterminate="isIndeterminate"
              v-model="checkAll"
              @change="handleCheckAllChange"
            >全选</el-checkbox>
            <div style="margin: 15px 0;"></div>
            <el-checkbox-group v-model="checkedList" @change="handleCheckedUserChange">
              <el-checkbox
                v-for="(item, index) in userList"
                :key="index"
                :label="item"
              >{{item.user+'——'+item.phone}}</el-checkbox>
            </el-checkbox-group>
          </div>
          <div v-if="userList.length>0">
            <el-button type="primary" @click="setupFrequentUser">设为常用联系人</el-button>
            <el-button type="danger" @click="deleteChecked">删除选中</el-button>
          </div>
        </el-col>
        <el-col :span="12">
          <el-tag
            size="medium"
            :key="index"
            v-for="(tag,index) in frequentUSerList"
            closable
            :disable-transitions="false"
            @close="handleClose(tag)"
          >{{tag.user+'-'+tag.phone}}</el-tag>
        </el-col>
      </el-row>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="centerDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>
    </span>
  </el-dialog>
</template>
<script>
export default {
  name: "contactDialog",
  props: {
    contactDgVisible: {
      type: Boolean,
      // default: false,
      required: true
    }
  },
  data() {
    return {
      centerDialogVisible: false,
      form: {
        user: "",
        phone: ""
      },
      userList: [],
      isIndeterminate: true,
      checkAll: false,
      checkedList: [],
      frequentUSerList: []
    };
  },
  watch: {
    contactDgVisible(newValue, oldValue) {
      // console.log("弹窗接收值-type", newValue);
      this.centerDialogVisible = newValue;
    }
  },
  mounted() {
    // console.log("8888", this.contactDgVisible);
  },
  methods: {
    closeDialog() {
      this.$emit("closeDialog");
    },
    onSubmit() {
      console.log("submit!", this.form);
      let key = this.form;
      let isInclude = this.userList.findIndex(v => {
        return v.user == key.user && v.phone == key.phone;
      });
      if (isInclude == -1 && key.user != "" && key.phone != "") {
        this.userList.push(key);
        this.form = {
          user: "",
          phone: ""
        };
      }
      // else {
      //   this.$message({
      //     message: "已存在相同联系人",
      //     type: "error"
      //   });
      // }

      //   this.userList.forEach((item, index, array) => {
      //     if (item.user == key.user && item.phone == key.phone) {
      //       _that.$message({
      //         message: "已存在相同联系人",
      //         type: "error"
      //       });
      //     } else {
      //       _that.userList.push(key);
      //       _that.form = {
      //         user: "",
      //         phone: ""
      //       };
      //     }
      //   });
      //   this.userList.push(key);
      //   this.form = {
      //     user: "",
      //     phone: ""
      //   };
    },
    // 全选
    handleCheckAllChange(val) {
      this.checkedList = val ? this.userList : [];
      this.isIndeterminate = false;
    },
    // 单击checkbox
    handleCheckedUserChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.userList.length;
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.userList.length;
    },
    // 删除选中,使用set数据结构获取数组差集
    deleteChecked() {
      let set1 = new Set(this.userList);
      let set2 = new Set(this.checkedList);
      let subset = [];
      for (let item of set1) {
        if (!set2.has(item)) {
          subset.push(item);
        }
      }
      this.userList = subset;
      this.checkedList = [];
    },
    setupFrequentUser() {
      this.frequentUSerList.push(...this.checkedList);
      this.frequentUSerList = Array.from(new Set(this.frequentUSerList));
    },
    handleClose() {}
  }
};
</script>
<style lang="less" scoped>
.el-tag + .el-tag {
  margin-left: 10px;
}
</style>