<template>
  <!--为echarts准备一个具备大小的容器dom-->
  <div>
    <!-- <div id="main" style="width:100%;height: 500px;"></div> -->
    <div id="chart" class="chart" style="max-width:800px;height: 550px;"></div>
  </div>
</template>
<script>
import echarts from "echarts";
export default {
  name: "Echart",
  props: {
    chartOption: {
      type: Object,
      // default: () => {},
      required: false
    }
  },
  data() {
    return {
      charts: {}
    };
  },
  watch: {
    chartOption: {
      handler(newValue, oldValue) {
        console.log("new-chartOption", newValue);
        this.initChart();
      },
      deep: true
    }
  },
  mounted() {
    console.log("子组件", this.chartOption);
    this.initChart();
  },
  methods: {
    initChart() {
      this.charts = echarts.init(document.getElementById("chart"));
      this.charts.setOption(this.chartOption);
    }
  }
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
</style>