<template>
  <!-- 图片预览弹窗 -->
  <el-dialog title :visible.sync="dialogFormVisible" width="75%">
    <el-image style="width: 100%; height: auto" :src="imageUrl" fit="scale-down"></el-image>
  </el-dialog>
</template>
<script>
export default {
  data() {
    return {
      dialogFormVisible: false,
      imageUrl: ""
    };
  },
  props: {
    imgUrl: {
      type: String,
      default: "",
      required: false
    },
    imgDgVisible: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  watch: {
    imgDgVisible(newValue, oldValue) {
      this.dialogFormVisible = newValue;
    },
    imgUrl(newValue, oldValue) {
      this.imageUrl = newValue;
    }
  }
};
</script>