<template>
  <div class="search_container searchArea">
    <el-form
      :inline="true"
      :model="search_data"
      :rules="rules"
      ref="search_data"
      class="demo-form-inline search-form"
    >
      <el-form-item label>
        <el-select v-model="sensorType" placeholder="请选择" @change="changeSensorType">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          size="mini"
          icon="search"
          @click="onScreeoutMoney('search_data')"
        >筛选</el-button>
      </el-form-item>

      <el-form-item class="btnRight">
        <el-button
          type="primary"
          size="mini"
          icon="view"
          @click="onBatchDelMoney()"
          :disabled="searchBtnDisabled"
        >批量删除</el-button>
        <!-- <el-button type="success" size ="mini" icon="view">导出Elcel</el-button> -->
        <el-button type="primary" size="mini" icon="view" @click="onAddMoney()">添加</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "searchItem",
  data() {
    return {
      sensorType: "etsDataEntry",
      options: [
        {
          value: "etsDataEntry",
          label: "全站仪"
        },
        {
          value: "stressDataEntry",
          label: "压强"
        },
        {
          value: "waterLineDataEntry",
          label: "水位"
        }
      ],
      search_data: {
        startTime: "",
        endTime: "",
        name: ""
      },
      rules: {
        name: [{ required: true, message: "请输入用户名", trigger: "blur" }]
      }
    };
  },
  computed: {
    ...mapGetters(["searchBtnDisabled"])
  },
  created() {},
  mounted() {
    this.changeSensorType();
  },
  methods: {
    changeSensorType() {
      this.$emit("changeSensorType", this.sensorType);
    },
    onAddMoney() {
      this.$emit("showDialog", "add");
    },
    onBatchDelMoney() {
      this.$emit("onBatchDelMoney");
    }
  }
};
</script>

<style lang="less" scoped>
.search_container {
  margin-bottom: 10px;
}
.btnRight {
  float: right;
  margin-right: 0px !important;
}
.searchArea {
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 18px 18px 0;
}
</style>
