<template>
  <el-dialog title="文件上传" :visible.sync="dialogFormVisible" @close="closeDialog" center width="40%">
    <el-form ref="form" :model="form" label-width="80px" inline>
      <el-form-item label="文件类型">
        <el-select v-model="form.fileType" placeholder="请选择文件类型">
          <el-option label="原始数据" value="0"></el-option>
          <el-option label="结果数据" value="1"></el-option>
          <el-option label="成果数据" value="2"></el-option>
        </el-select>
      </el-form-item>
      <!-- <el-upload
      class="upload-demo"
      drag
      action="https://jsonplaceholder.typicode.com/posts/"
      multiple
    >
      <i class="el-icon-upload"></i>
      <div class="el-upload__text">
        将文件拖到此处，或
        <em>点击上传</em>
      </div>
      <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
      </el-upload>-->
      <el-form-item>
        <el-upload
          class="upload-demo"
          action="https://jsonplaceholder.typicode.com/posts/"
          :on-change="handleChange"
          :file-list="fileList"
        >
          <el-button size="small" type="primary">选取上传文件</el-button>
          <!-- <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div> -->
        </el-upload>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button>文件模版下载</el-button>
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="dialogFormVisible = false">上 传</el-button>
    </div>
  </el-dialog>
</template>
<script>
export default {
  name: "uploadFiledialog",
  props: {
    showDialog: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  watch: {
    showDialog(newValue, oldValue) {
      // console.log("弹窗接收值-type", newValue);
      this.dialogFormVisible = newValue;
    }
  },
  data() {
    return {
      dialogFormVisible: false,
      fileList: [],
      form: {
        fileType: ""
      }
    };
  },
  methods: {
    closeDialog() {
      this.$emit("closeDialog", false);
    },
    handleChange() {}
  }
};
</script>