<template>
  <div class="fillcontain">
    <div class="contain">
      <div class="table_container">
        <el-table
          ref="earlyWarningTable"
          v-loading="loading"
          :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
          style="width: 100%"
          max-height="600"
          align="center"
          @selection-change="handleSelectionChange"
          @select-all="handleAllSelection"
          @row-click="handleRowClick"
        >
          <el-table-column type="selection" width="60" align="center"></el-table-column>
          <el-table-column
            prop="index"
            :label="$t('projectManage.projectList.table.index')"
            align="center"
            width="100"
          >
            <template slot-scope="scope">
              <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
            </template>
          </el-table-column>
          <!--<el-table-column prop="text" label="预警名称" align="center"></el-table-column>
          <el-table-column prop="thisCap" label="本次上限(mm)" align="center"></el-table-column>
          <el-table-column prop="thisUnder" label="本次下限(mm)" align="center"></el-table-column>
          <el-table-column prop="cumulativeCap" label="累计上限(mm)" align="center"></el-table-column>
          <el-table-column prop="cumulativeUnder" label="累计下限(mm)" align="center"></el-table-column>-->

          <template v-for="(item, index) in tabHead">
            <el-table-column
              v-if="item.label!=''&&item.label!='xmno'&& item.label!='sensortype'"
              :key="index"
              :prop="item.prop"
              :label="labelFormat(item.label)"
              align="center"
            ></el-table-column>
          </template>

          <el-table-column prop="operation" align="center" :label="$t('publicOperation.operation')">
            <template slot-scope="scope">
              <el-button
                type="text"
                style="font-size:16px;"
                icon="el-icon-edit-outline"
                size="mini"
                @click="editRow(scope.row)"
              ></el-button>
              <el-button
                type="text"
                style="color:red;font-size:16px;"
                icon="el-icon-delete"
                size="mini"
                @click="deleteRow(scope.row)"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <el-row :gutter="10">
        <el-col :md="24" :lg="12" :xl="12">
          <div class="button-container">
            <el-button type="primary" icon="el-icon-refresh" @click="refreshTable()" plain></el-button>
            <el-button type="primary" icon="el-icon-circle-plus-outline" @click="addRow()" plain>添加</el-button>
            <el-button type="danger" icon="el-icon-delete" @click="batchDelete()" plain>批量删除</el-button>
            <!-- <el-button type="danger" icon="el-icon-delete" @click="batchDelete()" plain>批量设置</el-button> -->
          </div>
        </el-col>
        <el-col :md="24" :lg="12" :xl="12">
          <pagination
            v-if="pageTotals>5"
            :pageTotal="pageTotals"
            @handleSizeChange="handleSizeChange"
            @handleCurrentChange="handleCurrentChange"
          ></pagination>
        </el-col>
      </el-row>
      <EarlyWarningDialog
        :dialogVisible="dialogVisible"
        :addType="addType"
        :rowData="rowData"
        :warningParamList="warningParamList"
        @dialogClose="dialogClose"
      ></EarlyWarningDialog>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import Pagination from "@/components/pagination";
import EarlyWarningDialog from "./earlyWarningDialog";
import { getAlarmValueList, deleteAlarmValue } from "@/api/project";
import * as mUtils from "@/utils/mUtils";

export default {
  name: "measuringPointManage",
  components: {
    Pagination,
    EarlyWarningDialog
  },
  data() {
    return {
      loading: false, //表格加载状态
      currentPage: 1,
      pageSize: 5,
      dialogVisible: false, //弹窗显示状态
      addType: true, //弹窗编辑状态
      rowData: {}, //编辑的数据
      tableData: [], //表格数据
      batchEditData: [], //批量设置
      tabHead: [], //表头
      warningParamList: [] //预警参数名列表
    };
  },
  computed: {
    ...mapGetters(["projectName", "sensorType"]),
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  mounted() {
    this.getWarningList();
  },
  methods: {
    getWarningList() {
      let data = {
        xmname: this.projectName,
        sensortype: this.sensorType
      };
      data = mUtils.toFormData(data);
      this.loading = true;
      getAlarmValueList(data)
        .then(res => {
          if (res.code == "200") {
            console.log("getAlarmValueList", res.data);
            this.tabHead = res.data.tabHead;
            this.tableData = res.data.tableData;
            this.loading = false;
            this.warningParamList = res.data.tabHead.filter(
              item => item.prop.search("param") != -1
            );
            console.log("预警参数名列表：", this.warningParamList);
          } else {
            this.$message.error(res.meg || "Error!");
          }
        })
        .catch(err => {
          this.loading = false;
        });
    },
    // 添加
    addRow() {
      this.addType = true;
      this.rowData = {
        name: "",
        param1: "1",
        param2: "2",
        param3: "3",
        param4: "4",
        param5: "5",
        param6: "6",
        param7: "7",
        param8: "8",
        param9: "9"
      };
      this.dialogVisible = true;
    },
    // 表格数据条数选择
    editRow(row) {
      console.log("编辑", row);
      this.addType = false;
      this.rowData = row;
      this.dialogVisible = true;
    },
    // 单行删除
    deleteRow(row) {
      console.log("删除", row);

      this.deleteWarning(row.name);
    },
    // 批量删除
    batchDelete() {
      let rows = this.$refs.earlyWarningTable.selection;
      if (rows.length > 0) {
        console.log("批量删除:", rows);
        // this.batchEditData = rows;
        let str = rows
          .map(item => {
            return item.name;
          })
          .toString();
        this.deleteWarning(str);
        // this.dialogVisible = true;
      } else {
        this.$message.error("Not selected!");
      }
    },
    // 刪除数据
    deleteWarning(warningStr) {
      if (warningStr) {
        this.$confirm("Are you sure you want to delete it?", {
          confirmButtonText: "Yes",
          cancelButtonText: "No",
          type: "warning"
        })
          .then(_ => {
            let data = {
              name: warningStr,
              sensortype: this.sensorType,
              xmname: this.projectName
            };
            // console.log("删除预警", data);
            data = mUtils.toFormData(data);
            deleteAlarmValue(data).then(res => {
              if (res.code == "200") {
                // console.log("getAlarmValueList", res.data);
                // this.dialogFormVisible = false;
                this.getWarningList();
              } else {
                this.$message.error(res.meg || "Error!");
              }
            });
          })
          .catch(_ => {});
      }
    },
    // 刷新表格
    refreshTable() {
      this.getWarningList();
    },
    // 选择项改变时
    handleSelectionChange(val) {
      // console.log("选择项改变时", val);
    },
    // 全选当前页
    handleAllSelection() {
      console.log(
        this.$refs.earlyWarningTable,
        "选中的行数据",
        this.$refs.earlyWarningTable.selection
      );
    },
    // 表格行点击
    handleRowClick(row, column, event) {
      // console.log(row, column, event);
      this.$refs.earlyWarningTable.toggleRowSelection(row);
    },
    // 关闭弹窗
    dialogClose() {
      this.dialogVisible = false;
      this.getWarningList();
    },
    // 切换数据条数
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    labelFormat(value) {
      let titleStr = "projectManage.warningKey." + value;
      return this.$i18n.t(titleStr.toString());
    }
  }
};
</script>
<style lang="less" scoped>
.fillcontain {
  padding-bottom: 5px;
}
.contain {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;

  .table_container {
    padding: 10px;
    background: #fff;
    border-radius: 2px;
  }

  .button-container {
    width: 100%;
    padding: 12px 23px;
  }
}
</style>