<template>
  <section>
    <el-dialog title="预警" :visible.sync="dialogFormVisible" @close="dialogClose" center>
      <el-form :model="form">
        <el-form-item label="预警名称" :label-width="formLabelWidth">
          <el-input v-model="form.name" autocomplete="off" :disabled="!addType"></el-input>
        </el-form-item>
        <el-form-item
          v-if="paramList[0].label"
          :label="labelFormat(paramList[0].label)"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.param1" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          v-if="paramList[1].label"
          :label="labelFormat(paramList[1].label)"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.param2" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          v-if="paramList[2].label"
          :label="labelFormat(paramList[2].label)"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.param3" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          v-if="paramList[3].label"
          :label="labelFormat(paramList[3].label)"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.param4" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          v-if="paramList[4].label"
          :label="labelFormat(paramList[4].label)"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.param5" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          v-if="paramList[5].label"
          :label="labelFormat(paramList[5].label)"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.param6" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          v-if="paramList[6].label"
          :label="labelFormat(paramList[6].label)"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.param7" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          v-if="paramList[7].label"
          :label="labelFormat(paramList[7].label)"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.param8" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          v-if="paramList[8].label"
          :label="labelFormat(paramList[8].label)"
          :label-width="formLabelWidth"
        >
          <el-input v-model="form.param9" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveData()">确 定</el-button>
      </div>
    </el-dialog>
  </section>
</template>
<script>
import { mapGetters } from "vuex";
import * as mUtils from "@/utils/mUtils";
import { addAlarmValue, updataAlarmValue } from "@/api/project";
export default {
  data() {
    return {
      dialogFormVisible: false,
      formLabelWidth: "100px",
      form: {
        name: "预警名称",
        param1: "param1",
        param2: "param2",
        param3: "param3",
        param4: "param4",
        param5: "param5",
        param6: "param6",
        param7: "param7",
        param8: "param8",
        param9: "param9"
      },
      paramList: [
        {
          label: "",
          prop: "param1"
        },
        {
          label: "",
          prop: "param2"
        },
        {
          label: "",
          prop: "param3"
        },
        {
          label: "rap",
          prop: "param4"
        },
        {
          label: "",
          prop: "param5"
        },
        {
          label: "",
          prop: "param6"
        },
        {
          label: "",
          prop: "param7"
        },
        {
          label: "",
          prop: "param8"
        },
        {
          label: "",
          prop: "param9"
        }
      ]
    };
  },
  props: {
    dialogVisible: {
      type: Boolean,
      default: false,
      required: true
    },
    addType: {
      type: Boolean,
      default: () => false,
      required: true
    },
    rowData: {
      type: Object,
      default: () => {
        return {
          name: "",
          param1: "1",
          param2: "2",
          param3: "3",
          param4: "4",
          param5: "5",
          param6: "6",
          param7: "7",
          param8: "8",
          param9: "9"
        };
      },
      required: true
    },
    warningParamList: {
      type: Array
      // default: () => [
      //   {
      //     label: "",
      //     prop: "param1"
      //   },
      //   {
      //     label: "",
      //     prop: "param2"
      //   },
      //   {
      //     label: "",
      //     prop: "param3"
      //   },
      //   {
      //     label: "rap",
      //     prop: "param4"
      //   },
      //   {
      //     label: "",
      //     prop: "param5"
      //   },
      //   {
      //     label: "",
      //     prop: "param6"
      //   },
      //   {
      //     label: "",
      //     prop: "param7"
      //   },
      //   {
      //     label: "",
      //     prop: "param8"
      //   },
      //   {
      //     label: "",
      //     prop: "param9"
      //   }
      // ]
      // required: false
    }
  },
  computed: {
    ...mapGetters(["name", "projectName", "sensorType"])
    // addStatus: function() {
    //   let status = Boolean;
    //   this.addType == "add" ? (status = true) : (status = false);
    //   return status;
    // }
  },
  watch: {
    dialogVisible(newValue, oldValue) {
      this.dialogFormVisible = newValue;
    },
    rowData: {
      deep: true, //深度监听
      handler: function(newValue, oldValue) {
        let str = JSON.stringify(newValue);
        this.form = JSON.parse(str);
      }
    },
    warningParamList(newValue, oldValue) {
      this.paramList = newValue;
    }
  },
  mounted() {
    // this.paramList = this.warningParamList;
  },
  methods: {
    // 关闭回调
    dialogClose() {
      this.$emit("dialogClose");
    },
    // 保存
    saveData() {
      let warningData = JSON.stringify(this.form);
      warningData = JSON.parse(warningData);
      warningData.sensortype = this.sensorType;
      warningData.xmname = this.projectName;
      console.log("预警对象", warningData);
      warningData = mUtils.toFormData(warningData);
      if (this.addType) {
        this.addData(warningData);
      } else {
        this.editData(warningData);
      }
    },
    // 提交编辑
    editData(warningData) {
      console.log("保存编辑", warningData);
      // this.dialogFormVisible = false;
      updataAlarmValue(warningData).then(res => {
        if (res.code == "200") {
          console.log("editData", res.data);
          this.dialogClose();
          this.dialogFormVisible = false;
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    },
    // 提交新增
    addData(warningData) {
      console.log("保存新增", warningData);
      // this.dialogFormVisible = false;
      addAlarmValue(warningData).then(res => {
        if (res.code == "200") {
          console.log("addData", res.data);
          this.dialogClose();
          this.dialogFormVisible = false;
        } else {
          this.$message.error(res.meg || "Error!");
        }
      });
    },
    labelFormat(value) {
      if (value) {
        let titleStr = "projectManage.warningKey." + value;
        return this.$i18n.t(titleStr.toString());
      }
    }
  }
};
</script>