searchItem<template>
  <div class="search_container searchArea">
    <el-form
      :inline="true"
      :model="search_data"
      :rules="rules"
      ref="search_data"
      class="demo-form-inline search-form"
    >
      <!-- <el-form-item label>
        <el-input
          v-model="search_data.name"
          placeholder="用户名"
          @keyup.enter.native="onScreeoutMoney('search_data')"
        ></el-input>
      </el-form-item>-->
      <el-form-item>
        <el-select v-model="search_data.type" placeholder="查询类型">
          <el-option label="单点多周期" value="0"></el-option>
          <el-option label="多点单周期" value="1"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item v-if="search_data.type=='0'">
        <el-select v-model="search_data.cycleStart" placeholder="起始周期">
          <el-option label="张三" value="张三"></el-option>
          <el-option label="李四" value="李四"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select v-model="search_data.cycleEnd" placeholder="截止周期">
          <el-option label="张三" value="张三"></el-option>
          <el-option label="李四" value="李四"></el-option>
        </el-select>
      </el-form-item>
      <!-- <el-form-item label>
        <el-input v-model="search_data.sensorType" placeholder="监测类型"></el-input>
      </el-form-item>
      <el-form-item label>
        <el-input v-model="search_data.pointName" placeholder="点名"></el-input>
      </el-form-item>-->
      <el-form-item v-if="search_data.type=='1'" class="time-picker">
        <el-date-picker
          v-model="search_data.time"
          type="datetimerange"
          range-separator="至"
          start-placeholder="开始时间"
          end-placeholder="结束时间"
        ></el-date-picker>
      </el-form-item>
      <el-form-item label>
        <el-input v-model="search_data.keyword" placeholder="关键字"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" size="mini" icon="el-icon-search" @click="onScreeoutMoney()"></el-button>
      </el-form-item>

      <el-form-item class="btnRight">
        <!-- <el-switch
          style="margin-right:10px;"
          v-model="search_data.warningType"
          active-color="#13ce66"
          inactive-color="#ff4949"
          inactive-text="短信预警"
        ></el-switch>
        <el-button type="primary" size="mini" icon="view" @click="showContactDgVisible">常用联系人</el-button>-->
        <el-button type="primary" size="mini" icon="view" @click="sendMore()">报表输出</el-button>
        <el-popover
          placement="bottom"
          type="primary"
          width="100"
          v-model="reportVisible"
          popper-class="chartSetting_popover"
          border
        >
          <div>
            <el-radio-group v-model="radio" class="reportRadio">
              <el-radio label="选项3">选项3</el-radio>
              <el-radio label="选项6">选项6</el-radio>
              <el-radio label="选项9">选项9</el-radio>
            </el-radio-group>
          </div>
          <div style="text-align: center; margin: 0">
            <el-button type="primary" size="mini" @click="reportVisible = false">确定</el-button>
          </div>
          <el-button type="info" size="mini" slot="reference" icon="el-icon-setting"></el-button>
        </el-popover>
        <!-- <el-switch v-model="search_data.value" active-color="#13ce66" inactive-color="#ff4949"></el-switch> -->
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "searchItem",
  data() {
    return {
      reportVisible: false,
      radio: "选项3",
      search_data: {
        type: "0",
        cycleStart: "",
        cycleEnd: "",
        projectName: "",
        sensorType: "",
        pointName: "",
        time: "",
        keyword: "",
        warningType: false,
        value: true
      },
      rules: {
        name: [{ required: true, message: "请输入用户名", trigger: "blur" }]
      }
    };
  },
  computed: {
    // ...mapGetters(["searchBtnDisabled"])
  },
  created() {},
  methods: {
    returnWarningOverview() {
      this.$emit("returnWarningOverview");
    },
    onScreeoutMoney(searchForm) {
      this.$refs[searchForm].validate(valid => {
        if (valid) {
          this.$store.commit("SET_SEARCH", this.search_data);
          this.$emit("searchList");
        }
      });
    },
    sendMore() {
      this.$emit("sendMore");
    },
    onBatchDelMoney() {
      this.$emit("onBatchDelMoney");
    },
    showContactDgVisible() {
      this.$emit("showContactDgVisible");
    }
  }
};
</script>

<style lang="less" scoped>
@deep: ~">>>";
.search_container {
  margin-bottom: 4px;
}
.btnRight {
  float: right;
  margin-right: 0px !important;
}
.searchArea {
  background: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 12px 12px 0;
}
.time-picker {
  @{deep}.el-date-editor.el-input__inner {
    width: 220px;
  }
}

.search-form:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
// .chartSetting_popover {
//   margin-left: 10px;
// }
</style>
