<template>
  <div class="fillcontain">
    <search-item @changeSensorType="changeSensorType"></search-item>
    <div class="table_container">
      <keep-alive>
        <!-- 异步加载组件 -->
        <component :is="componentImstance" title="异步加载组件" />
      </keep-alive>
    </div>
  </div>
</template>

<script>
import * as mutils from "@/utils/mUtils";
import searchItem from "./components/searchItem";
export default {
  data() {
    return {
      sensorType: ""
    };
  },
  components: {
    searchItem
  },
  computed: {
    componentImstance() {
      let { sensorType } = this;
      //当动态组件值不为空，再执行引入
      if (sensorType) {
        let pathName = sensorType;
        //通过import动态导入组件 配合webpack实现组件分离
        return () => import(`./components/${pathName}`);
      }
    }
  },
  mounted() {
    // mutils.setContentHeight(this, this.$refs.shareContainer, 210);
  },
  methods: {
    changeSensorType(sensorType) {
      this.$message({
        message: "切换-" + sensorType,
        type: "success"
      });
      this.sensorType = sensorType;
    }
  }
};
</script>

<style lang="less" scoped>
.table_container {
  padding: 10px;
  background: #fff;
  border-radius: 2px;
}
</style>
