<template>
  <div class="menu_left cflex" :style="{width:sidebar.width+'px'}">
    <!-- <div class="menu_page_top rflex">
    <img :class="['logo',{'closeLogo':!sidebar.opened}]" :src="logo" alt="Admin" />-->
    <!-- {{$t('commons.xiaoai')}} -->
    <!-- <span class="title" v-show="sidebar.opened"></span>
    </div>-->
    <leftMenImpl></leftMenImpl>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import * as mUtils from "@/utils/mUtils"; //存储session、时间格式转换
import logoImg from "@/assets/img/logo.png";
import southImg from "@/assets/img/south1.png";
import leftMenImpl from "./leftMenImpl.vue";

export default {
  name: "left-Menu",
  data() {
    return {
      menuObj: {
        bgColor: "#fff",
        textColor: "#666",
        activeTextColor: "#ff6428"
      },
      logo: southImg
    };
  },
  computed: {
    ...mapGetters(["permission_routers", "isCollapse", "sidebar", "menuIndex"])
  },
  components: { leftMenImpl },
  created() {},
  mounted() {},
  methods: {
    getIindex(citem, item, cindex) {
      return citem.meta.titleList
        ? item.path + "/" + citem.path + "/" + citem.meta.titleList[0].path
        : item.path + "/" + citem.path;
    }
  }
};
</script>


<style lang="less" scoped>
@left-bgColor: #fff; // 左侧菜单背景颜色;
@icon-link: #ff6c60;
.menu_left {
  position: absolute;
  // top: 0;
  top: 60px;
  left: 0;
  bottom: 0;
}
.menu_page_top {
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px 0px rgba(230, 224, 224, 0.5);
  .logo {
    height: 36px;
    width: 86px;
    vertical-align: middle;
    display: inline-block;
  }
  .closeLogo {
    width: 30px;
    height: 30px;
  }
  .title {
    font-size: 22px;
    i {
      color: #ff6c60;
    }
  }
}
.menu_page_bottom {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  margin-top: 3px;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(230, 224, 224, 0.5);
}
</style>
