<template>
  <div class="menu_page_bottom is-scroll-left">
    <el-menu
      mode="vertical"
      unique-opened
      :show-timeout="200"
      :default-active="$route.path"
      :collapse="isCollapse"
      :background-color="menuObj.bgColor"
      :text-color="menuObj.textColor"
      :active-text-color="menuObj.activeTextColor"
      :style="{width:sidebar.width+'px'}"
    >
      <template v-for="(item,index) in permission_routers">
        <!--表示 有一级菜单-->
        <router-link
          v-if="!item.hidden && item.noDropdown"
          :to="item.path+'/'+item.children[0].path"
          :key="index"
        >
          <el-menu-item class="dropItem" :index="item.path+'/'+item.children[0].path">
            <icon-svg v-if="item.meta.icon" :icon-class="item.meta.icon" />
            <span v-if="item.meta.title" slot="title">{{ $t(`commons.${item.name}`)}}</span>
          </el-menu-item>
        </router-link>

        <!--表示 有二级或者多级菜单 -->
        <el-submenu
          v-if="item.children  && item.children.length >= 1 && !item.hidden && !item.noDropdown"
          :index="item.path"
          :key="index"
        >
          <template slot="title">
            <icon-svg v-if="item.meta.icon" :icon-class="item.meta.icon" />
            <span v-if="item.meta.title" slot="title">{{ $t(`commons.${item.name}`)}}</span>
          </template>

          <template v-for="(citem,cindex) in item.children">
            <!-- 如果不为null则包含三级菜单 -->
            <template v-if="citem.children !=null">
              <!-- 有三级菜单时，渲染三级菜单 -->
              <!-- <template v-if="text(citem,'菜单对象citem')"></template> -->
              <!-- <el-submenu
                index="1-4"
                v-for="(sitem,sindex) in citem.children"
                :key="sitem.path+sindex"
              >-->
              <el-submenu index="1-4" :key="citem.path+cindex">
                <template slot="title">
                  <icon-svg v-if="citem.meta.icon" :icon-class="citem.meta.icon" />
                  <span v-if="citem.meta.title" slot="title">{{ $t(`commons.${citem.name}`)}}</span>
                </template>

                <router-link
                  v-for="(sitem,sindex) in citem.children"
                  :key="sitem.path+sindex"
                  :to="getIndexTwo(sitem,citem,item,cindex)"
                >
                  <!-- <template v-if="text(sitem,'三级菜单')"></template> -->
                  <el-menu-item
                    v-if="sitem.meta.routerType != 'topmenu' && sitem.meta.title"
                    :index="getIndexTwo(sitem,citem,item,sindex)"
                  >
                    <span slot="title">{{ $t(`commons.${sitem.name}`)}}</span>
                  </el-menu-item>
                </router-link>
              </el-submenu>
            </template>
            <!-- 不包含三级菜单 -->
            <template v-else>
              <router-link :to="getIndex(citem,item,cindex)" :key="cindex">
                <!-- <template v-if="text(citem,'二级菜单')"></template> -->
                <el-menu-item
                  v-if="citem.meta.routerType != 'topmenu' && citem.meta.title"
                  :index="getIndex(citem,item,cindex)"
                >
                  <span slot="title">{{ $t(`commons.${citem.name}`)}}</span>
                </el-menu-item>
              </router-link>
            </template>
          </template>
        </el-submenu>
      </template>
    </el-menu>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import * as mUtils from "@/utils/mUtils"; //存储session、时间格式转换
import logoImg from "@/assets/img/logo.png";
import southImg from "@/assets/img/south1.png";

export default {
  name: "left-Menu-impl",
  data() {
    return {
      menuObj: {
        bgColor: "#fff",
        textColor: "#666",
        activeTextColor: "#ff6428"
      },
      logo: southImg
    };
  },
  computed: {
    ...mapGetters(["permission_routers", "isCollapse", "sidebar", "menuIndex"])
  },
  created() {},
  mounted() {},
  methods: {
    getIndex(citem, item, cindex) {
      return item.path + "/" + citem.path;
    },
    getIndexTwo(sitem, citem, item, cindex) {
      return item.path + "/" + citem.path + "/" + sitem.path;
    }
    // text(item, str) {
    //   console.log(str, item);
    //   return true;
    // }
  }
};
</script>
<style lang="less" scoped>
@left-bgColor: #fff; // 左侧菜单背景颜色;

.menu_page_bottom {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
  margin-top: 3px;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(230, 224, 224, 0.5);
}
</style>