<template>
  <!-- 异步加载组件 -->
  <component :is="componentImstance" @changeComponent="changeComponent" />
</template>
<script>
export default {
  name: "warningProcessing",
  data() {
    return {
      componentName: "warningOverviewTable",
      contactDgVisible: false
    };
  },
  computed: {
    componentImstance() {
      let { componentName } = this;
      //当动态组件值不为空，再执行引入
      if (componentName) {
        let pathName = componentName;
        //通过import动态导入组件 配合webpack实现组件分离
        return () => import(`./components/${pathName}`);
      }
    }
  },
  mounted() {
    // this.tabledata = this.createData();
  },
  methods: {
    changeComponent(componentName) {
      this.$message({
        message: "改变组件" + componentName,
        type: "error"
      });
      this.componentName = componentName;
    }
  }
};
</script>
<style lang="less" scoped>
</style>