<template>
  <div class="login_page">
    <transition name="form-fade" mode="in-out">
      <section class="form_contianer">
        <div class="titleArea rflex">
          <img class="logo" :src="southlogo" alt="Admin" />
          <span class="title">
            <i>监测管理平台</i>
          </span>
        </div>
        <el-form :model="loginForm" :rules="rules" ref="loginForm" class="loginForm">
          <el-form-item prop="name" class="login-item">
            <span class="loginTips">
              <icon-svg icon-class="iconuser" />
            </span>
            <el-input
              @keyup.enter.native="submitForm('loginForm')"
              class="area"
              type="text"
              placeholder="用户名"
              v-model="loginForm.name"
            ></el-input>
          </el-form-item>
          <el-form-item prop="pass" class="login-item">
            <span class="loginTips">
              <icon-svg icon-class="iconLock" />
            </span>
            <el-input
              @keyup.enter.native="submitForm('loginForm')"
              class="area"
              type="password"
              placeholder="密码"
              v-model="loginForm.pass"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="submitForm('loginForm')" class="submit_btn">SIGN IN</el-button>
          </el-form-item>
          <div class="tiparea">
            <p class="wxtip">温馨提示：</p>
            <p class="tip">
              用户名有：superAdmin/admin
              <span>(可用于切换权限)</span>
            </p>
            <p class="tip">密码为：123456</p>
          </div>
          <!-- <div class="sanFangArea">
            <p class="title">第三方账号登录</p>
            <ul class="rflex">
              <li @click="loginByWechat">
                <icon-svg icon-class="iconwechat" />
              </li>
              <li>
                <icon-svg icon-class="iconweibo" />
              </li>
              <li>
                <icon-svg icon-class="iconGithub" />
              </li>
            </ul>
          </div>-->
        </el-form>
      </section>
    </transition>
  </div>
</template>

<script>
import logoImg from "@/assets/img/logo.png";
import southImg from "@/assets/img/south1.png";
// import { login } from "@/api/user";
import { login } from "@/api/login";
import * as mUtils from "@/utils/mUtils";
import { setToken, getToken } from "@/utils/auth";
import { getRoles } from "@/utils/role";

export default {
  data() {
    return {
      // logo:logoImg,
      southlogo: southImg,
      loginForm: {
        name: "gnss",
        pass: "123"
      },
      rules: {
        name: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 2, max: 18, message: "长度在 2 到 18 个字符", trigger: "blur" }
        ],
        pass: [{ required: true, message: "请输入密码", trigger: "blur" }]
      }
    };
  },
  mounted() {},
  methods: {
    loginByWechat() {},
    showMessage(type, message) {
      this.$message({
        type: type,
        message: message
      });
    },
    // submitForm(loginForm) {
    //   this.$refs[loginForm].validate(valid => {
    //     if (valid) {
    //       let userinfo = this.loginForm;
    //       login(userinfo).then(res => {
    //         let userList = res.data.userList;
    //         setToken("Token", userList.token);
    //         if (userList.name == "超级管理员") {
    //           this.$router.push({ path: "/institution/institutionManage" });
    //         } else {
    //           this.$router.push({ path: "/" });
    //         }
    //         this.$store.dispatch("initLeftMenu"); //设置左边菜单始终为展开状态
    //       });
    //     }
    //   });
    // },
    submitForm(loginForm) {
      this.$refs[loginForm].validate(valid => {
        if (valid) {
          let userinfo = mUtils.toFormData(this.loginForm);
          login(userinfo)
            .then(res => {
              if (res.code != "200") {
                this.$message.error("error:" + res.msg);
                return;
              } else if (res.data.role) {
                let userList = res.data;

                // 用户信息存入store
                this.$store.dispatch("setUserData", userList);
                mUtils.setSessionStore("userList", userList);
                // 获取用户角色字段
                let arr = getRoles(userList.role);
                // 写入token
                setToken("Token", arr[0]);
                this.$store.dispatch("setTokenData", arr[0]);
                // 写入用户信息Session
                let userData = {
                  roles: arr,
                  name: userList.currentInfo.name,
                  unitName: userList.currentInfo.unit,
                  avatar:
                    "https://wx.qlogo.cn/mmopen/vi_32/un2HbJJc6eiaviaibvMgiasFNlVDlNOb9E6WCpCrsO4wMMhHIbsvTkAbIehLwROVFlu8dLMcg00t3ZtOcgCCdcxlZA/132"
                };
                // console.log("userData", userData);
                mUtils.setSessionStore("userData", userData);
                if (userList.role == "系统管理员") {
                  // 系统管理员定向到系统管理页面
                  this.$router.push({ path: "/institution/institutionManage" });
                } else {
                  // 其他用户定向到系统首页;
                  this.$router.push({ path: "/" });
                }
                this.$store.dispatch("initLeftMenu"); //设置左边菜单始终为展开状态
              }
            })
            .catch(error => {
              console.log(error);
            });
        }
      });
    }
  }
};
</script>

<style lang="less" scoped>
.login_page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/img/bg2.jpg) no-repeat center center;
  background-size: 100% 100%;
}
.form_contianer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 370px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  .titleArea {
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 22px;
    width: 100%;
    padding-bottom: 20px;
    .logo {
      // width: 40px;
      height: 30px;
      margin-right: 10px;
    }
    // .title {
    //   i {
    //     color: #ff6c60;//设置登录页面的颜色
    //   }
    // }
  }

  .loginForm {
    .submit_btn {
      width: 100%;
      padding: 13px 0;
      font-size: 16px;
    }
    .loginTips {
      position: absolute;
      left: 10px;
      z-index: 20;
      // color: #FF7C1A;
      font-size: 18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.manage_tip {
  margin-bottom: 20px;
  .title {
    font-family: cursive;
    font-weight: bold;
    font-size: 26px;
    color: #fff;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
}

.tiparea {
  text-align: left;
  font-size: 12px;
  color: #4cbb15;
  padding: 10px 0;
  .tip {
    margin-left: 54px;
  }
}

.form-fade-enter-active,
.form-fade-leave-active {
  transition: all 1s;
}
.form-fade-enter,
.form-fade-leave-active {
  transform: translate3d(0, -50px, 0);
  opacity: 0;
}
.loginForm {
  .el-button--primary {
    background-color: #ff7c1a;
    border: 1px solid #ff7c1a;
  }
}
.sanFangArea {
  border-top: 1px solid #dcdfe6;
  padding: 10px 0;
  display: none;
  .title {
    font-size: 14px;
    color: #8b9196;
    margin-bottom: 10px;
  }
  ul {
    li {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .svg-icon {
        font-size: 24px;
      }
    }
  }
}
</style>
