<template>
  <div class="fillcontain">
    <search-item @returnInstitutionList="returnInstitutionList"></search-item>
    <div class="table_container">
      <el-tabs type="border-card">
        <el-tab-pane label="机构概况">
          <unitInformation></unitInformation>
        </el-tab-pane>
        <el-tab-pane label="单位人员管理">
          <personnelManage></personnelManage>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>
<script>
import searchItem from "./institutionEdit/searchItem";
import unitInformation from "./institutionEdit/unitInformation";
import personnelManage from "./institutionEdit/personnelManage";
export default {
  components: {
    searchItem,
    unitInformation,
    personnelManage
  },
  data() {
    return {};
  },
  methods: {
    returnInstitutionList() {
      this.$emit("changeComponent", "institutionList");
    }
  }
};
</script>