<template>
  <div class="fillcontain">
    <search-item @showInstitutionDgVisible="showInstitutionDgVisible"></search-item>
    <div class="table_container">
      <el-table
        v-loading="loading"
        :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        style="width: 100%"
        align="center"
      >
        <el-table-column prop="index" label="序号" align="center" width="80">
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="unitName" label="机构名称" align="center"></el-table-column>
        <el-table-column prop="natrue" label="机构类型" align="center"></el-table-column>
        <el-table-column prop="dbname" label="数据库名" align="center"></el-table-column>
        <el-table-column prop="state" label="当前状态" align="center"></el-table-column>
        <el-table-column prop="isactive" label="审核结果" align="center"></el-table-column>
        <!-- <el-table-column
          prop="createTime"
          label="创建时间"
          align="center"
          :formatter="timeFormatter"
          width="180"
        ></el-table-column>-->
        <el-table-column prop="createTime" label="创建时间" align="center" width="180"></el-table-column>
        <el-table-column prop="loginPermission" label="登陆权限" align="center" width="180">
          <template slot-scope="scope">
            <el-switch
              v-model="scope.row.isactive"
              active-color="#13ce66"
              inactive-color="#ff4949"
              active-text="允许"
              @change="changeLoginPermission(scope.$index,scope.row)"
            ></el-switch>
          </template>
        </el-table-column>
        <el-table-column label="操作" align="center" width="180">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="goDetails(scope.$index,scope.row)"
            >{{$t('publicOperation.edit')}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>
    <institutionDialog :institutionDgVisible="institutionDgVisible" @closeDialog="closeDialog"></institutionDialog>
  </div>
</template>
<script>
import searchItem from "./institutionList/searchItem";
import institutionDialog from "./institutionList/institutionDialog";
import Pagination from "@/components/pagination";
import * as mUtils from "@/utils/mUtils";
// import { formatDate } from "@/utils/mUtils";
import {
  getInstitutionList,
  limitInstitutionLogin,
  authorizeInstitutionLogin
} from "@/api/institution";
export default {
  name: "institutionList",
  components: {
    searchItem,
    Pagination,
    institutionDialog
  },
  data() {
    return {
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 5,
      institutionDgVisible: false
    };
  },
  computed: {
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  mounted() {
    this.getInstitutionData();
  },
  methods: {
    // 获取机构数据
    getInstitutionData() {
      this.loading = true;
      getInstitutionList().then(res => {
        if (res.code == "200") {
          this.loading = false;
          console.log("返回的机构数据", res);
          // 把数据内boolean格式化
          let data = this.booleanFormatter(res.data);
          this.tableData = data;
        } else {
          this.$message({
            message: "异常:" + res.msg,
            type: "error"
          });
        }
      });
    },
    // 修改机构登陆权限
    changeLoginPermission(index, row) {
      let unitObj = mUtils.toFormData({ unitName: row.unitName });
      if (row.isactive) {
        this.authorizeLogin(unitObj);
      } else {
        this.limitLogin(unitObj);
      }
    },
    // 允许机构登陆
    authorizeLogin(data) {
      authorizeInstitutionLogin(data).then(res => {
        if (res.code == "200") {
          this.$message.success(res.msg);
          this.getInstitutionData();
        } else {
          this.$message.error("error:" + res.msg);
        }
      });
    },
    // 限制机构登陆
    limitLogin(data) {
      limitInstitutionLogin(data).then(res => {
        if (res.code == "200") {
          this.$message.success(res.msg);
          this.getInstitutionData();
        } else {
          this.$message.error("error:" + res.msg);
        }
      });
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    goDetails(index, row) {
      this.$emit("changeComponent", "institutionEdit");
      console.log("获取当前行的机构数据", row);
      this.$store.dispatch("setUnitData", row);
    },
    cancelWarning() {},
    // 显示机构添加弹窗
    showInstitutionDgVisible() {
      this.institutionDgVisible = false;
      this.institutionDgVisible = true;
    },
    // 回调关闭弹窗
    closeDialog() {
      this.institutionDgVisible = false;
    },
    booleanFormatter(arrayList) {
      let data = arrayList;
      if (data.length != 0) {
        data.forEach((item, index) => {
          if (item.isactive == "True") {
            item.isactive = true;
          } else {
            item.isactive = false;
          }
        });
      }
      return data;
    },
    timeFormatter(row, column, cellValue, index) {
      if (cellValue) {
        return mUtils.formatDate(new Date(cellValue), 1);
      }
    }
  }
};
</script>
<style lang="less" scoped>
.table_container {
  padding: 10px;
  // margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
}
</style>