<template>
  <!-- <div class="map-container" id="map-container"></div> -->
  <section class="map-container">
    <div id="map-container" ref="mapContainer">
      <mapChangeLayer></mapChangeLayer>
    </div>
    <!-- <NavigationCtrl @zoomIn="zoomIn" @zoomOut="zoomOut" @resetMap="resetMap"></NavigationCtrl>
    <MapTools @marker="addMarker" @polyline="addPolyline" @polygon="addPolygon"></MapTools>-->
  </section>
</template>

<script>
import mapChangeLayer from "./mapChangeLayer";
import NavigationCtrl from "./NavigationCtrl";
import MapTools from "./MapTools";
import {
  createMap,
  createTileLayer,
  createIcon,
  createMakerByXY
} from "@/utils/map";
export default {
  name: "Map",
  components: {
    NavigationCtrl,
    MapTools,
    mapChangeLayer
  },
  data() {
    return {
      contentStyleObj: {
        height: "",
        width: ""
      },
      map: null,
      OSMUrl: "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
      RLDUrl:
        "http://t0.tianditu.gov.cn/vec_c/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=img&STYLE=default&TILEMATRIXSET=w&FORMAT=tiles&TILEMATRIX={z}&TILEROW={x}&TILECOL={y}&tk=a01d86ebd960888a8ee9322b898a689d"
    };
  },
  created() {
    window.addEventListener("resize", this.getHeight);
  },
  // mounted() {
  //   // 创建地图容器
  //   this.map = createMap("map-container", {
  //     zoomControl: false
  //   });
  //   // 加载地图图层
  //   createTileLayer(this.map, this.OSMUrl, {});

  //   //加载天地图
  //   // this.map = createMap("map-container", {
  //   //   crs: L.CRS.EPSG4326,
  //   //   zoomControl: false
  //   // });
  //   // createTileLayer(this.map, this.RLDUrl, {
  //   //   maxZoom: 20,
  //   //   tileSize: 256,
  //   //   zoomOffset: 1
  //   // });

  //   // 设置地图中心点([纬度，经度]，地图放大级别)
  //   this.map.setView([23.15792, 113.27324], 13);
  // },
  mounted() {
    this.getHeight();
  },
  methods: {
    getHeight() {
      this.contentStyleObj.height = window.innerHeight - 150 + "px";
      this.contentStyleObj.width = window.innerWidth - 150 + "px";
      let data = {
        height: "",
        width: ""
      };
      data.height = this.$refs.mapContainer.offsetHeight;
      data.width = this.$refs.mapContainer.offsetWidth;
      console.log("mapHeight", this.contentStyleObj, "地图容器:", data);
    },
    // 放大
    zoomIn() {
      this.map.zoomIn();
    },
    // 缩小
    zoomOut() {
      this.map.zoomOut();
    },
    // 回到中心点
    resetMap() {
      //直接回到中心点
      //   this.map.setView([23.15792, 113.27324], 13);
      //平滑动画回到中心
      this.map.flyTo([23.15792, 113.27324], 13);
      //平移回到中心
      //   this.map.panTo([23.15792, 113.27324], 13);
    },
    addMarker() {
      //平移回到中心
      this.map.flyTo([23.152355, 113.283167], 13);

      createMakerByXY(this.map, [23.152355, 113.283167]);
      console.log("-------6---------");

      // let pnOrJpgIcon = createIcon({
      //   iconUrl: require("./../../../../assets/images/marker.png"),
      //   iconSize: [32, 32]
      // });
      // createMakerByXY(this.map, [-0.09, 51.49], {
      //   icon: pnOrJpgIcon
      // });
    },
    addPolyline() {},
    addPolygon() {}
  }
};
</script>
<style lang="less" scoped>
.map-container {
  display: inline-block;
  width: 100%;
  height: 640px;
  // margin: 5px 15px;
  // margin: 20px;
  // margin: 0 10px;
  border-radius: 2px;
}
#map-container {
  width: 100%;
  height: 100%;
}
</style>