<template>
  <div class="map-change-layer-container" ref="mapContainer">
    <div id="myMap" class="map-box" :style="{width:width,height:height}"></div>
    <!-- <div class="legend-container">
      <p class="legend-title">图例</p>
      <div>
        <p v-for="(item, index) in pointCheck" :key="index">
          <input
            name="Fruit"
            type="checkbox"
            v-model="pointSelect"
            :value="item.value"
            :label="item.name"
          />
          <i class="legend-icon iconfont" :class="item.icon"></i>
          {{item.name}}
        </p>
        <span class="legend-tips">灰色为离线装置</span>
      </div>
    </div>-->
  </div>
</template>

<script>
import L from "leaflet";
import Provider from "@/components/map/chinatmsproviders.js";
require("leaflet/dist/leaflet.css");
import { getGeocoder, getLatlng } from "@/api/map";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      resizeTag: true, //resize函数防抖
      mapKey: "a01d86ebd960888a8ee9322b898a689d", // 你的key
      mapCenter: {
        lat: 39.90311700025,
        lon: 116.40100299989
      },
      mapType: "Normal", // 默认地图展示形式
      mapSelectList: [
        {
          name: "卫星",
          url: require("@/assets/mapImgs/satellite.png"),
          value: "Satellite"
        },
        {
          name: "矢量",
          url: require("@/assets/mapImgs/normal.png"),
          value: "Normal"
        },
        {
          name: "地形",
          url: require("@/assets/mapImgs/terrain.png"),
          value: "Terrain"
        }
      ],
      isMapSelectShow: false, // 左下角切换展开和隐藏
      mapLayer: {},
      marker: [], //添加的标记点
      // 初始的标记点，由后台返回（有后台接口时不需要设置）
      mapOriginData: [
        {
          name: "标记1",
          tips: "广州市金羊2街8号201雅斯国际音乐杨箕店",
          lat: 23.128994281453547,
          lng: 113.30406188964845,
          type: "warning",
          status: -1
        },
        {
          name: "标记2",
          tips: "大理白族自治州凤翥山西北849.0米",
          lat: 25.58208527870072,
          lng: 100.2886962890625,
          type: "warning",
          status: 0
        },
        {
          name: "标记3",
          tips: "这是标记3",
          lat: 30.04,
          lng: 120.41,
          type: "warning",
          status: 0
        },
        {
          name: "标记4",
          tips: "这是标记4",
          lat: 30.029253434254045,
          lng: 120.84113294422605,
          type: "watch",
          status: -1
        },
        {
          name: "标记5",
          tips: "这是标记5",
          lat: 30.18,
          lng: 120.45,
          type: "watch",
          status: 0
        },
        {
          name: "标记6",
          tips: "这是标记6",
          lat: 30.46,
          lng: 120.24,
          type: "watch",
          status: 0
        }
      ], //标记点初始数据
      mapData: [], //数据空集
      pointSelect: ["warning", "watch"], //点种类筛选
      pointCheck: [
        {
          icon: "icon-tufashijian",
          name: "预警点1",
          value: "warning",
          checked: true
        },
        {
          icon: "icon-tufashijian1",
          name: "预警点2",
          value: "watch",
          checked: true
        },
        {
          icon: "icon-close",
          name: "预警点2",
          value: "watch",
          checked: true
        }
      ], //点筛选
      map: null, //地图对象
      contentStyleObj: {
        width: "",
        height: ""
      }
    };
  },

  computed: {
    mapDomStyle() {
      let str = `"width":${this.contentStyleObj.width},"height":${this.contentStyleObj.height}`;
      console.log("宽高：", str);
      return str;
    },
    width() {
      return this.contentStyleObj.width;
    },
    height() {
      return this.contentStyleObj.height;
    },
    projectLatLng() {
      console.log("computed", this.$store.state.latLng);
      return this.$store.state.projectDetails.latLng;
    }
  },
  watch: {
    pointSelect(val) {
      let data = [];
      // 这里是静态数据模拟，实际项目里由后台传值过来
      val.map(res => {
        this.mapOriginData.map(val => {
          if (res == val.type) {
            data.push(val);
          }
        });
      });
      this.mapData = data;
      this.getPointer();
    },
    projectLatLng: {
      deep: true, //深度监听
      handler: function(newValue, oldValue) {
        console.log("地图监听：", newValue);
        this.flyToProjectLatLng(newValue);
      }
    }
  },
  created() {
    // window.addEventListener("resize", this.getDomStyle);
    // window.addEventListener("resize", () => {
    //   if (this.resizeTag) {
    //     this.getDomStyle();
    //     this.resizeTag = false;
    //     // 防抖，500毫秒
    //     setTimeout(() => {
    //       this.resizeTag = true;
    //     }, 100);
    //   }
    // });
  },
  mounted() {
    window.addEventListener("resize", this.resizeFun);
    this.getDomStyle();
    this.mapData = this.mapOriginData;
    Provider(L); // 挂载插件
    this.$nextTick(() => {
      this.initMap();
    });
    // this.getIPAddress();
    // this.getMap();
  },
  methods: {
    resizeFun() {
      if (this.resizeTag) {
        this.getDomStyle();
        this.resizeTag = false;
        // 防抖，500毫秒
        setTimeout(() => {
          this.resizeTag = true;
        }, 100);
      }
    },
    getDomStyle() {
      this.$nextTick(() => {
        this.contentStyleObj.width =
          this.$refs.mapContainer.clientWidth - 10 + "px";
        this.contentStyleObj.height = document.body.clientHeight - 151 + "px";
        console.log("map_style", this.contentStyleObj);
      });
    },
    initMap() {
      //获取IP归属地
      let address = this.getIPAddress();
      // 通过归属地获取到对应的经纬度作为地图中心并进行地图初始化
      this.getLatlng(address);
    },
    getIPAddress() {
      // index.html引入搜狐接口，可通过returnCitySN获取IP信息
      console.log("本地IP地址=>", returnCitySN.cip, returnCitySN.cname);
      return returnCitySN.cname;
    },
    getLatlng(address) {
      let data = {
        tk: this.mapKey,
        ds: {
          keyWord: address
        }
      };
      // 通过调用天地图地理编码查询接口，通过地址获取经纬度
      getLatlng(data)
        .then(res => {
          console.log("获取当前IP归属地经纬度", res);
          if (JSON.stringify(res) != "{}") {
            this.mapCenter = res.location;
          }
          // 获取到当前用户的IP地址经纬度信息后，初始化地图，把当前用户所在位置作为地图中心点
          this.getMap();
        })
        .catch(error => {
          // 未获取到当前用户的IP地址经纬度信息后，默认北京作为地图中心点
          this.getMap();
        });
    },
    mapLoad(value) {
      // 地图加载方法
      return L.tileLayer.chinaProvider(`TianDiTu.${value}`, {
        maxZoom: 18, //最大放大级别
        minZoom: 5, //最小级别
        key: this.mapKey //密钥
      });
    },
    getMap() {
      let _this = this;
      //地图中心坐标
      //let myCenter = new L.LatLng(30.16, 120.53);
      let myCenter = new L.LatLng(_this.mapCenter.lat, _this.mapCenter.lon);
      // 定义地图图层
      let norMap = this.mapLoad("Normal.Map"),
        norAnnotion = this.mapLoad("Normal.Annotion"),
        sateMap = this.mapLoad("Satellite.Map"),
        sateAnnotion = this.mapLoad("Satellite.Annotion"),
        terMap = this.mapLoad("Terrain.Map"),
        terAnnotion = this.mapLoad("Terrain.Annotion");
      // layerGroup将几个图层组成一个组并作为一个图层来处理
      let normalMap = L.layerGroup([norMap, norAnnotion]), // 矢量
        satelliteMap = L.layerGroup([sateMap, sateAnnotion]), // 卫星
        terrainMap = L.layerGroup([terMap, terAnnotion]); // 地形
      // 名字要和data中的mapSelectList中value值对应
      let baseLayers = {
        Normal: normalMap,
        Satellite: satelliteMap,
        Terrain: terrainMap
      };
      //地图初始化
      let map = L.map("myMap", {
        center: myCenter,
        zoom: 11,
        maxZoom: 18, //最大缩放等级
        attributionControl: false, //版权展示
        layers: [normalMap] //默认图层展示
      });
      // 加载切换地图的功能（出现在页面右上角，可通过css隐藏），通过给定的图层创建数据控制。基础图层通过单选项进行切换，覆盖物通过复选框切换显示
      L.control.layers(baseLayers, null).addTo(map);
      // 添加自定义版权标签链接
      L.control
        .attribution({
          prefix: "<a href='http://www.southsurvey.com/index.php'>south-GZ</a>"
        })
        .addTo(map);

      //绑定地图点击事件，在点击时获取经纬度，调用天地图接口查询对应地址信息
      map.on("click", function(e) {
        let content = "你临幸了这个点：";
        content += e.latlng.toString();
        console.log(content, e.latlng);
        let data = {
          type: "geocode",
          tk: _this.mapKey,
          postStr: {
            lon: e.latlng.lng,
            lat: e.latlng.lat,
            ver: 1
          }
        };

        // 通过调用天地图逆地理编码查询接口，通过经纬度获取结构化的地址信息
        getGeocoder(data).then(res => {
          // 获取数据成功后的其他操作
          console.log("调用接口", res);
          console.log(
            "当前点地址：",
            res.result.formatted_address,
            "数据对象：",
            res.result
          );
        });
      });

      this.map = map;
      this.getPointer();
    },
    getPointer() {
      let _this = this; // 防止冲突
      //获取地图对象
      let map = _this.map;
      let htmlPoint = "";
      let pointIcon = "";
      //   如果新添加this.marker不为空，则清空当前已存在标记
      if (this.marker) {
        this.marker.map(res => {
          map.removeLayer(res); // 清空标记，将图层在地图上移除
        });
      }
      console.log("mapData", this.mapData);
      //遍历标记点，初始化并添加事件
      this.mapData.map((res, index) => {
        pointIcon = _this.getIcon(res.type, res.status); //返回图标的配置
        htmlPoint = `<span class="icon-bg"><i class="iconfont icon-map ${pointIcon.icon} ${pointIcon.status}"></i></span>`; // 使用css统一修改颜色

        // 通过给定一个地理点和一个具有选项的对象来实例化一个注记
        let marker = L.marker([res.lat, res.lng]).addTo(map);
        map.addLayer(marker); // 添加标记
        // 标记配置
        marker.setIcon(
          L.divIcon({
            html: htmlPoint //添加标记点点dom
            // className: `` // 可以自定义marker的class名
          })
        );
        // 添加鼠标悬浮事件;
        marker.bindTooltip(res.tips, {
          direction: "right", //打开工具提示的方向
          className: `tool-div ${pointIcon.icon} ${pointIcon.status}`,
          offset: [-20, -10] //工具提示位置的可选偏移量。
        });
        // 自定义其他事件
        marker.on("click", () => {
          console.log(res.name + "标记的可自定义点击事件");
          //先清除原有popup
          marker.unbindPopup();
          // 点击Popup框
          let content = `<div><p>${res.tips}</p><p>${res.tips}</p></div>`;
          marker.bindPopup(content, {
            offset: [-2, -8]
          });
          marker.on("popupopen", function(e) {
            console.log("popuopen");
          });
          marker.openPopup();
        });
        this.marker.push(marker); // 保存标记，便于清空
      });
    },
    getIcon(type, status) {
      let pointIcon = {};
      // 根据类型切换图标
      if (type == "warning") {
        pointIcon.icon = "icon-tufashijian";
      } else {
        pointIcon.icon = "icon-tufashijian1";
      }
      if (status == -1) {
        // 状态-1为离线
        pointIcon.status = "icon-close";
      } else {
        pointIcon.status = "";
      }
      return pointIcon;
    },
    flyToProjectLatLng(latLng) {
      console.log("地图移动到：", latLng);
      if (latLng.lat && latLng.lng) {
        let latLngArray = [];
        latLngArray.push(latLng.lat);
        latLngArray.push(latLng.lng);
        //地图飞到点，带动画
        // this.map.flyTo(latLngArray, 10);
        // 地图平移到点，无动画
        this.map.panTo(latLngArray, {
          animate: true,
          zoom: 18
        });
      }
    }
  },
  beforeDestroy() {
    // console.log("map销毁resize");
    window.removeEventListener("resize", this.resizeFun);
  }
};
</script>
<style lang="less" scoped>
.map-change-layer-container {
  width: 100%;
  height: 100%;
  //   padding: 5px;
  //   padding-top: 5px;
  //   padding-bottom: 5px;
  padding: 5px 0 5px 0;
  background-color: white;
  border-radius: 5px;

  .map-box {
    margin: 0 5px;
    border-radius: 10px;
  }
}
</style>
<style lang="less" >
.icon-tufashijian {
  color: #ff4931;
  background: #ff4931;
}
.icon-tufashijian1 {
  color: #4ccb64;
  background: #4ccb64;
}
.icon-tufashijian2 {
  color: #ccc;
  background: #ccc;
}
.icon-close {
  color: gray;
  background: gray;
}
.iconfont {
  font-size: 30px;
  background: none;
}
.legend-icon {
  font-size: 18px;
}
.icon-bg {
  /*自定位图表的位置会有点偏移，需要设置位置*/
  background: #fff;
  border-radius: 50%;
  position: relative;
  left: -8px;
  top: -16px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
}
.icon-map {
  position: relative;
  left: -3px;
  top: -8px;
  background: none;
}
.tool-div {
  color: #fff;
  border: none;
  height: 25px;
  line-height: 25px;
  padding: 0 15px 0 36px;
  border-radius: 30px;
}
.leaflet-tooltip-pane {
  z-index: 200;
}
/* 将原来的定位点隐藏 */
.leaflet-marker-icon {
  width: 0 !important;
  height: 0 !important;
}
/* tooltip左侧的小箭头 */
.leaflet-tooltip-right:before {
  opacity: 0;
}
</style>
<style lang="less" scoped>
// 图例容器
.legend-container {
  position: absolute;
  z-index: 650;
  bottom: 15px;
  left: 10px;
  width: 170px;
  padding: 10px 10px;
  font-size: 16px;
  color: #515151;
  background: rgba(252, 252, 251, 0.92);
  // 图例标题
  .legend-title {
    color: #010101;
    height: 10px;
    line-height: 10px;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  //图例内容
  .legend-tips {
    font-size: 14px;
    color: #666;
  }
}
</style>
