<template>
  <el-dialog
    title="地图选点"
    :visible="innerVisible"
    append-to-body
    width="50%"
    center
    @close="dialogClose()"
  >
    <simpleMap v-if="innerVisible"></simpleMap>
  </el-dialog>
</template>
<script>
import simpleMap from "@/components/map/simpleMap";
export default {
  name: "mapSelectionDialog",
  components: {
    simpleMap
  },
  data() {
    return {
      innerVisible: false
    };
  },
  props: {
    visible: {
      type: Boolean,
      default: false,
      required: true
    }
    // append: {
    //   type: Boolean,
    //   default: false,
    //   required: true
    // }
  },
  computed: {
    visibleType: function() {
      return this.visible;
    }
  },
  watch: {
    visibleType(newValue, oldValue) {
      console.log("窗口监听1111", newValue, "0", this.innerVisible);
      newValue ? (this.innerVisible = true) : (this.innerVisible = false);
      console.log("窗口监听2222", newValue, "0", this.innerVisible);
    }
  },
  methods: {
    dialogClose() {
      console.log("*-----");
      this.innerVisible = false;
    }
  }
};
</script>