<template>
  <div class="map-change-layer-container" ref="mapContainer">
    <div id="myMap" class="map-box"></div>
    <div class="map-form">
      <!-- <el-form :model="form" label-position="left">
        <el-form-item label="address" label-width="100px">
          <el-input v-model="form.formatted_address" placeholder="formatted_address"></el-input>
        </el-form-item>

        <el-form-item>
          <el-col :span="11">
            <el-form-item label="lon" label-width="100px">
              <el-input v-model="form.location.lon" placeholder="lon"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="lat" label-width="100px">
              <el-input v-model="form.location.lat" placeholder="lat"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onSubmit">确定</el-button>
        </el-form-item>
      </el-form>-->
      <el-form label-position="right" :model="form">
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="lon" label-width="80px">
              <el-input v-model="form.location.lon"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="lat" label-width="80px">
              <el-input v-model="form.location.lat"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="address" label-width="80px">
              <el-input v-model="form.formatted_address"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label-width="80px">
              <el-button type="primary" @click="searchAddress">查询</el-button>
              <el-button type="primary" @click="onSubmit">确定</el-button>
            </el-form-item>
          </el-col>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>
<script>
import L from "leaflet";
import Provider from "@/components/map/chinatmsproviders.js";
require("leaflet/dist/leaflet.css");
import { getGeocoder, getLatlng } from "@/api/map";

export default {
  name: "simpleMap",
  data() {
    return {
      // resizeTag: true, //resize函数防抖
      mapKey: "a01d86ebd960888a8ee9322b898a689d", // 你的key
      mapCenter: {
        lat: 39.90311700025,
        lon: 116.40100299989
      },
      form: {
        formatted_address: "",
        location: { lon: "", lat: "" }
      },
      selectionObject: {},
      mapType: "Normal", // 默认地图展示形式
      map: {}
    };
  },
  mounted() {
    Provider(L); // 挂载插件
    // console.log("初始化地图");
    this.initMap();
  },
  methods: {
    initMap() {
      //获取IP归属地
      let address = this.getIPAddress();
      // 通过归属地获取到对应的经纬度作为地图中心并进行地图初始化
      this.getLatlng(address);
    },
    getIPAddress() {
      // index.html引入搜狐接口，可通过returnCitySN获取IP信息
      console.log("本地IP地址=>", returnCitySN.cip, returnCitySN.cname);
      return returnCitySN.cname;
    },
    getLatlng(address) {
      let data = {
        tk: this.mapKey,
        ds: {
          keyWord: address
        }
      };
      // 通过调用天地图地理编码查询接口，通过地址获取经纬度
      getLatlng(data)
        .then(res => {
          console.log("获取当前IP归属地经纬度", res);
          if (res.status == "0") {
            // 把当前用户所在位置作为地图中心点
            this.mapCenter = res.location;
          }
          // 获取到当前用户的IP地址经纬度信息后，初始化地图
          this.createMap();
        })
        .catch(error => {
          // 未获取当前用户的IP地址经纬度信息，则把北京作为默认地图中心点
          this.createMap();
        });
      // this.createMap();
    },
    mapLoad(value) {
      // 地图加载方法
      return L.tileLayer.chinaProvider(`TianDiTu.${value}`, {
        maxZoom: 18, //最大放大级别
        minZoom: 5, //最小级别
        key: this.mapKey //密钥
      });
    },
    createMap() {
      let _this = this;
      //地图中心坐标
      //let myCenter = new L.LatLng(30.16, 120.53);
      let myCenter = new L.LatLng(_this.mapCenter.lat, _this.mapCenter.lon);
      // 定义地图图层
      let norMap = this.mapLoad("Normal.Map"),
        norAnnotion = this.mapLoad("Normal.Annotion"),
        sateMap = this.mapLoad("Satellite.Map"),
        sateAnnotion = this.mapLoad("Satellite.Annotion"),
        terMap = this.mapLoad("Terrain.Map"),
        terAnnotion = this.mapLoad("Terrain.Annotion");
      // layerGroup将几个图层组成一个组并作为一个图层来处理
      let normalMap = L.layerGroup([norMap, norAnnotion]), // 矢量
        satelliteMap = L.layerGroup([sateMap, sateAnnotion]), // 卫星
        terrainMap = L.layerGroup([terMap, terAnnotion]); // 地形
      // 名字要和data中的mapSelectList中value值对应
      let baseLayers = {
        Normal: normalMap,
        Satellite: satelliteMap,
        Terrain: terrainMap
      };
      //地图初始化
      let map = L.map("myMap", {
        center: myCenter,
        zoom: 13,
        maxZoom: 18, //最大缩放等级
        attributionControl: false, //版权展示
        layers: [normalMap] //默认图层展示
      });
      // 加载切换地图的功能（出现在页面右上角，可通过css隐藏），通过给定的图层创建数据控制。基础图层通过单选项进行切换，覆盖物通过复选框切换显示
      L.control.layers(baseLayers, null).addTo(map);
      // 添加自定义版权标签链接
      L.control
        .attribution({
          prefix: "<a href='http://www.southsurvey.com/index.php'>south-GZ</a>"
        })
        .addTo(map);
      //绑定地图点击事件，在点击时获取经纬度，调用天地图接口查询对应地址信息
      map.on("click", function(e) {
        console.log("点击:", e.latlng);
        let data = {
          type: "geocode",
          tk: _this.mapKey,
          postStr: {
            lon: e.latlng.lng,
            lat: e.latlng.lat,
            ver: 1
          }
        };
        // 通过调用天地图逆地理编码查询接口，通过经纬度获取结构化的地址信息
        _this.getGeocoderData(data);
      });
      this.map = map;
    },
    getGeocoderData(data) {
      getGeocoder(data)
        .then(res => {
          // 获取数据成功后的其他操作
          if (res.status == "0") {
            console.log("调用接口当前点地址：", res);
            this.form.formatted_address = res.result.formatted_address;
            this.form.location.lon = res.result.location.lon;
            this.form.location.lat = res.result.location.lat;
            this.selectionObject = res.result;
          }
        })
        .catch(error => {
          console.log(error);
        });
    },
    onSubmit() {
      // console.log("保存form");
      this.$store.dispatch("setMapSelectionObject", this.selectionObject);
      this.$emit("dialogClose");
    },
    searchAddress() {
      let data = {
        tk: this.mapKey,
        ds: {
          keyWord: this.form.formatted_address
        }
      };
      // 通过调用天地图地理编码查询接口，通过地址获取经纬度
      getLatlng(data)
        .then(res => {
          console.log("查询：", res);
          if (res.status == "0") {
            //
            this.mapCenter = res.location;
            let locationData = {
              type: "geocode",
              tk: this.mapKey,
              postStr: {
                lon: res.location.lon,
                lat: res.location.lat,
                ver: 1
              }
            };
            // 通过调用天地图逆地理编码查询接口，通过经纬度获取结构化的地址信息
            this.getGeocoderData(locationData);
            this.flyToLatLng(locationData.postStr);
          }
        })
        .catch(error => {});
    },
    flyToLatLng(latLng) {
      console.log("地图移动到：", latLng);
      if (latLng.lat && latLng.lon) {
        let latLngArray = [];
        latLngArray.push(latLng.lat);
        latLngArray.push(latLng.lon);
        //地图飞到点，带动画
        this.map.flyTo(latLngArray, 18, {
          animate: false
        });
        // 地图平移到点，无动画
        // this.map.panTo(latLngArray, {
        //   animate: true,
        //   zoom: 18
        // });
      }
    }
  }
};
</script>
<style lang="less" scoped>
.map-box {
  width: 100%;
  height: 500px;
}
.map-form {
  margin: 10px 2px;
}
</style>