<template>
  <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible" @close="closeDialog" center>
    <el-form :model="form" ref="ruleForm" width="75%" center>
      <el-form-item>
        <el-col :span="11">
          <el-form-item label="用户名" :label-width="formLabelWidth">
            <el-input v-model="form.userName" autocomplete="off"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="职位" :label-width="formLabelWidth">
            <el-select v-model="form.position" placeholder="请选择职位">
              <el-option label="安全员" value="安全员"></el-option>
              <el-option label="安全负责人" value="安全负责人"></el-option>
              <el-option label="现场监测员" value="现场监测员"></el-option>
              <el-option label="技术负责人" value="技术负责人"></el-option>
              <el-option label="持证上岗人员" value="持证上岗人员"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="11">
          <el-form-item label="账号" :label-width="formLabelWidth">
            <el-input v-model="form.userId" autocomplete="off"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="密码" :label-width="formLabelWidth">
            <el-input v-model="form.pass" autocomplete="off"></el-input>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="11">
          <el-form-item label="用户组" :label-width="formLabelWidth">
            <el-select v-model="form.userGroup" placeholder="请选择用户组">
              <el-option label="单位管理组" value="单位管理组"></el-option>
              <el-option label="操作组" value="操作组"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <!-- <el-col :span="11">
          <el-form-item label="职位" :label-width="formLabelWidth">
            <el-input v-model="form.email" autocomplete="off"></el-input>
          </el-form-item>
        </el-col>-->
      </el-form-item>
      <el-form-item>
        <el-col :span="11">
          <el-form-item label="联系电话" :label-width="formLabelWidth">
            <el-input v-model="form.tel" autocomplete="off"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="联系邮箱" :label-width="formLabelWidth">
            <el-input v-model="form.email" autocomplete="off"></el-input>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="11">
          <el-form-item label="职称证书名称" :label-width="formLabelWidth">
            <el-input v-model="form.zczsmc" autocomplete="off"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="职称证书编号" :label-width="formLabelWidth">
            <el-input v-model="form.zczsbh" autocomplete="off"></el-input>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="22">
          <el-form-item label="职称证书图片" :label-width="formLabelWidth">
            <!-- <el-input v-model="form.zczsmc" autocomplete="off"></el-input> -->
            <el-upload
              class="upload-demo"
              action="none"
              :auto-upload="false"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              :on-change="handleChange"
              :file-list="fileList"
              list-type="picture"
            >
              <el-button size="small" type="primary">点击上传</el-button>
              <!-- <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div> -->
            </el-upload>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="11">
          <el-form-item label="上岗证书名称" :label-width="formLabelWidth">
            <el-input v-model="form.sgzsmc" autocomplete="off"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="上岗证书编号" :label-width="formLabelWidth">
            <el-input v-model="form.sgzsbh" autocomplete="off"></el-input>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="22">
          <el-form-item label="上岗证书图片" :label-width="formLabelWidth">
            <!-- <el-input v-model="form.zczsmc" autocomplete="off"></el-input> -->
            <el-upload
              class="upload-demo"
              action="none"
              :auto-upload="false"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              :on-change="handleChange2"
              :file-list="fileList2"
              list-type="picture"
            >
              <el-button size="small" type="primary">点击上传</el-button>
              <!-- <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div> -->
            </el-upload>
          </el-form-item>
        </el-col>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">{{$t('publicOperation.cancel')}}</el-button>
      <el-button type="primary" @click="saveData()">{{$t('publicOperation.determine')}}</el-button>
    </div>
  </el-dialog>
</template>
<script>
import { addAdmin, editAdmin } from "@/api/institution";
import { mapGetters } from "vuex";
import * as mUtils from "@/utils/mUtils";
// import { toFormData } from "@/utils/mUtils";
export default {
  data() {
    return {
      dialogFormVisible: false,
      dialogTitle: "Add",
      formLabelWidth: "120px",
      fileList: [], //职称证书图片
      fileList2: [], //上岗证书图片
      form: {
        userId: "",
        pass: "",
        role: "",
        userGroup: "",
        userName: "",
        workNo: "",
        position: "",
        tel: "",
        email: "",
        zczsmc: "",
        zczsbh: "",
        zczs: "",
        sgzsmc: "",
        sgzsbh: "",
        sgzs: "",
        unitName: "",
        createTime: "",
        sms: ""
      }
    };
  },
  props: {
    perdonnelDgVisible: {
      type: Boolean,
      default: false,
      required: false
    },
    perdonnelDgTitle: {
      type: String,
      default: "Add",
      required: false
    },
    accountData: {
      type: Object,
      default: () => {
        return {};
      },
      required: false
    }
  },
  watch: {
    perdonnelDgVisible(newValue, oldValue) {
      // console.log("弹窗接收值-type", newValue);
      this.dialogFormVisible = newValue;
    },
    perdonnelDgTitle(newValue, oldValue) {
      // console.log("弹窗接收值-type", newValue);
      this.dialogTitle = newValue;
    },
    accountData: {
      deep: true, //深度监听设置为 true
      handler: function(newValue, oldValue) {
        if (JSON.stringify(newValue) == "{}") {
          console.log("newValue为{}");
          // 传入对象为空对象，把表单数据重置
          this.reductionForm();
          // this.resetForm("ruleForm");
          console.log(this.form);
        } else {
          this.form = newValue;
        }
        // console.log("watch中：", newValue, "弹窗数据", this.form);
      }
    }
  },
  computed: {
    ...mapGetters(["unitData"])
  },
  methods: {
    closeDialog() {
      // this.resetForm("ruleForm");
      this.reductionForm();
      this.$emit("closeDialog");
    },
    saveData() {
      console.log("保存数据", this.form);
      if (this.dialogTitle == "Add") {
        this.addData();
      } else {
        this.editData();
      }
    },
    // 添加管理员
    addData() {
      let data = {
        userid: this.form.userId,
        pass: this.form.pass,
        usergroup: this.form.userGroup,
        username: this.form.userName,
        position: this.form.position,
        tel: this.form.tel,
        email: this.form.email,
        sgzsmc: this.form.sgzsmc,
        sgzsbh: this.form.sgzsbh,
        sgzs: this.form.sgzs,
        zczsmc: this.form.zczsmc,
        zczsbh: this.form.zczsbh,
        zczs: this.form.zczs,
        unitname: this.unitData.unitName
      };
      console.log("添加管理员", data, this.form);
      data = mUtils.toFormData(data);
      addAdmin(data).then(res => {
        if (res.code == "200") {
          this.$message.success("保存数据成功！");
          this.$emit("refureshAdminList");
          this.dialogFormVisible = false;
        } else {
          this.$message.error("异常:" + res.msg);
        }
      });
    },
    // 更新管理员信息
    editData() {
      let data = {
        userid: this.form.userId,
        pass: this.form.pass,
        usergroup: this.form.userGroup,
        username: this.form.userName,
        position: this.form.position,
        tel: this.form.tel,
        email: this.form.email,
        sgzsmc: this.form.sgzsmc,
        sgzsbh: this.form.sgzsbh,
        sgzs: this.form.sgzs,
        zczsmc: this.form.zczsmc,
        zczsbh: this.form.zczsbh,
        zczs: this.form.zczs,
        unitname: this.form.unitName
      };
      console.log("编辑管理员", data, this.form);
      data = mUtils.toFormData(data);

      editAdmin(data).then(res => {
        if (res.code == "200") {
          this.$message.success("保存数据成功！");
          this.$emit("refureshAdminList");
          this.dialogFormVisible = false;
        } else {
          this.$message.error("异常:" + res.msg);
        }
      });
    },
    // 表单重置
    reductionForm() {
      this.form = {
        userId: "",
        pass: "",
        role: "",
        userGroup: "",
        userName: "",
        workNo: "",
        position: "",
        tel: "",
        email: "",
        zczsmc: "",
        zczsbh: "",
        zczs: "",
        sgzsmc: "",
        sgzsbh: "",
        sgzs: "",
        unitName: "",
        createTime: "",
        sms: ""
      };
    },
    // 点击文件列表中已上传的文件回调
    handlePreview(file) {
      console.log("输出当前点击的文件", file);
    },
    // 文件列表移除文件时的钩子
    handleRemove(file, fileList) {
      console.log("文件移除", file);
    },
    //文件状态改变时的钩子
    handleChange(file, fileList) {
      console.log("文件", file, "全部文件", fileList);
      this.form.zczs = fileList;
    },
    handleChange2(file, fileList) {
      console.log("文件", file, "全部文件", fileList);
      this.form.sgzs = fileList;
    }
  }
};
</script>
<style lang="less" scoped>
.el-select {
  width: 100%;
}
</style>