<template>
  <div class="fillcontain">
    <div>
      <div class="btnRight">
        <el-button
          type="primary"
          size="mini"
          icon="el-icon-circle-plus-outline"
          round
          @click="onAdd()"
        >添加</el-button>
      </div>
    </div>
    <div class="table_container">
      <el-table
        v-loading="loading"
        :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
        style="width: 100%"
        align="center"
      >
        <el-table-column prop="index" label="序号" align="center" width="80">
          <template slot-scope="scope">
            <span>{{scope.$index+(currentPage - 1) * pageSize + 1}}</span>
          </template>
        </el-table-column>
        <el-table-column prop="userName" label="姓名" align="center"></el-table-column>
        <el-table-column prop="pass" label="密码" align="center"></el-table-column>
        <el-table-column prop="tel" label="联系电话" align="center"></el-table-column>
        <el-table-column prop="userGroup" label="用户组" align="center"></el-table-column>
        <el-table-column prop="createTime" label="创建时间" align="center" width="180"></el-table-column>
        <el-table-column label="操作" align="center" width="180">
          <template slot-scope="scope">
            <el-button
              type="text"
              size="small"
              @click="editAccount(scope.$index,scope.row)"
            >{{$t('publicOperation.edit')}}</el-button>
            <el-button
              type="text"
              size="small"
              style="color:red;"
              @click="deleteAccount(scope.$index,scope.row)"
            >{{$t('publicOperation.delete')}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <pagination
        v-if="pageTotals>5"
        :pageTotal="pageTotals"
        @handleSizeChange="handleSizeChange"
        @handleCurrentChange="handleCurrentChange"
      ></pagination>
    </div>
    <perdonnelDialog
      :perdonnelDgVisible.sync="perdonnelDgVisible"
      :perdonnelDgTitle="perdonnelDgTitle"
      :accountData="accountData"
      @closeDialog="closeDialog"
      @refureshAdminList="refureshAdminList"
    ></perdonnelDialog>
  </div>
</template>
<script>
// import searchItem from "./institutionList/searchItem";
import perdonnelDialog from "./perdonnelDialog";
import Pagination from "@/components/pagination";
import { formatDate, toFormData } from "@/utils/mUtils";
import { mapGetters } from "vuex";
import { getAdminList } from "@/api/institution";
export default {
  name: "personnelManage",
  components: {
    // searchItem,
    Pagination,
    perdonnelDialog
  },
  data() {
    return {
      loading: false,
      tableData: [],
      currentPage: 1,
      pageSize: 5,
      perdonnelDgVisible: false,
      perdonnelDgTitle: "Add",
      accountData: {}
      // queryData: {
      //   unitName: this.unitData.unitName
      // }
    };
  },
  computed: {
    ...mapGetters(["unitData"]),
    pageTotals: function() {
      return this.tableData.length;
    }
  },
  mounted() {
    // this.tableData = this.createData();
    console.log(this.unitData);

    this.getAdminData();
  },
  methods: {
    getAdminData() {
      let data = toFormData({ unitName: this.unitData.unitName });
      getAdminList(data).then(res => {
        if (res.code == "200") {
          this.loading = false;
          console.log("返回的管理员数据", res);
          // // 把数据内boolean格式化
          // let data = this.booleanFormatter(res.data);
          this.tableData = res.data;
        } else {
          this.$message.error("异常:" + res.msg);
        }
      });
    },
    // 编辑账号
    editAccount(index, row) {
      console.log("当前账号", row);
      this.perdonnelDgTitle = "Edit";
      this.accountData = row;
      this.showContactDgVisible();
    },
    // 删除账号
    deleteAccount(index, row) {
      this.$message({
        message: "删除" + index,
        type: "error"
      });
    },
    // 表格数据条数选择
    handleSizeChange(val) {
      this.currentPage = 1;
      this.pageSize = val;
    },
    // 切换页码
    handleCurrentChange(val) {
      this.currentPage = val;
    },
    // 添加新人员
    onAdd() {
      this.perdonnelDgTitle = "Add";
      this.accountData = {};
      this.showContactDgVisible();
    },
    // 显示编辑弹窗
    showContactDgVisible() {
      this.perdonnelDgVisible = true;
    },
    // 回调关闭弹窗
    closeDialog() {
      this.perdonnelDgVisible = false;
    },
    refureshAdminList() {
      // 刷新列表
      console.log("刷新管理员列表");
      this.getAdminData(this.queryData);
    },
    timeFormatter(row, column, cellValue, index) {
      if (cellValue) {
        return formatDate(new Date(cellValue), 1);
      }
    }
  }
};
</script>
<style lang="less" scoped>
.table_container {
  padding: 10px;
  // margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
}
.btnRight {
  float: right;
  margin: auto 10px 10px 10px;
}
</style>