<template>
  <section>
    <div class="title">
      <!-- <h3 style="text-align:center;">{{$t('projectManage.unitInformationList.title')}}</h3> -->
    </div>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      label-width="100px"
      class="demo-ruleForm"
    >
      <el-form-item>
        <el-col :span="7">
          <el-form-item label="机构名称">
            <el-input v-model="ruleForm.unitName" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item label="联系人">
            <el-input v-model="ruleForm.linkman"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item label="联系电话">
            <el-input v-model="ruleForm.tel"></el-input>
          </el-form-item>
        </el-col>
        <!-- <el-col :span="7">
          <el-form-item :label="$t('projectManage.unitInformationList.from.region')" prop="region">
            <el-select v-model="ruleForm.region" class="item">
              <el-option label="监测单位" value="0"></el-option>
              <el-option label="委托单位" value="1"></el-option>
            </el-select>
          </el-form-item>
        </el-col>-->
      </el-form-item>
      <el-form-item>
        <el-col :span="7">
          <el-form-item label="联系邮箱">
            <el-input v-model="ruleForm.email"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item label="所在区域">
            <el-row>
              <el-col :span="8">
                <el-select
                  v-model="ruleForm.pro"
                  @change="changePro()"
                  class="form-select"
                  placeholder="请选择省份"
                >
                  <el-option
                    v-for="(item,index) in proList"
                    :key="index"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-col>
              <el-col :span="8">
                <el-select
                  v-model="ruleForm.city"
                  @change="changeCity()"
                  class="form-select"
                  placeholder="请选择市"
                >
                  <el-option
                    v-for="(item,index) in cityList"
                    :key="index"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-col>
              <el-col :span="8">
                <el-select v-model="ruleForm.country" class="form-select" placeholder="请选择区">
                  <el-option
                    v-for="(item,index) in countryList"
                    :key="index"
                    :label="item.label"
                    :value="item.value"
                  ></el-option>
                </el-select>
              </el-col>
            </el-row>
            <!-- <el-cascader
              v-model="ruleForm.selectedOptions"
              :options="options"
              :separator="' '"
              :props="{ expandTrigger: 'hover' }"
              class="city-cascader"
              clearable
            ></el-cascader>-->
          </el-form-item>
        </el-col>
        <el-col :span="7">
          <el-form-item label="详细地址">
            <el-input v-model="ruleForm.addr"></el-input>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="7">
          <el-form-item label="当前状态">
            <el-input v-model="ruleForm.state" disabled></el-input>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item>
        <el-col :span="8">
          <el-form-item
            :label="$t('projectManage.unitInformationList.from.upload1')"
            :label-width="formLabelWidth"
          >
            <el-upload
              class="upload-demo"
              action="none"
              :auto-upload="true"
              :http-request="uploadFile"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              :on-change="handleChange"
              :file-list="fileList"
              list-type="picture"
            >
              <el-button size="mini" type="primary">Open</el-button>
              <div slot="tip" class="el-upload__tip">jpg/png/jpeg , max 10M</div>
            </el-upload>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item
            :label="$t('projectManage.unitInformationList.from.upload2')"
            :label-width="formLabelWidth"
          >
            <el-upload
              class="upload-demo"
              action="none"
              :auto-upload="true"
              :http-request="uploadFile"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              :on-change="handleChange2"
              :file-list="fileList"
              list-type="picture"
            >
              <el-button size="mini" type="primary">Open</el-button>
              <div slot="tip" class="el-upload__tip">jpg/png/jpeg , max 10M</div>
            </el-upload>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item
            :label="$t('projectManage.unitInformationList.from.upload3')"
            :label-width="formLabelWidth"
          >
            <el-upload
              class="upload-demo"
              action="none"
              :auto-upload="true"
              :http-request="uploadFile"
              :on-preview="handlePreview"
              :on-remove="handleRemove"
              :on-change="handleChange3"
              :file-list="fileList"
              list-type="picture"
            >
              <el-button size="mini" type="primary">Open</el-button>
              <div slot="tip" class="el-upload__tip">jpg/png/jpeg , max 10M</div>
            </el-upload>
          </el-form-item>
        </el-col>
      </el-form-item>
      <!-- <el-form-item style="text-align:center;">
        <el-button type="primary" @click="submitForm('ruleForm')">{{$t('publicOperation.save')}}</el-button>
      </el-form-item>-->
    </el-form>
    <div style="text-align:center;">
      <el-button
        type="primary"
        size="medium"
        plain
        @click="saveData()"
      >{{$t('publicOperation.save')}}</el-button>
    </div>
    <!--图片预览弹出框 -->
    <el-dialog :visible.sync="dialogVisible" center>
      <el-image style="width: 100%; height: 100p%" :src="dialogImageUrl"></el-image>
    </el-dialog>
  </section>
</template>
<script>
import options from "@/assets/datas/country-data.js";
// import { toFormData } from "@/utils/mUtils";
import * as mUtils from "@/utils/mUtils";
import { mapGetters } from "vuex";
import { editInstitution, queryInstitution } from "@/api/institution";
import { fileUpload } from "@/api/fileUpload";
export default {
  name: "UnitInformation",
  data() {
    return {
      // selectedOptions: [], //存放默认值
      options: options, //存放城市数据
      proList: options[0].children,
      cityList: [],
      countryList: [],
      formLabelWidth: "120px", //label宽度
      dialogImageUrl: "",
      dialogVisible: false,
      fileList: [],
      uploadFileData: {},
      ruleForm: {
        unitName: "",
        pro: "",
        city: "",
        country: "",
        addr: "",
        tel: "",
        email: "",
        natrue: "",
        linkman: "",
        aptitude: "",
        police: "",
        taxproof: "",
        state: "",
        createTime: "",
        dbname: "",
        cgdbname: "",
        isactive: ""
      },
      rules: {}
    };
  },
  computed: {
    ...mapGetters(["unitData"])
  },
  created() {
    this.ruleForm = this.unitData;
  },
  methods: {
    saveData() {
      // 拷贝
      let data = JSON.parse(JSON.stringify(this.ruleForm));
      data.unitname = data.unitName;
      delete data.unitName;
      console.log("保存的数据", data);
      data = mUtils.toFormData(data);
      editInstitution(data).then(res => {
        if (res.code == "200") {
          this.$message.success(res.msg);
          this.queryData(this.unitData.unitName);
        } else {
          this.$message.error("异常:" + res.msg);
        }
      });
    },
    queryData(unitname) {
      let data = {
        unitname: unitname
      };
      data = mUtils.toFormData(data);
      queryInstitution(data).then(res => {
        if (res.code == "200") {
          let data = res.data;
          console.log("修改前", data);
          // 把返回数据的字段名转化为小写,以匹配this.ruleForm的字段名
          for (var key in data) {
            console.log(key, key != "UnitName");
            if (key=="UnitName") {
              
            }
            data[key.toLowerCase()] = data[key];
            delete data[key];
          }
          data.unitName = data.unitname;
          delete data.unitname;
          console.log("修改后", data);
          this.ruleForm = data;
        } else {
          this.$message.error("异常:" + res.msg);
        }
      });
    },

    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    // 营业执照
    businessLicenseHandle(file) {
      // businessLicense
      console.log("当前选中file", file);
      const _that = this;
      const isLt10M = file.size / 1024 / 1024 < 10;
      if (!isLt10M) {
        this.$message.error("上传图片大小不能超过 10M!");
        return false;
      } else {
        this.dialogImageUrl = URL.createObjectURL(file.raw);
        this.dialogVisible = true;
        compress(file.raw, function(val) {
          console.log("压缩回调", val);
          console.log("寻找属性", _that.ruleForm.fileList2);
          // _that.ruleForm[attributeName];
          // _that.theForm.picUrl = val;
          // _that.imgFile = val;
          // _that.showDelete = true;
          // 调用图片URL表单校验
          // _that.$refs["addBuildingForm"].validateField("picUrl");
        });
      }
    },
    // 文件上传
    uploadFile() {
      if (JSON.stringify(this.uploadFileData) == "{}") {
        return;
      }
      this.uploadFileData.folderPath += this.unitData.unitName;
      console.log(this.uploadFileData);
      // 格式和文件大小校验
      if (
        mUtils.checkImageType(this.uploadFileData.fileData.type) &&
        mUtils.checkImageSize(this.uploadFileData.fileData.size, 1)
      ) {
        this.$message.success("ok");
        this.submit();
      }
      // const regx = new RegExp("(image/jpg)$|(image/jpeg)$|(image/png)$");
      // if (!regx.test(this.uploadFileData.fileData.type)) {
      //   this.$message.error("Drop your png/jpg/jpeg files here!");
      // } else if (this.uploadFileData.fileData.size / (1024 * 1024) > 10) {
      //   this.$message.error("Max 10M!");
      // } else {
      //   this.$message.success("ok");
      //   this.submit();
      // }
    },
    submit() {
      let data = mUtils.toFormData(this.uploadFileData);
      fileUpload(data).then(res => {
        if (res.code == "200") {
          let data = res.data;
          console.log("上传返回数据", data);
        } else {
          this.$message.error("异常:" + res.msg);
        }
      });
    },
    // 点击文件列表中已上传的文件回调
    handlePreview(file) {
      console.log("输出当前点击的文件", file);
    },
    // 文件列表移除文件时的钩子
    handleRemove(file, fileList) {
      console.log("文件移除", file);
    },
    //资质  文件状态改变时的钩子
    handleChange(file, fileList) {
      console.log("文件", file, "全部文件", fileList);
      this.uploadFileData.folderPath = "../资质/";
      this.uploadFileData.fileData = file.raw;
      // this.form.zczs = fileList;
    },
    //营业执照  文件状态改变时的钩子
    handleChange2(file, fileList) {
      console.log("文件", file, "全部文件", fileList);
      this.uploadFileData.folderPath = "../营业执照/";
      this.uploadFileData.fileData = file.raw;
      // this.form.sgzs = fileList;
    },
    //税务登记证  文件状态改变时的钩子
    handleChange3(file, fileList) {
      console.log("文件", file, "全部文件", fileList);
      this.uploadFileData.folderPath = "../税务登记证/";
      this.uploadFileData.fileData = file.raw;
      // this.form.sgzs = fileList;
    },
    // 修改省份
    changePro() {
      this.ruleForm.city = "";
      this.ruleForm.country = "";
      this.proList.some(item => {
        if (item.value == this.ruleForm.pro) {
          this.cityList = item.children;
        }
        return item.value == this.ruleForm.pro;
      });
    },
    // 修改市级
    changeCity() {
      // let that = this;
      this.ruleForm.country = "";
      this.cityList.some(item => {
        if (item.value == this.ruleForm.city) {
          this.countryList = item.children;
        }
        return item.value == this.ruleForm.city;
      });
    }
  }
};
</script>
<style lang="less" scoped>
.title {
  margin: 10px 5px;
}
.city-cascader {
  width: 100%;
}
.upload-demo {
  width: 360px;
  display: inline-block;
}
.item {
  width: 100%;
}
</style>