<template>
  <div class="home-content">
    <el-row :gutter="5">
      <el-col :span="19">
        <!-- <v-map></v-map> -->
        <v-mapChangeLayer></v-mapChangeLayer>
      </el-col>
      <el-col :span="5">
        <v-projectlist></v-projectlist>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import Map from "@/components/map/Map";
import ProjectList from "./components/projectList";
import mapChangeLayer from "@/components/map/mapChangeLayer";
export default {
  data() {
    return {};
  },
  components: {
    "v-projectlist": ProjectList,
    "v-map": Map,
    "v-mapChangeLayer": mapChangeLayer
  }
};
</script>
<style lang="less" scoped>
.home-content {
  margin: 0 10px;
}
</style>
