<template>
  <section>
    <searchItem2></searchItem2>
    <div class="chartTypeBox">
      <!-- <el-button type="primary" plain>主要按钮</el-button>
      <el-button type="primary" plain>主要按钮2</el-button>-->
      <el-button
        v-for="(item, index) in chartData"
        :key="index"
        @click="showChartType(item.chartType)"
        :class="{'chartTypeBox_btn-active':isChartType==item.chartType}"
        type="primary"
        plain
      >{{item.chartType}}</el-button>
    </div>
    <div class="chart_continer">
      <el-row :gutter="10" class="chart_row">
        <el-col :span="20" class="chart_row_col">
          <!-- <div  class="chartBox">
            <lineChart></lineChart>
          </div>-->
          <div
            v-for="(item1, index) in chartData"
            :key="index"
            class="chartBox"
            :id="item1.chartType"
            :class="item1.chartType"
            v-show="isChartType==item1.chartType"
          >
            <template v-if="isChartType==item1.chartType">
              <!-- <p>{{item1.chartType}}</p> -->
              <lineChart
                v-for="(item2, index2) in item1.chartList"
                :key="index2"
                :chartIndex="index2"
                :chartConfig="item1.chartConfig"
                :chartSeries="item2.data"
              ></lineChart>
            </template>
          </div>
        </el-col>
        <el-col :span="4" class="chart_row_col">
          <div class="chart_nameList">
            <ul class="chart_nameList_list">
              <li
                v-for="(item, index) in 15"
                :key="index"
                class="chart_nameList_list_item"
              >{{ index }}</li>
            </ul>
          </div>
        </el-col>
      </el-row>
    </div>
  </section>
</template>
<script>
import lineChart from "./lineChart";
import searchItem2 from "../searchComponents/searchItem2";
import barChart from "cps/echarts/barChart"; // 用户投资类型 柱状图
import pieChart from "cps/echarts/pieChart"; // 用户投资类型 饼状图
import radarChart from "cps/echarts/radarChart"; // 用户投资类型 雷达图
export default {
  components: {
    searchItem2,
    lineChart,
    barChart,
    pieChart,
    radarChart
  },
  data() {
    return {
      isChartType: "this",
      chartData: [
        {
          // 曲线类型
          chartType: "this",
          // 曲线配置
          chartConfig: {
            animation: false,
            title: {
              text: "折线图堆叠"
            },
            tooltip: {
              trigger: "axis"
            },
            legend: {
              data: ["邮件营销", "联盟广告", "视频广告", "直接访问", "搜索引擎"]
            },
            grid: {
              left: "3%",
              right: "4%",
              bottom: "3%",
              containLabel: true
            },
            toolbox: {
              feature: {
                saveAsImage: {}
              }
            },
            xAxis: {
              type: "category",
              boundaryGap: false,
              data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
            },
            yAxis: {
              type: "value"
            },
            series: []
          },
          // 曲线数据
          chartList: [
            {
              data: [
                {
                  name: "邮件营销",
                  type: "line",
                  stack: "总量",
                  data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                  name: "联盟广告",
                  type: "line",
                  stack: "总量",
                  data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                  name: "视频广告",
                  type: "line",
                  stack: "总量",
                  data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                  name: "直接访问",
                  type: "line",
                  stack: "总量",
                  data: [320, 332, 301, 334, 390, 330, 320]
                },
                {
                  name: "搜索引擎",
                  type: "line",
                  stack: "总量",
                  data: [820, 932, 901, 934, 1290, 1330, 1320]
                }
              ]
            },
            {
              data: [
                {
                  name: "股票",
                  type: "line",
                  stack: "总量",
                  // areaStyle: { normal: {} },
                  data: [25, 132, 101, 134, 390, 230, 210]
                },
                {
                  name: "基金",
                  type: "line",
                  stack: "总量",
                  // areaStyle: { normal: {} },
                  data: [220, 18, 191, 234, 29, 330, 310]
                },
                {
                  name: "债券",
                  type: "line",
                  stack: "总量",
                  // areaStyle: { normal: {} },
                  data: [150, 232, 301, 154, 190, 430, 110]
                },
                {
                  name: "期货",
                  type: "line",
                  stack: "总量",
                  // areaStyle: { normal: {} },
                  data: [30, 332, 201, 34, 390, 130, 320]
                },
                {
                  name: "储蓄",
                  type: "line",
                  stack: "总量",
                  label: {
                    normal: {
                      show: true,
                      position: "top"
                    }
                  },
                  // areaStyle: { normal: {} },
                  data: [120, 632, 501, 934, 1290, 730, 1320]
                }
              ]
            }
          ]
        },
        {
          // 曲线类型
          chartType: "accumulative",
          // 曲线配置
          chartConfig: {},
          // 曲线数据
          chartList: [{}]
        },
        {
          // 曲线类型
          chartType: "three",
          // 曲线配置
          chartConfig: {},
          // 曲线数据
          chartList: [{}]
        }
      ]
    };
  },
  mounted() {},
  methods: {
    showChartType(type) {
      if (type) {
        this.isChartType = type;
      }
    }
  }
};
</script>
<style lang="less" scoped>
.chartTypeBox {
  background-color: white;
  padding: 5px 10px;
  border: solid 1px #ebeef5;
}

.chartTypeBox_btn-active {
  background: #409eff;
  border-color: #409eff;
  color: #fff;
}

// 曲线容器
.chart_continer {
  .chart_row {
    margin-left: 0 !important;
    margin-right: 0 !important;

    .chart_row_col {
      height: 680px;
      overflow-y: auto;
      padding-left: 0 !important;
      padding-right: 0 !important;
      border: solid 1px #ebeef5;
    }
  }

  .chart_nameList {
    background-color: white;
    height: 670px;
    overflow-y: auto;

    .chart_nameList_list {
      padding: 0;
      margin: 0;
      list-style: none;
      // height: 100%;

      .chart_nameList_list_item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        background: #e8f3fe;
        margin: 10px;
        color: #7dbcfc;
      }
    }
  }
}

.chartBox {
  background-color: azure;
  min-height: 250px;
  // min-width: 600px;
  width: 100%;
  .orderArea {
    width: 100%;
    height: 550px;
    background: #fff !important;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 40px;
    overflow: hidden;
  }
}
.AnchorBox {
  background-color: blanchedalmond;
  height: 350px;
}
</style>
<style lang="less" scope>
// 竖向滚动条
.chart_row_col::-webkit-scrollbar,
.chart_nameList::-webkit-scrollbar {
  width: 4px;
  height: 8px !important;
}
/*滚动条的背景区域的内阴影*/
.chart_row_col::-webkit-scrollbar-track,
.chart_nameList::-webkit-scrollbar-track {
  //  box-shadow:0px 1px 3px rgba(0,0,0,0.3) inset;
  /*滚动条的背景区域的圆角*/
  border-radius: 10px;
  /*滚动条的背景颜色*/
  background-color: #ddd;
}
/*滑块 滚动条的内阴影*/

.chart_row_col::-webkit-scrollbar-thumb,
.chart_nameList::-webkit-scrollbar-thumb {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
  background-color: #ff6c60;
  border-radius: 4px;
}

// 横向滚动条
// ::-webkit-scrollbar:horizontal {
//   width: 0;
//   height: 10px !important;
// }
// ::-webkit-scrollbar-track:horizontal {
//   background-color: #fff;
// }
</style>