<template>
  <div :id="id" class="orderArea"></div>
</template>

<script>
import echarts from "echarts";
import echartsTheme from "cps/echarts/theme/westeros.json";

export default {
  data() {
    return {
      id: "lineChart",
      myChart: null,
      lim: 0,
      config: {},
      series: []
    };
  },
  props: {
    chartIndex: {
      type: Number
    },
    chartConfig: {
      type: Object,
      default: () => {
        return {};
      },
      required: false
    },
    chartSeries: {
      type: Array,
      default: () => [],
      required: false
    }
  },
  watch: {
    // chartConfig: {
    //   deep: true, //深度监听
    //   handler: function(newValue, oldValue) {
    //     this.config = newValue;
    //   }
    // }
  },
  created() {
    // let time = new Date();
    // this.id = "lineChart" + time.getTime();
    // console.log(this.id);
  },
  mounted() {
    this.id = this.id + this.chartIndex;
    this.config = this.chartConfig;
    this.series = this.chartSeries;
    console.log("config", this.chartConfig, "series", this.chartSeries);

    this.loadChart();
  },
  beforeDestroy() {
    if (!this.myChart) {
      return;
    }
    this.myChart.dispose();
    this.myChart = null;
  },
  methods: {
    loadChart() {
      this.$nextTick(() => {
        // echarts.registerTheme("westeros", echartsTheme);
        this.myChart = echarts.init(document.getElementById(this.id));
        this.myChart.setOption(this.initChart());
      });
    },
    initChart() {
      let data = this.config;
      data.series = this.series;
      return data;
    }
  },
  watch: {
    // id:()=>{
    //     this.initOption()
    // }
  }
};
</script>

<style lang="less">
</style>
