<template>
  <el-tabs size="mini" v-model="editableTabsValue" type="card">
    <el-tab-pane
      v-for="(item, index) in editableTabs"
      :key="index"
      :label="item.title"
      :name="item.name"
    >
      {{item.content}}
      <div class="chartBox">
        <lineChart></lineChart>
      </div>
    </el-tab-pane>
  </el-tabs>
</template>
<script>
import lineChart from "./lineChart";
export default {
  components: {
    lineChart
  },
  data() {
    return {
      editableTabsValue: "1",
      editableTabs: [
        {
          title: "Tab 1",
          name: "1",
          content: "Tab 1 content"
        },
        {
          title: "Tab 2",
          name: "2",
          content: "Tab 2 content"
        }
      ],
      tabIndex: 2
    };
  },
  methods: {}
};
</script>
<style lang="less" scoped>
.chartBox {
  background-color: azure;
  height: 350px;
  width: 100%;
  .orderArea {
    width: 100%;
    height: 550px;
    background: #fff !important;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 40px;
    overflow: hidden;
  }
}
</style>